{% extends "layout_profiles.html" %}

{% block page_title %}
     National Careers Service
{% endblock %}

{% block content %}

{% include "includes/new_navigation.html" %}

<div class="welcome_block content-page">
	<div class="home_content">
          {% include "includes/breadcrumb_finance.html" %}
		<div class="grid-row">
               <div class="column-two-thirds">
                    <h1 class="heading-xlarge">Bank manager</h1>
                    <div class="border"></div>
                    <p class="lede grey">Building society manager, financialinstitution manager or director</p>
                    <p class="lede">Bank managers oversee the day-to-day operations of their
                    branch, supervise staff and work to attract new
                    customers.</p>
               </div>
		</div>
          <div class="grid-row">
               <div class="column-one-half">
                    <section class="salary">
                         <span class="icon"></span>
                         <div class="main-intro">
                              <h1 class="lede">Salary</h1>
                              <span class="border"></span>
                              <p class="bold-medium">£18,000 to £70,000</p>
                              <p class="lede">average per year</p>
                         </div>
                    </section>
               </div>
               <div class="column-one-half">
                    <section class="hours">
                         <span class="icon"></span>
                         <div class="main-intro">
                              <h1 class="lede">Hours</h1>
                              <span class="border"></span>
                              <p class="bold-medium">37 to 40</p>
                              <p class="lede">hours per week</p>
                         </div>
                    </section>
               </div>
          </div>
	</div>
     <div class="row-divider"><span></span></div>
     <!-- <div class="wrapper"></div> -->
</div>


<main id="content" role="main">

     <div id="sidebar">
	     <div class="grid-row">
	          <div class="column-full">
				<div id="scroller-anchor"></div>
				<div id="scroller">
		               <nav aria-label="skip to your documents" class="jump-links hybrid-links" role="navigation">
		                    <div class="grid-row">
		                         <div class="column-one-third">
		                              <ol class="list list-number">
		                                   <li>
		                                        <a href="#entry-requirements">Entry requirements</a>
		                                   </li>
		                                   <li>
		                                        <a href="#skills-required">Skills required</a>
		                                   </li>
		                              </ol>
		                         </div>
		                         <div class="column-one-third">
		                              <ol class="list list-number" start="3">
		                                   <li>
		                                        <a href="#what-youll-do">What you'll do</a>
		                                   </li>
		                                   <li>
		                                        <a href="#salary">Salary</a>
		                                   </li>
		                              </ol>
		                         </div>
		                         <div class="column-one-third">
		                              <ol class="list list-number" start="5">
		                                   <li>
		                                        <a href="#working-hours-patterns-and-environment">Working hours, patterns and environment</a>
		                                   </li>
		                                   <li>
		                                        <a href="#career-path-and-progression">Career path and progression</a>
		                                   </li>
		                                   <!-- <li>
		                                        <a href="#current-vacancies">Current vacancies</a>
		                                   </li> -->
		                                   <!-- <li>
		                                        <a href="#research">Research portal</a>
		                                   </li> -->
		                              </ol>
		                         </div>
		                    </div>
		               </nav>
				</div>
	          </div>
	     </div>
	</div>

     <div class="grid-row">
          <div class="column-two-thirds">
               <div class="video-container">
                    <iframe allowfullscreen="" frameborder="0"height="315" src="https://www.youtube.com/embed/xK3h-ySce2c?cc_load_policy=1" width="560"></iframe>
               </div>

			<div class="panel panel-border-wide">
				<p>
					This video is 1 minute and 36 seconds long
				</p>
			</div>

               <section id="entry-requirements">
                    <h2 class="heading-large"><span>1.</span> Entry requirements</h2>
                    <p>
                         There are no set requirements but you could get into
                         this job by:
                    </p>
                    <ul class="list list-bullet">
                         <li>
                              joining a bank or building society's graduate
                              management trainee scheme
                         </li>
                         <li>
                              gaining experience in branch operations as an
                              assistant manager and working your way up
                         </li>
                         <li>
                              taking a <a href="https://www.gov.uk/apprenticeships-guide">higher apprenticeship</a>
                         </li>
                    </ul>
                    <p>
                         You'll usually need a degree to join a management
                         trainee scheme. A degree in business, economics, finance,
                         management or marketing may be the most useful.
                    </p>
                    <h3 class="heading-medium">Courses available in your area</h3>
                    <h4 class="heading-small">
                         <a href="http://www.manchester.ac.uk/study/undergraduate/courses/2017/03519/bsc-management/">
                         Management</a>
                    </h4>
                    <ul class="list">
                         <li>Location: Manchester</li>
                         <li>Duration: 3 years</li>
                         <li>Type: Full time</li>
                         <li>Qualification: BSc degree</li>
                    </ul>
               </section><!--section 1-->
               <section id="skills-required">
                    <h2 class="heading-large"><span>2.</span> Skills required</h2>
                    <p>You'll need:</p>
                    <ul class="list list-bullet">
                         <li>the ability to lead, manage and motivate staff</li>
                         <li>sales and marketing skills</li>
                         <li>the ability to take responsibility and make decisions</li>
                    </ul>
               </section><!--section 2-->
               <section id="what-youll-do">
                    <h2 class="heading-large"><span>3.</span> What you'll do</h2>
                    <p>You'll run one or more high street bank branches.</p>
                    <p>Your day-to-day tasks may include:</p>
                    <ul class="list list-bullet">
                         <li>communicating and implementing business, marketing and sales plans</li>
                         <li>monitoring sales targets and budgets, and producing figures and reports</li>
                         <li>assessing lending risk</li>
                         <li>motivating staff to meet targets</li>
                         <li>understanding the needs of individual and business customers</li>
                         <li>making sure that staff follow rules and procedures</li>
                         <li>developing relationships with the local community and businesses</li>
                         <li>dealing with customer complaints</li>
                    </ul>
               </section><!--section 3-->
               <section id="salary">
                    <h2 class="heading-large"><span>4.</span> Salary</h2>
                    <ul class="salaries two-thirds">
                         <li>
                              <strong>Starter:</strong>
                              <div class="value">
                                   <span>£18,000 to £40,000</span>
                              </div>
                         </li>
                         <li>
                              <strong>Experienced:</strong>
                              <div class="value">
                                   <span>£40,000 to £60,000*</span>
                              </div>
                              <p>* Senior branch managers</p>
                         </li>
                         <li>
                              <strong>Highly experienced:</strong>
                              <div class="value">
                                   <span>£70,000 or more</span>
                              </div>
                              <p>* Regional and head office managers</p>
                         </li>
                    </ul>
                    <p>
                         These figures are a guide.
                    </p>
               </section><!--section 4 -->
               <section id="working-hours-patterns-and-environment">
                    <h2 class="heading-large"><span>5.</span> Working hours, patterns and environment</h2>
                    <p>
                         You'll usually work 9am to 5pm, Monday to Friday. You
                         may also work on Saturdays, depending on your branch's
                         opening hours.
                    </p>
                    <p>
                         You may also be on a rota for security callouts.
                    </p>
                    <p>
                         You'll be based in an office at your branch. If you
                         become a regional manager, you'll travel between a of
                         number branches.
                    </p>
               </section><!--section 5-->
               <section id="career-path-and-progression">
                    <h2 class="heading-large"><span>6.</span> Career path and progression</h2>
                    <p>
                         You could work towards chartered banker status with the <a href="http://www.charteredbanker.com/home/qualifications/">Chartered Banker Institute</a>. This could help broaden your career
                         options at senior management level.
                    </p>
                    <p>
                         With experience, you could take on responsibility for
                         several branches in a local area or region. You could move
                         into head office operations, or work with the bank's
                         overseas division.
                    </p>
                    <p>
                         You could also work in corporate or investment banking.
                    </p>
               </section><!--section 6-->
               <p class="grey font-xsmall">Last updated: 23 March 2016</p>
          </div>
          <div class="column-one-third">
               {% include "includes/sidebar.html" %}
          </div>
     </div>
</main>

<section class="what-next">
     <div class="home_content">
          <div class="grid-row">
               <div class="column-full">
                    <h1 class="heading-xlarge">So what next?</h1>
               </div>
          </div>
          <div class="grid-row">
               <div class="column-one-third">
                    <h2 class="heading-medium">Research Bank manager</h2>
                    <p>
                         We have created an entire research hub for anyone who wishes to know more about becoming
                         a Bank manager in their local area.
                    </p>
                    <a class="button button-start" href="set-location-paralegal.html" role="button">Research</a>
               </div>
               <div class="column-one-third">
                    <h2 class="heading-medium">How to become a Bank manager</h2>
                    <p>
                         Not everyone has the same journey to their perfect career, but we can help you along the right path.
                    </p>
                    <a class="button button-start" href="how-to-become.html" role="button">Become</a>
               </div>
               <div class="column-one-third">
                    <h2 class="heading-medium">Preparing to become a Bank manager</h2>
                    <p>
                         Helping to prepare you for a career as a Bank manager is what we’re here for.
                    </p>
                    <a class="button button-start" href="resources.html" role="button">Prepare</a>
               </div>
          </div>
     </div>
</section>

<section class="testimonial">
     <div class="home_content">
          <div class="grid-row">
               <div class="column-full">
                    <img src="/public/images/worker-1.jpg" alt="Jamie Gould, Bank manager">
                    <div class="text-wrap">
                         <h1 class="heading-medium">
                              I love being a Bank manager, if offers me such a diverse range of work, it always
                              keeps me on my toes. You need to work hard but you are rewarded for what you put in.
                         </h1>
                         <h2 class="heading-small turquoise-text">Barclays Bank</h2>
                         <p class="grey font-xsmall">Jamie Gould - Senior Bank manager</p>
                    </div>
               </div>
          </div>
          <!-- <span class="quote one"></span>
          <span class="quote two"></span> -->
     </div>
</section>

<section class="extra-content">
     <div class="home_content">
          <div class="grid-row">
               <div class="column-one-third">
                    <hr>
                    <h1 class="heading-medium">Apply for jobs</h1>
                    <p class="grey font-small">Below are some Bank manager jobs that are local to you in Newcastle</p>
                    <h4 class="heading-small">
                         <a href="#">Bank manager - Commercial Property</a>
                    </h4>
                    <ul class="list">
                         <li>
                              Location: Newcastle<br>
                              Type: Full time<br>
                              Salary: £22,000.00 per year
                         </li>
                    </ul>
                    <h4 class="heading-small">
                         <a href="#">Bank manager</a>
                    </h4>
                    <ul class="list">
                         <li>
                              Location: Newcastle<br>
                              Type: Full time<br>
                              Salary: £15,000 - £30,000 a year
                         </li>
                    </ul>
                    <a href="#">Find more jobs</a>
               </div>
               <div class="column-one-third">
                    <hr>
                    <h1 class="heading-medium">Find a course</h1>
                    <p class="grey font-small">Where can I get the skill &amp; qualifications I need to get the job?</p>
                    <h4 class="heading-small">
                         <a href="#">Bank manager Apprentice</a>
                    </h4>
                    <ul class="list">
                         <li>
                              Location: Newcastle<br>
                              Duration: 12 months<br>
                              Course type: Full time<br>
                              Qualification: Intermediate Level Apprenticeship
                         </li>
                    </ul>
                    <h4 class="heading-small">
                         <a href="#">Bank manager</a>
                    </h4>
                    <ul class="list">
                         <li>
                              Location: Newcastle<br>
                              Duration: 3 years<br>
                              Course type: Full time<br>
                              Qualification: LLB (Hons)
                         </li>
                    </ul>
                    <a href="#">Get more skills &amp; Qualifications</a>
               </div>
               <div class="column-one-third">
                    <hr>
                    <h1 class="heading-medium">Take the next step</h1>
                    <p class="grey font-small">How can I progress my career?</p>
                    <ul class="list">
                         <li>Find a graduate career with <a href="#">Nationwide</a></li>
                         <li>Find graduate opportunities with <a href="#">Lloyds Banking Group</a></li>
                         <li>Professional development with the <a href="#">Chartered Banking Institute</a></li>
                    </ul>
                    <a href="#">Become self-employed</a>
               </div>
          </div>

          <!-- <hr> -->

          <div class="grid-row">
               <div class="column-one-third">
                    <hr>
                    <h1 class="heading-medium">Apply for an apprenticeship</h1>
                    <p class="grey font-small">Get your foot in the door and start your career with these Apprenticeships &amp; internships</p>
                    <h4 class="heading-small">
                         <a href="#">The University of Newcastle</a>
                    </h4>
                    <ul class="list">
                         <li>
                              Location: Oxford Rd, Newcastle NE13 9PL<br>
                              Course type: Full time<br>
                              Duration: 2 - 3 years
                         </li>
                    </ul>
                    <a href="#">Find more apprenticeships</a>
               </div>
               <div class="column-one-third">
                    <hr>
                    <h1 class="heading-medium">Apply for a traineeship</h1>
                    <p class="grey font-small">Why not start your career with a traineeship</p>
                    <h4 class="heading-small">
                         <a href="#">The University of Newcastle</a>
                    </h4>
                    <ul class="list">
                         <li>
                              Location: Oxford Rd, Newcastle NE13 9PL<br>
                              Course type: Full time<br>
                              Duration: 2 - 3 years
                         </li>
                    </ul>
                    <a href="#">Find more traineeship</a>
               </div>
               <div class="column-one-third">
                    <hr>
                    <h1 class="heading-medium">Contact us</h1>
                    <p class="grey font-small">Do you just want to speak to someone who can help?</p>
                    <h4 class="heading-small">
                         <a href="#" class="email"><span></span> careers@sfa.bis.gov.uk</a>
                    </h4>
                    <h4 class="heading-small">
                         <a href="#" class="phone"><span></span> 0123 456 789</a>
                    </h4>
                    <br>
                    <h1 class="heading-medium">National Careers Service</h1>
                    <h4 class="heading-small">
                         <a href="#">Job profiles search</a>
                    </h4>
                    <h4 class="heading-small">
                         <a href="#">Find a course</a>
                    </h4>
               </div>
          </div>

     </div>
</section>

{% endblock %}
