{% extends "layout_profiles.html" %}

{% block page_title %}
     National Careers Service
{% endblock %}

{% block content %}

{% include "includes/new_navigation.html" %}

<div class="welcome_block content-page">
	<div class="home_content">
          {% include "includes/breadcrumb_finance.html" %}
		<div class="grid-row">
               <div class="column-two-thirds">
                    <h1 class="heading-xlarge">Credit controller</h1>
                    <div class="border"></div>
                    <p class="lede grey">Debt collection agent</p>
                    <p class="lede">Credit controllers help firms get the money they're owed from businesses and individuals.</p>
               </div>
		</div>
          <div class="grid-row">
               <div class="column-one-half">
                    <section class="salary">
                         <span class="icon"></span>
                         <div class="main-intro">
                              <h1 class="lede">Salary</h1>
                              <span class="border"></span>
                              <p class="bold-medium">£16,000 to £30,000</p>
                              <p class="lede">average per year</p>
                         </div>
                    </section>
               </div>
               <div class="column-one-half">
                    <section class="hours">
                         <span class="icon"></span>
                         <div class="main-intro">
                              <h1 class="lede">Hours</h1>
                              <span class="border"></span>
                              <p class="bold-medium">37 to 40</p>
                              <p class="lede">hours per week</p>
                         </div>
                    </section>
               </div>
          </div>
	</div>
     <div class="row-divider"><span></span></div>
     <!-- <div class="wrapper"></div> -->
</div>

<main id="content" role="main">

     <div id="sidebar">
	     <div class="grid-row">
	          <div class="column-full">
				<div id="scroller-anchor"></div>
				<div id="scroller">
		               <nav aria-label="skip to your documents" class="jump-links hybrid-links" role="navigation">
		                    <div class="grid-row">
		                         <div class="column-one-third">
		                              <ol class="list list-number">
		                                   <li>
		                                        <a href="#entry-requirements">Entry requirements</a>
		                                   </li>
		                                   <li>
		                                        <a href="#skills-required">Skills required</a>
		                                   </li>
		                              </ol>
		                         </div>
		                         <div class="column-one-third">
		                              <ol class="list list-number" start="3">
		                                   <li>
		                                        <a href="#what-youll-do">What you'll do</a>
		                                   </li>
		                                   <li>
		                                        <a href="#salary">Salary</a>
		                                   </li>
		                              </ol>
		                         </div>
		                         <div class="column-one-third">
		                              <ol class="list list-number" start="5">
		                                   <li>
		                                        <a href="#working-hours-patterns-and-environment">Working hours, patterns and environment</a>
		                                   </li>
		                                   <li>
		                                        <a href="#career-path-and-progression">Career path and progression</a>
		                                   </li>
		                                   <!-- <li>
		                                        <a href="#current-vacancies">Current vacancies</a>
		                                   </li> -->
		                                   <!-- <li>
		                                        <a href="#research">Research portal</a>
		                                   </li> -->
		                              </ol>
		                         </div>
		                    </div>
		               </nav>
				</div>
	          </div>
	     </div>
	</div>

     <div class="grid-row">
          <div class="column-two-thirds">

               <div class="video-container">
                    <iframe allowfullscreen="" frameborder="0"height="315"
                    src="https://www.youtube.com/embed/22IlV3a09iA?cc_load_policy=1" width=
                    "560"></iframe>
               </div>

               <div class="panel panel-border-wide">
				<p>
					This video is 1 minute and 28 seconds long
				</p>
			</div>

               <section id="entry-requirements">
                    <h2 class="heading-large"><span>1.</span> Entry requirements</h2>
                    <p>
                         There are no set requirements, but GCSEs (A* to C)
                         including maths can help.
                    </p>
                    <p>
                         Previous office work will be an advantage, especially in
                         customer service or accounts. A qualification in
                         bookkeeping or accounts may be useful.
                    </p>
                    <p>
                         You could get into this career through an <a href=
                         "https://www.gov.uk/apprenticeships-guide">apprenticeship</a>.
                    </p>
                    <h3 class="heading-medium">Courses available in your area</h3>
                    <h4 class="heading-small">
                         <a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/-15321">
                         Debt Management Administrator Apprentice</a>
                    </h4>
                    <ul class="list">
                         <li>Location: Manchester</li>
                         <li>Duration: 12 months</li>
                         <li>Type: Full time</li>
                         <li>Qualification: Intermediate Level Apprenticeship</li>
                    </ul>
               </section><!--section 1-->
               <section id="skills-required">
                    <h2 class="heading-large"><span>2.</span> Skills required</h2>
                    <p>You'll need:</p>
                    <ul class="list list-bullet">
                         <li>the ability to work to strict deadlines</li>
                         <li>good negotiation skills</li>
                         <li>the ability to explain financial matters clearly</li>
                         <li>administrative and computer skills</li>
                    </ul>
               </section><!--section 2-->
               <section id="what-youll-do">
                    <h2 class="heading-large"><span>3.</span> What you'll do</h2>
                    <p>You'll work in:</p>
                    <ul class="list list-bullet">
                         <li>
                              a 'third party' collection agency, paid to collect
                              debts from businesses or individuals, or
                         </li>
                         <li>
                              a company's finance or credit department, chasing
                              late payments from suppliers and customers
                         </li>
                    </ul>
                    <p>
                         Your day-to-day tasks may include:
                    </p>
                    <ul class="list list-bullet">
                         <li>
                              contacting individuals or business customers when
                              payment is overdue
                         </li>
                         <li>
                              checking credit records and tracing missing
                              debtors
                         </li>
                         <li>
                              setting up repayment plans and working with debt
                              counsellors
                         </li>
                         <li>
                              setting up and maintaining customer files
                         </li>
                         <li>
                              processing payments
                         </li>
                         <li>
                              starting legal proceedings if debts are not paid
                              within an agreed time
                         </li>
                         <li>
                              liaising with solicitors and bailiffs
                         </li>
                    </ul>
                    <p>
                         You may work at a debt collection agency as a 'field
                         collector', travelling to debtors to collect payments in
                         person.
                    </p>
               </section><!--section 3-->
               <section id="salary">
                    <h2 class="heading-large"><span>4.</span> Salary</h2>
                    <ul class="salaries two-thirds">
                         <li>
                              <strong>Starter:</strong>
                              <div class="value">
                                   <span>£16,000 to £22,000</span>
                              </div>
                         </li>
                         <li>
                              <strong>Experienced:</strong>
                              <div class="value">
                                   <span>£22,000 to £27,000</span>
                              </div>
                         </li>
                         <li>
                              <strong>Highly experienced:</strong>
                              <div class="value">
                                   <span>£30,000 or more</span>
                              </div>
                         </li>
                    </ul>
                    <p>These figures are a guide.</p>
                    <p>Self-employed credit controllers set their own rates.</p>
               </section><!--section 4 -->
               <section id="working-hours-patterns-and-environment">
                    <h2 class="heading-large"><span>5.</span> Working hours, patterns and environment</h2>
                    <p>
                         You'll work standard office hours, or do shifts
                         including evenings and weekends.
                    </p>
                    <p>
                         You'll be based in an office or a call centre. If you're
                         working as a field collector you will usually work from
                         home and travel to visit clients at their home or
                         business.
                    </p>
               </section><!--section 5-->
               <section id="career-path-and-progression">
                    <h2 class="heading-large"><span>6.</span> Career path and progression</h2>
                    <p>
                         With experience and professional qualifications, you
                         could be promoted to credit manager. You could also start
                         your own collection agency or set up as a freelance field
                         collection agent.
                    </p>
               </section><!--section 6-->
               <p class="grey font-xsmall">Last updated: 23 March 2016</p>
          </div>
          <div class="column-one-third">
               {% include "includes/sidebar.html" %}
          </div>
     </div>
</main>

<section class="what-next">
     <div class="home_content">
          <div class="grid-row">
               <div class="column-full">
                    <h1 class="heading-xlarge">So what next?</h1>
               </div>
          </div>
          <div class="grid-row">
               <div class="column-one-third">
                    <h2 class="heading-medium">Research Credit controller</h2>
                    <p>
                         We have created an entire research hub for anyone who wishes to know more about becoming
                         a Credit controller in their local area.
                    </p>
                    <a class="button button-start" href="set-location-paralegal.html" role="button">Research</a>
               </div>
               <div class="column-one-third">
                    <h2 class="heading-medium">How to become a Credit controller</h2>
                    <p>
                         Not everyone has the same journey to their perfect career, but we can help you along the right path.
                    </p>
                    <a class="button button-start" href="how-to-become.html" role="button">Become</a>
               </div>
               <div class="column-one-third">
                    <h2 class="heading-medium">Preparing to become a Credit controller</h2>
                    <p>
                         Helping to prepare you for a career as a Credit controller is what we’re here for.
                    </p>
                    <a class="button button-start" href="resources.html" role="button">Prepare</a>
               </div>
          </div>
     </div>
</section>

<section class="testimonial">
     <div class="home_content">
          <div class="grid-row">
               <div class="column-full">
                    <img src="/public/images/worker-1.jpg" alt="Fred Smith, Credit controller">
                    <div class="text-wrap">
                         <h1 class="heading-medium">
                              I love being a Credit controller, if offers me such a diverse range of work, it always
                              keeps me on my toes. You need to work hard but you are rewarded for what you put in.
                         </h1>
                         <h2 class="heading-small turquoise-text">KMPG</h2>
                         <p class="grey font-xsmall">Fred Smith - Credit controller</p>
                    </div>
               </div>
          </div>
          <!-- <span class="quote one"></span>
          <span class="quote two"></span> -->
     </div>
</section>

<section class="extra-content">
     <div class="home_content">
          <div class="grid-row">
               <div class="column-one-third">
                    <hr>
                    <h1 class="heading-medium">Apply for jobs</h1>
                    <p class="grey font-small">Below are some Credit controller jobs that are local to you in Newcastle</p>
                    <h4 class="heading-small">
                         <a href="#">Incomes Recovery Coordinator / Arrears / Debt Collection</a>
                    </h4>
                    <ul class="list">
                         <li>
                              Location: Newcastle<br>
                              Type: Full time<br>
                              Salary: £22,000.00 per year
                         </li>
                    </ul>
                    <h4 class="heading-small">
                         <a href="#">Debt Negotiator</a>
                    </h4>
                    <ul class="list">
                         <li>
                              Location: Newcastle<br>
                              Type: Full time<br>
                              Salary: £15,000 - £30,000 a year
                         </li>
                    </ul>
                    <a href="#">Find more jobs</a>
               </div>
               <div class="column-one-third">
                    <hr>
                    <h1 class="heading-medium">Find a course</h1>
                    <p class="grey font-small">Where can I get the skill &amp; qualifications I need to get the job?</p>
                    <ul class="list">
                         <li><a href="#">Chartered Institute of Credit Management</a></li>
                         <li><a href="#">Reed</a></li>
                         <li><a href="#">Distance learning centre</a></li>
                    </ul>
                    <a href="#">Get more skills &amp; Qualifications</a>
               </div>
               <div class="column-one-third">
                    <hr>
                    <h1 class="heading-medium">Take the next step</h1>
                    <p class="grey font-small">How can I progress my career?</p>
                    <h4 class="heading-small">
                         <a href="#">Accountant</a>
                    </h4>
                    <p>From credit control you could become a qualified accountant</p>
                    <a href="#">Become self-employed</a>
               </div>
          </div>

          <!-- <hr> -->

          <div class="grid-row">
               <div class="column-one-third">
                    <hr>
                    <h1 class="heading-medium">Apply for an apprenticeship</h1>
                    <p class="grey font-small">Get your foot in the door and start your career with these Apprenticeships &amp; internships</p>
                    <ul class="list">
                         <li>
                              You could earn and learn by doing an <a href="#">apprenticeship</a>
                         </li>
                    </ul>
                    <a href="#">Find more apprenticeships</a>
               </div>
               <div class="column-one-third">
                    <hr>
                    <h1 class="heading-medium">Apply for a traineeship</h1>
                    <p class="grey font-small">Why not start your career with a traineeship</p>
                    <ul class="list">
                         <li>
                              If you’re not ready for an apprenticeship you could do a <a href="#">traineeship</a> which may lead into an apprenticeship
                         </li>
                    </ul>
                    <a href="#">Find more traineeship</a>
               </div>
               <div class="column-one-third">
                    <hr>
                    <h1 class="heading-medium">Contact us</h1>
                    <p class="grey font-small">Do you just want to speak to someone who can help?</p>
                    <h4 class="heading-small">
                         <a href="#" class="email"><span></span> careers@sfa.bis.gov.uk</a>
                    </h4>
                    <h4 class="heading-small">
                         <a href="#" class="phone"><span></span> 0123 456 789</a>
                    </h4>
                    <br>
                    <h1 class="heading-medium">National Careers Service</h1>
                    <h4 class="heading-small">
                         <a href="#">Job profiles search</a>
                    </h4>
                    <h4 class="heading-small">
                         <a href="#">Find a course</a>
                    </h4>
               </div>
          </div>

     </div>
</section>

{% endblock %}
