{% extends "layout_landing_page.html" %}

{% block page_title %}
     National Careers Service
{% endblock %}

{% block content %}

{% include "includes/new_navigation.html" %}

<div class="welcome_block content-page">
	<div class="home_content">
		<div class="grid-row">
               <div class="column-two-thirds">
                    <h1 class="heading-xlarge">Paralegal</h1>
                    <div class="border"></div>
                    <p class="lede">Paralegals prepare legal documents, carry out research and give legal advice to clients.</p>
                    <p class="lede"><a href="paralegal2.html" class="button button-start">View Paralegal job profile</a></p>
               </div>
		</div>
	</div>
     <div class="row-divider"><span></span></div>
     <!-- <div class="wrapper"></div> -->
</div>


<main id="content" class="intro-content" role="main">

     <div class="grid-row">
          <div class="column-one-half">
               <section class="intro-section">
                    <h1 class="heading-large">View Paralegal job profile</h1>
                    <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/gtjLr7AXOsU?cc_load_policy=1"
                    width="100%"></iframe>
                    <div class="panel panel-border-wide">
                         <p>
                              This video is 2 minutes and 7 seconds long
                         </p>
                    </div>
                    <p>
                         Interested in a job as a Paralegal?
                    </p>
                    <p>
                         We have much more information on the job role if you would like to know more.
                    </p>
                    <a class="button button-start" href="paralegal2.html" role="button">View job profile</a>
               </section>
          </div>
          <div class="column-one-half">
               <section class="intro-section">
                    <h1 class="heading-large">Research Paralegal</h1>
                    <img src="../public/images/research-paralegal-image.jpg" alt="Research Paralegal" width="100%">
                    <p>
                         We have created an entire research hub for anyone who wishes to know more about becoming
                         a Paralegal in their local area.
                    </p>
                    <p>
                         From social media to local meet ups, the research hub is designed to give you everything you need
                         from your local area to help you get your foot in the door to become a Paralegal.
                    </p>
                    <a class="button button-start" href="set-location-paralegal.html" role="button">Research paralegal</a>
               </section>
          </div>
     </div>
     <hr>
     <div class="grid-row">
          <div class="column-one-half">
               <section class="intro-section">
                    <h1 class="heading-large">How to become a Paralegal</h1>
                    <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/oCQt96DHY2M"
                    width="100%"></iframe>
                    <div class="panel panel-border-wide">
                         <p>
                              This video is 4 minutes long
                         </p>
                    </div>
                    <p>
                         Not everyone has the same journey to their perfect career, but we can help you along the right path.
                    </p>
                    <p>
                         Based on your situation we can provide you with options for you to consider that will help you to become a
                         Paralegal, click the link below and we’ll see what you can do.
                    </p>
                    <a class="button button-start" href="how-to-become.html" role="button">How to become a Paralegal</a>
               </section>
          </div>
          <div class="column-one-half">
               <section class="intro-section">
                    <h1 class="heading-large">Preparing to become a Paralegal</h1>
                    <img src="../public/images/how-to-become-paralegal-image.png" alt="Research Paralegal" width="100%">
                    <p>
                         Helping to prepare you for a career as a Paralegal is what we’re here for.
                    </p>
                    <p>
                         Life isn’t always as straight forward as we would like, life can get in the way, and we’ve create a
                         number of resources to help you prepare for what may become potentials issues in your search for the
                         perfect career.
                    </p>
                    <a class="button button-start" href="resources.html" role="button">Preparing to become a Paralegal</a>
               </section>
          </div>
     </div>
     <hr>

     <section class="intro-section">
          <h1 class="heading-large">Salaries for a paralegal</h1>
          <p>
               These figures are a guide.
          </p>
          <p>
               Self-employed paralegals set their own rates.
          </p>
          <ul class="salaries full-width">
               <li>
                    <strong>Starter:</strong>
                    <div class="value">
                         <span>£16,000 to £20,000</span>
                    </div>
               </li>
               <li>
                    <strong>Experienced:</strong>
                    <div class="value">
                         <span>£20,000 to £30,000</span>
                    </div>
               </li>
               <li>
                    <strong>Highly experienced:</strong>
                    <div class="value">
                         <span>Up to £40,000</span>
                    </div>
               </li>
          </ul>
          <hr>
     </section>

     <p class="grey font-xsmall">Last updated: 23 November 2016</p>

</main>

{% endblock %}
