{% extends "layout_home.html" %}

{% block page_title %}
  National Careers Service
{% endblock %}

{% block content %}

{% include "includes/new_navigation.html" %}

<main id="content" role="main">
        {% include "includes/breadcrumb_legal_research.html" %}
        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="heading-xlarge">Paralegal research</h1>
                <p class="lede">Whatever your situation, there are resources to help you.</p>
                <h2 class="heading-medium">Are you...</h2>

                <nav aria-label="skip to your situation" class="jump-links hybrid-links"
                role="navigation">
                    <div class="grid-row">
                        <div class="column-one-half">
                            <ol class="list list-number">
                                 <li>
                                    <a href=
                                    "#lacking-qualifications-or-skills">lacking qualifications or skills?</a>
                                </li>
                                <li>
                                    <a href="./paralegal-research-2.html#access-to-work">facing barriers getting into work?</a>
                                </li>
                                <li>
                                    <a href=
                                    "./paralegal-research-3.html#qualified-with-no-experience">qualified with no experience?</a>
                                </li>
                            </ol>
                        </div>
                        <div class="column-one-half">
                            <ol class="list list-number" start="4">
                                 <li>
                                    <a href="./paralegal-research-4.html#back-to-work">getting back into work or changing jobs?</a>
                                </li>
                                <li>
                                    <a href="./paralegal-research-5.html#career-progression">needing career progression?</a>
                                </li>
                                <li>
                                    <a href="./paralegal-research-6.html#current-vacancies">looking for a job?</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="column-full">
                <section id="lacking-qualifications-or-skills">
                    <h2 class="heading-large"><span>1.</span> Lacking qualifications or
                    skills</h2>
                    <div class="horizontal">
                        <ul class="list card">
                             <li class="big-border-box">
                                <p><img src="/public/images/LLM.png" width=
                                "100%" alt="Edinburgh law school logo"></p>
                                <p>Edinburgh Law School's LLM programmes by
                                online distance learning enable you to study
                                part-time for an internationally recognised
                                degree.</p>
                                <p><a class="bold-xsmall" href=
                                "http://www.law.ed.ac.uk/online_distance_learning/llm_degrees">
                                More information</a></p>
                           </li>
                           <li class="big-border-box">
                                <p><img src="/public/images/cora-gorden-paralegal.jpg" width=
                                "100%" alt="Cora Gorden, Paralegal"></p>
                                <p>Cora Gordon is a paralegal officer, who works on case management and assists prosecutors in the Crown Prosecution Service (CPS).</p>
                                <p><a class="bold-xsmall" href=
                                "https://www.gov.uk/government/case-studies/civil-service-apprentice-cora-gordon">
                                More information</a></p>
                            </li>
                            <li class="big-border-box">
                                <p><iframe allowfullscreen="" frameborder="0"
                                src="https://www.youtube.com/embed/oCQt96DHY2M"
                                width="200"></iframe></p>
                                <p>'In this video I reflect on the first week in my new job as a paralegal and explain a new type of paralegal role growing in popularity among law firms.'</p>
                                <p><a class="bold-xsmall" href=
                                "https://www.youtube.com/watch?v=oCQt96DHY2M">More
                                information</a></p>
                            </li>
                            <li class="big-border-box">
                                <p><img src="/public/images/logo-tm.png" width=
                                "100%" alt="Linkedin logo"></p>
                                <p>Build and connect with your professional
                                network. Access knowledge, insights and
                                opportunities.</p>
                                <p>Linkedin has 7 legal intern jobs listed.</p>
                                <p><a class="bold-xsmall" href=
                                "https://www.linkedin.com/jobs/legal-intern-jobs?country=gb">
                                More information</a></p>
                            </li>
                            <li class="big-border-box">
                                <p><img src="/public/images/allaboutlogo.png"
                                width="100%" alt="All about law logo"></p>
                                <p>A vacation scheme is a solicitors’
                                internship and a pretty big step towards
                                getting a training contract. We’ve put together
                                articles, tips and advice.</p>
                                <p><a class="bold-xsmall" href=
                                "http://www.allaboutlaw.co.uk/law-careers/vacation-scheme">
                                More information</a></p>
                            </li>
                            <li class="big-border-box">
                                <p><img src="/public/images/manc.png" width=
                                "100%" alt="Manchester city council logo"></p>
                                <p>Placements in the combined Legal Services of
                                Manchester and Salford.</p>
                                <p>The combined Legal Services Division is a
                                large in-house practice.</p>
                                <p><a class="bold-xsmall" href= "http://www.manchester.gov.uk/info/100008/work_jobs_training_and_advice/5367/legal_services_work_placements_scheme">
                                More information</a></p>
                            </li>
                            <li class="big-border-box">
                                <p><img src="/public/images/prof.png" width=
                                "100%" alt="professional body"></p>
                                <p>Legal professionals are often members of a professional body. Find out more about them here.</p>
                                <p><a href="https://www.cilex.org.uk/">Chartered Institute of Legal Executives</a></p>
                            </li>
                            <li class="big-border-box">
                                <p><iframe allowfullscreen="" frameborder="0"
                                src="https://www.youtube.com/embed/gmwTw2KkATU"
                                width="200"></iframe></p>
                                <p>'I do family law, so it's mainly divorces,
                                disputes over children, and sometimes we'll end
                                up having go to court'.</p>
                                <p><a class="bold-xsmall" href=
                                "https://www.youtube.com/watch?v=qYtUeD6aWD4">More
                                information</a></p>
                            </li>
                            <li class="big-border-box">
                                <p><img src="/public/images/gov.png" width=
                                "100%" alt="Gov.uk logo"></p>
                                <p>Looking for a Legal Administration
                                Apprentice.</p>
                                <p>Simpson Millar are a large legal practice
                                with 14 offices nationally. This role is in the
                                busy Manchester Office near Lancashire Cricket
                                ground.</p>
                                <p><a class="bold-xsmall" href=
                                "https://www.findapprenticeship.service.gov.uk/apprenticeship/727071">
                                More information</a></p>
                            </li>
                            <li class="big-border-box">
                                <p><img src="/public/images/meetup.png" width=
                                "100%"  alt="Meetup logo"></p>
                                <p>This meetup group is for fashion design
                                industry professionals, lawyers, students and
                                those interested in the business and legal side
                                of fashion.</p>
                                <p><a class="bold-xsmall" href=
                                "https://www.meetup.com/Fashion-Law-Business/">More
                                information</a></p>
                            </li>
                            <li class="big-border-box">
                                <p><img src="/public/images/logo-tm.png" width=
                                "100%" alt="Linkedin logo"></p>
                                <p>Connect with these professional
                                organisations on LinkedIn.</p>
                                <p><a href=
                                "https://www.linkedin.com/groups/3683370/profile">
                                Chartered Institute of Legal Executives</a></p>
                                <p><a href=
                                "https://www.linkedin.com/company/institute-of-paralegals">
                                Institute of Paralegals</a></p>
                                <p><a href=
                                "https://www.linkedin.com/company/national-association-of-licensed-paralegals">
                                National Association of Licensed
                                Paralegals</a></p>
                            </li>
                            <li class="big-border-box">
                                <p><img src="/public/images/ledge.png" width=
                                "100%" alt="Printed text on paper"></p>
                                <p>Visit The National Archives of UK
                                legislation.</p><a href=
                                "http://www.legislation.gov.uk/">UK legislation
                                past and present</a>.
                            </li>
                            <li class="big-border-box">
                                <p><img src="/public/images/listen.png" width=
                                "100%" alt="headphones"></p>
                                <p>Listen to <a href=
                                "http://www.bbc.co.uk/programmes/b006tgy1">Law
                                in Action</a>, Radio 4's long-running legal
                                magazine programme.</p>
                            </li>
                            <li class="big-border-box">
                                <p><iframe allowfullscreen="" frameborder="0"
                                src="https://www.youtube.com/embed/2ZabiSEEtks"
                                width="200"></iframe></p>
                                <p>'Today’s video is a brief insight into the most common questions I get asked about being a paralegal.'</p>
                                <p><a class="bold-xsmall" href=
                                "https://www.youtube.com/watch?v=2ZabiSEEtks">More
                                information</a></p>
                            </li>
                        </ul>
                    </div><!--dragscroll-->
                </section><!--section 1-->
                <nav aria-label="Pagination" class="pagination form-group"
                role="navigation">
                    <ul class="list">
                        <!--<li class="previous">
                            <a href="#" rel="prev" title=
                            "Navigate to previous page"><span class=
                            "pagination-label">Previous</span> <span class=
                            "visually-hidden">page</span> <span class=
                            "pagination-part-title">1 of 6</span></a>
                        </li>-->
                        <li class="next">
                            <a href="./paralegal-research-2.html#access-to-work" rel="next" title=
                            "Navigate to next section"><span class=
                            "pagination-label">Access to work</span><span class=
                            "pagination-part-title">2 of 6</span></a>
                        </li>
                    </ul>
                </nav>

            </div>
            <!--<div class="column-one-third">
                {% include "includes/sidebar_contact.html" %}
            </div>-->
        </div>
    </main>

{% endblock %}
