{% extends "layout_home.html" %}

{% block page_title %}
  National Careers Service - Explore
{% endblock %}

{% block content %}

{% include "includes/new_navigation.html" %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
          <span class="heading-secondary">Explore part 3 of 5</span>
        What environment do you like to work in?
      </h1>
        <form method="get" action="/explore-part-4">
        <fieldset class="form-group">
            <legend class="visuallyhidden">
              What environment do you like to work in?
            </legend>
            <label for="radio-part-1" class="block-label">
              <input id="radio-part-1" type="checkbox" name="Office" value="Office">
              <span class="heading-small">Office</span><br>
              You enjoy working alongside colleagues
            </label>
            <label for="radio-part-2" class="block-label">
              <input id="radio-part-2" type="checkbox" name="Workshop" value="Workshop">
              <span class="heading-small">Workshop</span><br>
              Making and creating inspires you
            </label>
            <label for="radio-part-3" class="block-label">
              <input id="radio-part-3" type="checkbox" name="Garage" value="Garage">
              <span class="heading-small">Garage</span><br>
              Get grease under your fingernails
            </label>
            <label for="radio-part-3" class="block-label">
              <input id="radio-part-3" type="checkbox" name="The great outdoors" value="The great outdoors">
              <span class="heading-small">Outdoors</span><br>
              You enjoy fresh air
            </label>
            <label for="radio-part-4" class="block-label">
              <input id="radio-part-4" type="checkbox" name="Laboratory" value="Laboratory">
              <span class="heading-small">Laboratory</span><br>
              You enjoy testing and experimenting
            </label>
            <label for="radio-part-5" class="block-label">
              <input id="radio-part-5" type="checkbox" name="Hospital" value="Hospital">
              <span class="heading-small">Hospital</span><br>
              Contributing to people’s health and happiness
            </label>
            <label for="radio-part-6" class="block-label">
              <input id="radio-part-6" type="checkbox" name="Classroom" value="Classroom">
              <span class="heading-small">Classroom</span><br>
              Helping people to grow and learn
            </label>
            <label for="radio-part-7" class="block-label">
              <input id="radio-part-7" type="checkbox" name="Home" value="Home">
              <span class="heading-small">Home</span><br>
              You can motivate yourself to work in your own home
            </label>
            <label for="radio-part-8" class="block-label">
              <input id="radio-part-8" type="checkbox" name="Travel" value="Travel">
              <span class="heading-small">Travel</span><br>
              You enjoy moving from place to place
            </label>
            <!--<label for="radio-part-9" class="block-label">
              <input id="radio-part-9" type="checkbox" name="On the road" value="On the road">
              <span class="heading-small">On the road</span><br>
              You enjoy moving from place to place
            </label>-->
            <label for="radio-part-10" class="block-label">
              <input id="radio-part-10" type="checkbox" name="Overseas" value="Overseas">
              <span class="heading-small">Overseas</span><br>
              You want to work abroad
            </label>
            <label for="radio-part-11" class="block-label">
              <input id="radio-part-11" type="checkbox" name="Retail" value="Retail">
              <span class="heading-small">Retail</span><br>
              You enjoy helping others to buy things
            </label>
            <label for="radio-part-12" class="block-label">
              <input id="radio-part-12" type="checkbox" name="Wifi hotspot" value="Wifi hotspot">
              <span class="heading-small">Wifi hotspot</span><br>
              You want to move around freely
            </label>
            <label for="radio-part-13" class="block-label">
              <input id="radio-part-13" type="checkbox" name="None" value="None">
              <span class="heading-small">Undecided</span><br>
              You may need a bit more guidance
            </label>
          </fieldset>
           <input class="button" type="submit" value="Continue">
        </form>

    </div>
  </div>
</main>

{% endblock %}
