<div class="main-navigation">
     <div class="content">
          <div class="grid-row">
               <div class="column-full">
                    <ul id="proposition-links">
                         <li class="home">
                              <a href="/index">
                                   Home
                              </a>
                         </li>
                         <li>
                              <a href="/explore">
                                   Explore jobs
                                   <!-- <hr>
                                   <span>Find a new job</span> -->
                              </a>
                         </li>
                         <li>
                              <a href="/research">
                                   Search careers
                                   <!-- <hr>
                                   <span>Learn more about your job</span> -->
                              </a>
                         </li>
                         <li>
                              <a href="/inspire">
                                   Inspire me!
                                   <!-- <hr>
                                   <span>I don't know what I want to do</span> -->
                              </a>
                         </li>
                         <li>
                              <a href="/how-to-become">
                                   Train to be a...
                                   <!-- <hr>
                                   <span>I don't know what I want to do</span> -->
                              </a>
                         </li>
                         <li>
                              <a href="/resources">
                                   Job preparation
                                   <!-- <hr>
                                   <span>Information for the next step</span> -->
                              </a>
                         </li>
                         <li>
                              <a href="/contact-an-adviser">
                                   Contact us
                                   <!-- <hr>
                                   <span>I want to chat to someone</span> -->
                              </a>
                         </li>
                         <!-- <li class="search">
                              <a href="#">Home</a>
                         </li> -->
                    </ul>
               </div>
          </div>
     </div>
</div>
