<div class="header-proposition">
  <div class="content">
    <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
    <nav id="proposition-menu">
      <a href="/" id="proposition-name">{% if serviceName %} {{ serviceName }} {% endif %}</a>      
      <ul id="proposition-links">
          <li><a href="/research">Job profiles</a></li>
        <li><a href="/explore">Explore</a></li>
        <li><a href="/inspire">Inspire</a></li>        
        <li><a href="/contact-an-adviser">Contact an adviser</a></li>
      </ul>      
    </nav>
  </div>
</div>
