   <aside class="govuk-related-items" role="complementary">
                    <h2 class="heading-medium" id="related-gov-links">
                    Elsewhere on GOV</h2>
                    <nav aria-labelledby="related-gov-links" role=
                    "navigation">
                        <ul class="font-xsmall">
                            <li>
                                <a href=
                                "https://www.gov.uk/starting-up-a-business/start-with-an-idea">Set up a business</a>
                            </li>
                            <li>
                                <a href="https://www.gov.uk/find-traineeship/">Find a traineeship</a>
                            </li>
                            <li>
                                <a href=
                                "https://www.gov.uk/apply-apprenticeship">Find an apprenticeship</a>
                            </li>
                            <li>
                                <a href="https://www.gov.uk/jobsearch" >Find a job with Universal
                                Jobmatch</a>
                            </li>
                        </ul>
                    </nav>
                </aside>