// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'node_modules/govuk_frontend_toolkit/stylesheets/colours.scss';


/* ---------------------------------------------------------------------------
* Main styles affecting the Application
* ---------------------------------------------------------------------------
*/

//  FOR ALL
.welcome_block {
     &.search {
          padding: 4em 0;
          margin: 0 0 2em 0;
          form {
               .form-group {
                    position: relative;
                    margin-bottom: 0;
                    input {
                         border-radius: 5px;
                         padding: 0.5em 1em;
                         border: 3px solid $white;
                         height: auto;
                         &:focus {
                              outline: none;
                              border: 3px solid $focus-colour;
                         }
                    }
                    button.search {
                         position: absolute;
                         bottom: 0;
                         height: auto;
                         width: 6em;
                         border-radius: 5px;
                         background-color: $black;
                         background-position: 116.5% 50%;
                         background-size: 8em;
                    }
               }
          }
     }
     &.paralegal {
          position: relative;
          margin-bottom: 2em;
          padding-bottom: 2em;
          background: url(/public/images/paralegal-image.jpg) no-repeat 50% 20%;
          .home_content {
               z-index: 10;
               position: relative;
          }
          .row-divider {
               display: inline-block;
               width: 100%;
               background: url(/public/images/divider.svg) no-repeat 50% 50% !important;
               background-size: cover;
               margin: 0;
               height: 1.688rem;
               position: absolute;
               bottom: -1px;
               left: 0;
               z-index: 10;
          }
          .wrapper {
               position: absolute;
               background: rgba($black,0.7);
               top: 0;
               right: 0;
               bottom: 0;
               left: 0;
               display: inline-block;
               z-index: 1;
          }
          .heading-xlarge {
               margin-bottom: 0.5em;
          }
          nav {
               margin: 0;
               padding: 1.5em 0 0 0;
               border-top: 1px solid rgba($white,0.4);
               border-bottom: none;
               a {
                    color: $white;
                    font-weight: bold;
               }
          }
     }
}

.number, .corner {
     position: absolute;
     display: -webkit-box;
     display: -moz-box;
     display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;

     justify-content: space-around;
     align-items: center;
}

.number {
     background: $turquoise;
     border-radius: 50%;
     color: $white;
     font-weight: bold;
     top: -1.25em;
     left: -1.25em;
     width: 2em;
     height: 2em;
     font-size: 2.5rem;
     display: none;
}

ul.box-wrapper, ul.top-ten {
     // display: inline-block;
     width: 100%;
     display: -webkit-box;
     display: -moz-box;
     display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;

     -webkit-flex-flow: row wrap;
     justify-content: space-around;
     &.fifty-fifty {
          li {
               padding: 2.5%;
               width: 41.5%;
               margin: 1.5% 2.5% 1.5% 0;
               &:nth-of-type(even) {
                    margin: 1.5% 0 1.5% 0;
               }
          }
     }
     &.quarters {
          li {
               padding: 1.5%;
               width: 17.5%;
               margin: 1.5% 2.5% 1.5% 0;
               &:last-of-type {
                    margin: 1.5% 0 1.5% 0;
               }
          }
     }
     li {
          display: inline-block;
          position: relative;
          float: left;
          a {
               text-decoration: none;
               p {
                    color: $black;
                    text-decoration: none;
               }
               &:focus {

               }
          }
          h3 {
               margin-top: 0;
               text-decoration: underline;
          }
          p {
               margin-bottom: 0;
               &.heading-xlarge {
                    margin: 0 0 0.25em 0;
               }
          }
     }
}

ul.top-ten {
     &.fifty-fifty {
          li {
               padding: 0 2.5%;
               margin-top: 1.5em;
               margin-bottom: 3em;
               &:nth-of-type(even) {
                    margin-top: 1.5em;
                    margin-bottom: 2em;
               }
               border-left: 10px solid $turquoise;
          }
     }
}


ul.salaries {
     margin: 1em 0 2em 0;
     width: 100%;
     display: inline-block;
     li {
          list-style: none;
          text-align: center;
          float: left;
          p {
               color: rgba($black,0.4);
               margin: 1em 0 0 0;
          }
          strong {
               display: inline-block;
               width: 100%;
               font-weight: bold;
          }
          .value {
               display: inline-block;
               margin: 1em 0 0 0;
               span {
                    display: -webkit-box;
                    display: -moz-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;

                    -webkit-flex-flow: row wrap;
                    justify-content: space-around;
                    align-items: center;
                    background: $turquoise;
                    color: $white;
                    border-radius: 50%;
                    line-height: 1.2;
                    font-weight: bold;
               }
          }
     }
}

.big-border-box {
     border: 10px solid lighten($grey-3,7.5%);
     position: relative;
     &::before {
          content: "";
          background: $white;
          right: -10px;
          top: -10px;
          padding: 0;
          position: absolute;
          display: inline-block;
          // width: 1.5em;
          // height: 1.5em;
          border-style: solid;
          border-width: 1.5em 0 0 1.5em;
          border-color: transparent transparent transparent $turquoise;
     }
}

.autocomplete-suggestions {
     width: 100%;
     background: $white;
     border-radius: 5px;
     margin-top: 5px;
     border: 3px solid $turquoise;
     overflow: auto;
     max-height: 300px !important;
     .autocomplete-suggestion {
          padding: 1em;
          &:hover, &:focus, &.autocomplete-selected {
               background: lighten($grey-3,7.5%);
               cursor: pointer;
          }
          strong {
               color: $turquoise;
               font-weight: bold;
          }
     }
}



// ONLY FOR DESKTOP (1020px)
@media (min-width: 1020px) {

     .welcome_block {
          &.search {
               .heading-xlarge {
                    margin-top: 0.325em;
                    margin-bottom: 0.5em;
               }
               form {
                    input {
                         font-size: 2rem;
                    }
               }
          }
     }

     ul.salaries {
          li {
               width: 33%;
               .value {
                    span {
                         width: 7em;
                         height: 7em;
                         padding: 1em;
                         font-size: 4rem;
                    }
               }
          }
     }


}

// MEDIUM ONLY (641px)
@media (min-width: 641px) {

     ul.salaries {
          li {
               width: 33%;
               .value {
                    span {
                         width: 6em;
                         height: 6em;
                         padding: 1em;
                         font-size: 3.5rem;
                    }
               }
          }
     }



}


// SMARTPHONE ONLY (Up to 480px)
@media screen and (max-width:480px) {

     ul.salaries {
          li {
               width: 50%;
               margin-bottom: 1em;
               strong {
                    font-size: 0.875rem;
               }
               .value {
                    span {
                         width: 6em;
                         height: 6em;
                         padding: 1em;
                         font-size: 1.4rem;
                    }
               }
          }
     }



}
