// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'node_modules/govuk_frontend_toolkit/stylesheets/colours.scss';


/* ---------------------------------------------------------------------------
* Main styles affecting the Application
* ---------------------------------------------------------------------------
*/

//  FOR ALL

// ========================================== INDEX PAGE - START ========================================== //
header.hero {
     background: $turquoise;
     margin: 0 0 2em 0;
     padding: 1.5em;
     color: $white;
     h1.heading-xlarge {
          margin: 0 0 0.25em 0;
     }
     p {
          a {
               font-weight: bold;
               color: $white;
          }
     }
     form {
          label {
               display: none;
          }
          .search__input {
               float: left;
               width: 100%;
               padding: 0 52px 0 0;
               margin: 0 -52px 0 0;
               box-sizing: border-box;
               .js-search-focus {
                    border: none;
                    height: 40px;
                    font-size: 20px;
                    padding: 6px 2.5%;
                    width: 95%;
               }
          }
          .search__submit {
               text-indent: -1000em;
               border-radius: 0;
               background: $black;
               width: 52px;
               height: 52px;
               border: none;
               &:hover {
                    cursor: pointer;
               }
          }
     }
}
// ========================================== INDEX PAGE - END ========================================== //

// ========================================== GENERAL PAGE - START ========================================== //
.panel {
     &.hybrid {
          padding-top: 0;
          img {
               width: 100%;
               margin: 0 0 1em 0;
          }
          a {
               text-decoration: none;
               h3 {
                    text-decoration: underline;
               }
               p {
                    color: $black;
                    text-decoration: none;
               }
          }
     }
}
// ========================================== GENERAL PAGE - END ========================================== //

// ONLY FOR DESKTOP (1020px)
@media (min-width: 1020px) {



}

// LARGE UP (769px and above)
@media (min-width: 769px) {



}

// MEDIUM ONLY (641px)
// @media (min-width: 641px) {
//
//
//
// }

// MEDIUM UP (641px and above)
@media (min-width: 641px) {



}

// @media (min-width: 480px) {
//
//
// }

// SMARTPHONE ONLY (Up to 640px)
@media (max-width: 640px) {




}

// SMARTPHONE ONLY (Up to 480px)
// @media screen and (max-width: 480px) {
//
//
//
// }
