{% extends "layout.html" %}

{% block page_title %}
  National Careers Service
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
<h1 class="heading-xlarge">National Careers Service Alpha</h1>
        
        
        <h2 class="heading-large"><a href="/S2/explore-part-1.html">Journey A</a></h2>
        <p>This journey features the enhanced job profile with shortlisting functionality.</p>
        
         <h2 class="heading-large"><a href="/S2/paralegal2.html">Journey B</a></h2>
        <p>This journey jumps straight to the paralegal job profile with the research concept.</p>        
       
 
</ul>
          
  
    </div>
  </div>
</main>

{% endblock %}


