{% extends "layout.html" %}

{% block page_title %}
  National Careers Service
{% endblock %}

{% block content %}

<main id="content" role="main">
        {% include "includes/phase_banner_alpha.html" %} {% include
        "includes/breadcrumb_legal_research.html" %}
        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="heading-xlarge">Paralegal research</h1>
                <div class="grid-row govuk-box-highlight-purple">

  <div class="column-one-third">
    <p><img src="/public/images/worker-2.jpg" width=
                                "100%" alt="William Taylor, Senior paralegal"></p>
  </div>

  <div class="column-two-thirds">
    <p>"I love being a paralegal, it offers me such a diverse range of work and always keeps me on my toes. You need to work hard but you are rewarded for what you put in."</p><p class="bold-xsmall">Higgs and Sons</p><p class="bold-xsmall">William Taylor - Senior paralegal</p>
  </div>

</div>
                <h2 class="heading-medium">Choose your status to view relevant results</h2>
                <p>Make a selection from 1 to 5:</p>
                
                <nav aria-label="skip to your situation" class="jump-links"
                role="navigation">
                    <div class="grid-row">
                        <div class="column-one-half">
                            <ol class="list list-number">
                                <li>
                                    <a href=
                                    "#lacking-qualifications-or-skills">Lacking
                                    qualifications or skills</a>
                                </li>
                                <li>
                                    <a href="#access-to-work">Access
                                    to work</a>
                                </li>
                                <li>
                                    <a href=
                                    "#qualified-with-no-experience">Qualified
                                    with no experience</a>
                                </li>
                            </ol>
                        </div>
                        <div class="column-one-half">
                            <ol class="list list-number" start="3">
                                <li>
                                    <a href="#back-to-work">Get back to
                                    work or changing job</a>
                                </li>
                                <li>
                                    <a href="#career-progression">Career
                                    progression</a>
                                </li>
                                <li>
                                    <a href="#current-vacancies">Current
                                    vacancies</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </nav>
                <section id="lacking-qualifications-or-skills">
                    <h2 class="heading-large">1. Lacking qualifications or
                    skills</h2>
                    <div class="horizontal dragscroll">
                        <ul class="list card">
                            <li>
                                <p><img src="/public/images/LLM.png" width=
                                "100%" alt="Edinburgh law school logo"></p>
                                <p>Edinburgh Law School's LLM programmes by
                                online distance learning enable you to study
                                part-time for an internationally recognised
                                degree.</p>
                                <p><a class="bold-xsmall" href=
                                "http://www.law.ed.ac.uk/online_distance_learning/llm_degrees">
                                More information</a></p>
                            </li>
                             <li>
                                <p><iframe allowfullscreen="" frameborder="0"
                                src="https://www.youtube.com/embed/oCQt96DHY2M"
                                width="200"></iframe></p>
                                <p>'In this video I reflect on the first week in my new job as a paralegal and explain a new type of paralegal role growing in popularity among law firms.'</p>
                                <p><a class="bold-xsmall" href=
                                "https://www.youtube.com/watch?v=oCQt96DHY2M">More
                                information</a></p>
                            </li>
                            <li>
                                <p><img src="/public/images/logo-tm.png" width=
                                "100%" alt="Linkedin logo"></p>
                                <p>Build and connect with your professional
                                network. Access knowledge, insights and
                                opportunities.</p>
                                <p>Linkedin has 7 legal intern jobs listed.</p>
                                <p><a class="bold-xsmall" href=
                                "https://www.linkedin.com/jobs/legal-intern-jobs?country=gb">
                                More information</a></p>
                            </li>
                            <li>
                                <p><img src="/public/images/allaboutlogo.png"
                                width="100%" alt="All about law logo"></p>
                                <p>A vacation scheme is a solicitors’
                                internship and a pretty big step towards
                                getting a training contract. We’ve put together
                                articles, tips and advice.</p>
                                <p><a class="bold-xsmall" href=
                                "http://www.allaboutlaw.co.uk/law-careers/vacation-scheme">
                                More information</a></p>
                            </li>
                            <li>
                                <p><img src="/public/images/manc.png" width=
                                "100%" alt="Manchester city council logo"></p>
                                <p>Placements in the combined Legal Services of
                                Manchester and Salford.</p>
                                <p>The combined Legal Services Division is a
                                large in-house practice.</p>
                                <p><a class="bold-xsmall" href= "http://www.manchester.gov.uk/info/100008/work_jobs_training_and_advice/5367/legal_services_work_placements_scheme">
                                More information</a></p>
                            </li>
                            <li>
                                <p><img src="/public/images/prof.png" width=
                                "100%" alt="professional body"></p>
                                <p>Legal professionals are often members of a professional body. Find out more about them here.</p>
                                <p><a href="https://www.cilex.org.uk/">Chartered Institute of Legal Executives</a></p>
                            </li>
                            <li>
                                <p><iframe allowfullscreen="" frameborder="0"
                                src="https://www.youtube.com/embed/gmwTw2KkATU"
                                width="200"></iframe></p>
                                <p>'I do family law, so it's mainly divorces,
                                disputes over children, and sometimes we'll end
                                up having go to court'.</p>
                                <p><a class="bold-xsmall" href=
                                "https://www.youtube.com/watch?v=qYtUeD6aWD4">More
                                information</a></p>
                            </li>
                            <li>
                                <p><img src="/public/images/gov.png" width=
                                "100%" alt="Gov.uk logo"></p>
                                <p>Looking for a Legal Administration
                                Apprentice.</p>
                                <p>Simpson Millar are a large legal practice
                                with 14 offices nationally. This role is in the
                                busy Manchester Office near Lancashire Cricket
                                ground.</p>
                                <p><a class="bold-xsmall" href=
                                "https://www.findapprenticeship.service.gov.uk/apprenticeship/727071">
                                More information</a></p>
                            </li>
                            <li>
                                <p><img src="/public/images/meetup.png" width=
                                "100%"  alt="Meetup logo"></p>
                                <p>This meetup group is for fashion design
                                industry professionals, lawyers, students and
                                those interested in the business and legal side
                                of fashion.</p>
                                <p><a class="bold-xsmall" href=
                                "https://www.meetup.com/Fashion-Law-Business/">More
                                information</a></p>
                            </li>
                            <li>
                                <p><img src="/public/images/logo-tm.png" width=
                                "100%" alt="Linkedin logo"></p>
                                <p>Connect with these professional
                                organisations on LinkedIn.</p>
                                <p><a href=
                                "https://www.linkedin.com/groups/3683370/profile">
                                Chartered Institute of Legal Executives</a></p>
                                <p><a href=
                                "https://www.linkedin.com/company/institute-of-paralegals">
                                Institute of Paralegals</a></p>
                                <p><a href=
                                "https://www.linkedin.com/company/national-association-of-licensed-paralegals">
                                National Association of Licensed
                                Paralegals</a></p>
                            </li>
                            <li>
                                <p><img src="/public/images/ledge.png" width=
                                "100%" alt="Printed text on paper"></p>
                                <p>Visit The National Archives of UK
                                legislation.</p><a href=
                                "http://www.legislation.gov.uk/">UK legislation
                                past and present</a>.
                            </li>
                            <li>
                                <p><img src="/public/images/listen.png" width=
                                "100%" alt="headphones"></p>
                                <p>Listen to <a href=
                                "http://www.bbc.co.uk/programmes/b006tgy1">Law
                                in Action</a>, Radio 4's long-running legal
                                magazine programme.</p>
                            </li>
                            <li>
                                <p><iframe allowfullscreen="" frameborder="0"
                                src="https://www.youtube.com/embed/2ZabiSEEtks"
                                width="200"></iframe></p>
                                <p>'Today’s video is a brief insight into the most common questions I get asked about being a paralegal.'</p>
                                <p><a class="bold-xsmall" href=
                                "https://www.youtube.com/watch?v=2ZabiSEEtks">More
                                information</a></p>
                            </li>
                            <li>
                                <p><img src="/public/images/manch.png" width=
                                "100%"  alt="Citizens advice manchester logo"></p>
                                <p>Volunteer Roles at Citizens Advice Manchester.</p>
                                <p><a class="bold-xsmall" href=
                                "http://www.citizensadvicemanchester.org.uk/volunteerroles/">More
                                information</a></p>
                            </li>
                        </ul>
                    </div><!--dragscroll-->
                </section><!--section 1-->
                <section id="access-to-work">
                    <h2 class="heading-large">2. Access to work</h2>
                    <div class="horizontal dragscroll">
                        <ul class="list card purple">
                            <li>
                                <p><img src="/public/images/Gazette_logo.png"
                                width="100%"  alt="Law society gazette logo"></p>
                                <p>With RNIB’s advice, I put in an application
                                for the disabled students allowance and went
                                back to university which was a big step to
                                becoming a lawyer.</p>
                                <p><a class="bold-xsmall" href=
                                "http://www.lawgazette.co.uk/analysis/features/my-life-as-a-blind-lawyer/5053771.fullarticle">
                                More information</a></p>
                            </li>
                            <li>
                                <p><img src="/public/images/bbc_news_logo.png"
                                width="100%"  alt="BBC news logo"></p>
                                <p>Twenty-four-year-old Natalie Atkinson was a
                                persistent offender in her teens, but has
                                turned her life around.</p>
                                <p><a class="bold-xsmall" href=
                                "http://www.bbc.co.uk/news/magazine-26825569">More
                                information</a></p>
                            </li>
                            <li>
                                <p><img src="/public/images/university-1.png"
                                width="100%"  alt="Manchester university logo"></p>
                                <p>We’re committed to providing equality of
                                opportunity through the best possible level of
                                support to students with disabilities.</p>
                                <p><a class="bold-xsmall" href=
                                "http://www.manchester.ac.uk/study/experience/student-life/university/student-support/disabilities/">
                                More information</a></p>
                            </li>
                            <li>
                                <p><img src="/public/images/logo-tm.png" width=
                                "100%" alt="Linkedin logo"></p>
                                <p>Connect with these professional
                                organisations on LinkedIn.</p>                                
                                <p><a href=
                                "https://www.linkedin.com/company/national-association-of-licensed-paralegals">
                                National Association of Licensed
                                Paralegals</a></p>
                                <p></p>
                            </li>
                            <li>
                                <p><img src="/public/images/Gazette_logo.png"
                                width="100%"  alt="Law society gazette logo"></p>                                
                                <p>I was tripping my way up the career ladder to make partnership: but three babies in four years scuppered those plans, at least temporarily.</p>
                                <p><a class="bold-xsmall" href="
                                http://www.lawgazette.co.uk/analysis/comment-and-opinion/tips-for-returning-to-a-legal-career/5058446.article">
                                More information</a></p>
                            </li>
                            <li>
                                <p><img src="/public/images/manch.png" width=
                                "100%"  alt="Citizens advice manchester logo"></p>
                                <p>Citizens Advice Manchester offers free, confidential, impartial and independent advice and information on a wide range of subjects. </p>
                                <p><a class="bold-xsmall" href=
                                "http://www.citizensadvicemanchester.org.uk/">More
                                information</a></p>
                            </li>
                        </ul>
                    </div><!--dragscroll-->
                </section><!--section 2-->
                <section id="qualified-with-no-experience">
                    <h2 class="heading-large">3. Qualified with no
                    experience</h2>
                    <div class="horizontal dragscroll">
                        <ul class="list card orange">
                            <li>
                                <p><img src="/public/images/logo-tm.png" width=
                                "100%" alt="Linkedin logo"></p>
                                <p>Build and engage with your professional
                                network. Access knowledge, insights and
                                opportunities.</p>
                                <p>Linkedin has 7 legal intern jobs listed.</p>
                                <p><a class="bold-xsmall" href=
                                "https://www.linkedin.com/jobs/legal-intern-jobs?country=gb">
                                More information</a></p>
                            </li>
                            <li>
                                <p><img src="/public/images/university-1.png"
                                width="100%"  alt="Manchester university logo"></p>
                                <p>Law Fair 2016</p>
                                <p>Manchester Central Convention Centre Tuesday
                                15 November.</p>
                                <p>The fair is open to students or graduates
                                from any institution or course.</p>
                                <p><a class="bold-xsmall" href=
                                "http://www.careers.manchester.ac.uk/events/lawfair/">
                                More information</a></p>
                            </li>
                            <li>
                                <p><img src="/public/images/meetup.png" width=
                                "100%"  alt="Meetup logo"></p>
                                <p>This meetup group is for fashion design
                                industry professionals, lawyers, students and
                                those interested in the business and legal side
                                of fashion.</p>
                                <p><a class="bold-xsmall" href=
                                "https://www.meetup.com/Fashion-Law-Business/">More
                                information</a></p>
                            </li>
                            <li>
                                <p><img src="/public/images/logo-tm.png" width=
                                "100%" alt="Linkedin logo"></p>
                                <p>Connect with these professional
                                organisations on LinkedIn.</p>
                                <p><a href=
                                "https://www.linkedin.com/groups/3683370/profile">
                                Chartered Institute of Legal Executives</a></p>                                
                            </li>
                            <li>
                                <p><img src="/public/images/twitter.png" width=
                                "100%" alt="Twitter logo"></p>
                                <p>'Welcome to the Institute of Paralegals
                                twitter! #ThinkParalegal'</p>
                                <p><a class="bold-xsmall" href=
                                "https://twitter.com/IoParalegals/status/588609199434698752">
                                More information</a></p>
                            </li>
                            <li>
                                <p><img src="/public/images/prof.png" width=
                                "100%"  alt="Professional body"></p>
                                <p>Legal professionals are often members of a professional body. Find out more about them here.</p>
                                <p><a href="http://www.theiop.org/">Institute of Paralegals</a></p>
                            </li>
                        </ul>
                    </div><!--dragscroll-->
                </section><!--section 3-->
                <section id="back-to-work">
                    <h2 class="heading-large">4. Get back to work or
                    changing job</h2>
                    <div class="horizontal dragscroll">
                        <ul class="list card blue">                            
                            <li>
                                <p><img src="/public/images/allaboutlogo.png"
                                width="100%" alt="All about law logo"></p>
                                <p>There are financial support schemes, such as
                                scholarships, government grants, bank loans,
                                and sponsorships provided by law firms and
                                chambers.</p>
                                <p><a class="bold-xsmall" href=
                                "http://www.allaboutlaw.co.uk/stage/university-funding/funding-your-law-career">
                                More information</a></p>
                            </li>
                            <li>
                                <p><img src="/public/images/meetup.png" width=
                                "100%"  alt="Meetup logo"></p>
                                <p>This meetup group came from of the Legal Geek
                                network to promote more women into Law
                                Tech.</p>
                                <p><a class="bold-xsmall" href=
                                "https://www.meetup.com/Women-in-Law-Tech/">More
                                information</a></p>
                            </li>
                            <li>
                                <p><img src="/public/images/Gazette_logo.png"
                                width="100%"  alt="Law society gazette logo"></p>                                
                                 <p>I was tripping my way up the career ladder to make partnership: but three babies in four years scuppered those plans, at least temporarily.</p>
                                <p><a class="bold-xsmall" href="
                                http://www.lawgazette.co.uk/analysis/comment-and-opinion/tips-for-returning-to-a-legal-career/5058446.article">
                                More information</a></p>
                            </li>
                            <li>
                                <p><img src="/public/images/prof.png" width=
                                "100%"  alt="Professional body"></p>
                                <p>Legal professionals are often members of a professional body. Find out more about them here.</p>
                                <p><a href="http://www.nationalparalegals.co.uk/">National Association of Licensed Paralegals</a></p>
                            </li>
                            <li>
                                <p><img src="/public/images/twitter.png" width=
                                "100%" alt="Twitter logo"></p>
                                <p>'Read: Get into Law – How to qualify with
                                the Chartered Institute of Legal
                                Executives.'</p>
                                <p><a class="bold-xsmall" href=
                                "https://twitter.com/CILExLawyers/status/749294228111499268">
                                More information</a></p>
                            </li>
                            <li>
                                <p><img src="/public/images/logo-tm.png" width=
                                "100%" alt="Linkedin logo"></p>
                                <p>Connect with these professional
                                organisations on LinkedIn.</p>                                
                                <p><a href=
                                "https://www.linkedin.com/company/institute-of-paralegals">
                                Institute of Paralegals</a></p>                            
                            </li>
                            <li>
                                <p><img src="/public/images/cloud.png" width=
                                "100%"  alt="Law word cloud"></p>
                                <p>Consider a career in insolvency
                                services.</p>
                                <p><a href=
                                "https://www.gov.uk/government/organisations/insolvency-service">
                                The Insolvency Service</a></p>
                                <p><a href=
                                "http://www.insolvency-practitioners.org.uk/">Insolvency
                                Practitioners Association</a></p>
                            </li>
                            <li>
                                <p><img src="/public/images/news.png" width=
                                "100%" alt="Law society gazette logo"></p>
                                <p>Find out what’s happening in your
                                industry.</p>
                                <p><a href="http://www.lawgazette.co.uk/">The
                                Law Society Gazette</a></p>
                            </li>
                            <li>
                                <p><img src="/public/images/cls.png" width=
                                "100%" alt="Cilex law school logo"></p>
                                <p>Paralegal training reflects that diversity, ranging from the equivalent of GCSE-level study to postgraduate level.</p>
                                <p><a class="bold-xsmall" href= "http://www.cilexlawschool.ac.uk/prospective_students/develop_paralegal_skills/introduction">More
                                information</a></p>
                            </li>
                        </ul>
                    </div><!--dragscroll-->
                </section><!--section 4 -->
                <section id="career-progression">
                    <h2 class="heading-large">5. Career progression</h2>
                    <div class="horizontal dragscroll">
                        <ul class="list card green">
                            <li>
                                <p><img src="/public/images/meetup.png" width=
                                "100%"  alt="Meetup logo"></p>
                                <p>This meetup group is for fashion design
                                industry professionals, lawyers, students and
                                those interested in the business and legal side
                                of fashion.</p>
                                <p><a class="bold-xsmall" href=
                                "https://www.meetup.com/Fashion-Law-Business/">More
                                information</a></p>
                            </li>
                            <li>
                                <p><img src="/public/images/twitter.png" width=
                                "100%" alt="Twitter logo"></p>
                                <p>'Our Women Lawyers Division supports and
                                advises women working in the solicitor
                                profession'</p>
                                <p><a class="bold-xsmall" href=
                                "https://twitter.com/TheLawSociety/status/791263119385374720">
                                More information</a></p>
                            </li>
                            <li>
                                <p><img src="/public/images/lawsoc.png" width=
                                "100%"  alt="Law society logo"></p>
                                <p>Continuous professional development with the
                                Law society.</p>
                                <p><a class="bold-xsmall" href=
                                "http://cpdcentre.lawsociety.org.uk/">More
                                information</a></p>
                            </li>
                            <li>
                                <p><img src="/public/images/twitter.png" width=
                                "100%" alt="Twitter logo"></p>
                                <p>'Welcome to the Institute of Paralegals
                                twitter! #ThinkParalegal'</p>
                                <p><a class="bold-xsmall" href=
                                "https://twitter.com/IoParalegals/status/588609199434698752">
                                More information</a></p>
                            </li>
                            <li>
                                <p><img src="/public/images/news.png" width=
                                "100%" alt="Law society logo"></p>
                                <p>Find out what’s happening in your
                                industry.</p>
                                <p><a href=
                                "http://www.lawsociety.org.uk/news/newsletters/">
                                The Law Society Newsletter</a></p>
                            </li>
                            <li>
                                <p><img src="/public/images/logo-tm.png" width=
                                "100%" alt="Linkedin logo"></p>
                                <p>Connect with these professional
                                organisations on LinkedIn.</p>                                
                                <p><a href=
                                "https://www.linkedin.com/company/institute-of-paralegals">
                                Institute of Paralegals</a></p>                            
                            </li>
                            <li>
                                <p><img src="/public/images/prof.png" width=
                                "100%" alt="Professional body"></p>
                                <p>Legal professionals are often members of a professional body. Find out more about them here.</p>
                                <p><a href="http://ppr.org.uk/">Professional Paralegal Register</a></p>
                            </li>
                            <li>
                                <p><img src="/public/images/cls.png" width=
                                "100%" alt="Cilex law school logo"></p>
                                <p>Paralegal training reflects that diversity, ranging from the equivalent of GCSE-level study to postgraduate level.</p>
                                <p><a class="bold-xsmall" href= "http://www.cilexlawschool.ac.uk/prospective_students/develop_paralegal_skills/introduction">More
                                information</a></p>
                            </li>
                        </ul>
                    </div><!--dragscroll-->
                </section><!--section 5-->
                <section id="current-vacancies">
                    <h2 class="heading-large">6. Current vacancies</h2>
                    <div class="horizontal dragscroll">
                        <ul class="list card mauve">
                            <li>
                                <p><img src="/public/images/monster.png" width=
                                "100%" alt="Monster jobs logo"></p><a href=
                                "http://jobview.monster.co.uk/motor-litigation-paralegal-job-newport-wales-uk-174491397.aspx?mescoid=2300332001001&jobPosition=1">
                                <p>Motor Litigation Paralegal</p></a>
                                <p></p>
                                <p>Location: Newport<br>
                                Job type: Full time<br>
                                Salary: Up to £23,000 per year</p>
                            </li>
                            <li>
                                <p><img src="/public/images/total.png" width=
                                "100%" alt="Total jobs logo"></p><a href=
                                "http://www.totaljobs.com/job/legal-assistant/forrest-recruitment-job66795113?entryUrl=%2Fjobs%2Flegal-assistant%2Fin-manchester%3Fradius%3D10%2366795113">
                                <p>Legal Assistant</p></a>
                                <p></p>
                                <p>Location: Warrington, Cheshire<br>
                                Job type: Full time<br>
                                Salary: £16,000 - £18,000 a year</p>
                            </li>
                            <li>
                                <p><img src="/public/images/twitter.png" width=
                                "100%" alt="Twitter logo"></p>
                                <p>'#NowHiring Family Law Group - Children /
                                Matrimonial #Solicitor Northamptonshire
                                #Nottinghamshire Salary: £30k-£40k'</p>
                                <p><a class="bold-xsmall" href=
                                "https://twitter.com/simplylawjobs/status/791537434655948800">
                                More information</a></p>
                                <p></p>
                            </li>
                            <li>
                                <p><img src="/public/images/gov.png" width=
                                "100%" alt="gov.uk logo"></p>
                                <p><a href="https://www.findapprenticeship.service.gov.uk/apprenticeship/727071">Legal Administration Apprentice</a></p>
                                <p>Location: Manchester<br>
                                Job type: Full time<br>
                                Salary: £150 per week</p>
                            </li>
                            <li>
                                <p><img src="/public/images/monster.png" width=
                                "100%" alt="Monster jobs logo"></p><a href=
                                "http://jobview.monster.co.uk/v2/job/View?JobID=173537388&MESCOID=4300747001001&jobPosition=4">
                                <p>Legal assistant - litigator</p></a>
                                <p></p>
                                <p>Location: Manchester<br>
                                Job type: Full time<br>
                                Salary: £18,000 per year</p>
                            </li>
                            <li>
                                <p><img src="/public/images/jm.png" width=
                                "100%" alt="Universal job match logo"></p>
                                <p><a href=
                                "https://jobsearch.direct.gov.uk/GetJob.aspx?JobID=36662103&JobTitle=Personal+Injury+Paralegal&rad_units=miles&pp=25&sort=rv.dt.di&vw=b&re=134&setype=2&tjt=Paralegal&avsdm=2016-10-19T04%3a30%3a00-05%3a00&pg=1">
                                Personal Injury Paralegal</a></p>
                                <p>Location: Manchester<br>
                                Job type: Full time<br>
                                Salary: £15,000 - £30,000 a year</p>
                            </li>
                            <li>
                                <p><img src="/public/images/total.png" width=
                                "100%" alt="Total jobs logo"></p>
                                <p><a href=
                                "http://www.totaljobs.com/job/legal-assistant/office-team-job66832182?entryUrl=%2Fjobs%2Flegal-assistant%2Fin-manchester%3Fradius%3D10%2366832182">
                                Legal Assistant - Conveyancing</a></p>
                                <p>Location: Huddersfield<br>
                                Job type: Full time<br>
                                Salary: £18,000 - £23,000 a year</p>
                            </li>                            
                        </ul>
                    </div><!--dragscroll-->
                </section><!--section 6-->
            </div>
            <div class="column-one-third">
                {% include "includes/sidebar_contact.html" %}
            </div>
        </div>
    </main>

{% endblock %}


