/* ---------------------------------------------------------------------------
* Main styles affecting the Application
* ---------------------------------------------------------------------------
*/
/* line 15, c:/T1/app/assets/sass/hybrid.scss */
h1.heading-large span, h2.heading-large span, h3.heading-large span, h4.heading-large span, p.heading-large span {
  color: #28a197;
}

/* line 19, c:/T1/app/assets/sass/hybrid.scss */
h1.turquoise-text, h2.turquoise-text, h3.turquoise-text, h4.turquoise-text, p.turquoise-text {
  color: #28a197;
}

/* line 24, c:/T1/app/assets/sass/hybrid.scss */
.welcome_block {
  position: relative;
}

/* line 26, c:/T1/app/assets/sass/hybrid.scss */
.welcome_block.search {
  padding: 4em 0;
  margin: 0 0 2em 0;
}

/* line 30, c:/T1/app/assets/sass/hybrid.scss */
.welcome_block.search form .form-group {
  position: relative;
  margin-bottom: 0;
}

/* line 33, c:/T1/app/assets/sass/hybrid.scss */
.welcome_block.search form .form-group input {
  border-radius: 5px;
  padding: 0.5em 1em;
  border: 3px solid #fff;
  height: auto;
}

/* line 38, c:/T1/app/assets/sass/hybrid.scss */
.welcome_block.search form .form-group input:focus {
  outline: none;
  border: 3px solid #ffbf47;
}

/* line 43, c:/T1/app/assets/sass/hybrid.scss */
.welcome_block.search form .form-group button.search {
  position: absolute;
  bottom: 0;
  height: auto;
  width: 6em;
  border-radius: 5px;
  background-color: #0b0c0c;
  background-position: 116.5% 50%;
  background-size: 8em;
}

/* line 55, c:/T1/app/assets/sass/hybrid.scss */
.welcome_block.search .home_content {
  padding-bottom: 0;
}

/* line 58, c:/T1/app/assets/sass/hybrid.scss */
.welcome_block.search .border {
  background: #fff;
  display: inline-block;
  height: 1px;
  width: 6em;
  float: left;
  clear: both;
  margin: 0 0 1.25em 0;
}

/* line 67, c:/T1/app/assets/sass/hybrid.scss */
.welcome_block.search p {
  float: left;
}

/* line 71, c:/T1/app/assets/sass/hybrid.scss */
.welcome_block.content-page {
  position: relative;
  margin-bottom: 3em;
  padding-bottom: 2em;
  background: #f0f2f2;
  border-top: 10px solid #28a197;
}

/* line 78, c:/T1/app/assets/sass/hybrid.scss */
.welcome_block.content-page .home_content {
  z-index: 10;
  position: relative;
}

/* line 92, c:/T1/app/assets/sass/hybrid.scss */
.welcome_block.content-page .heading-xlarge {
  margin-bottom: 0.5em;
}

/* line 95, c:/T1/app/assets/sass/hybrid.scss */
.welcome_block.content-page h1, .welcome_block.content-page h2, .welcome_block.content-page h3, .welcome_block.content-page h4, .welcome_block.content-page p {
  color: #0b0c0c;
  float: left;
}

/* line 99, c:/T1/app/assets/sass/hybrid.scss */
.welcome_block.content-page .border {
  background: #28a197;
  display: inline-block;
  height: 1px;
  width: 6em;
  float: left;
  clear: both;
  margin: 0 0 1.25em 0;
}

/* line 108, c:/T1/app/assets/sass/hybrid.scss */
.welcome_block.content-page .main-intro {
  float: left;
}

/* line 110, c:/T1/app/assets/sass/hybrid.scss */
.welcome_block.content-page .main-intro .border {
  margin: 0.5em 0 0.75em 0;
}

/* line 113, c:/T1/app/assets/sass/hybrid.scss */
.welcome_block.content-page .main-intro p {
  margin: 0;
  float: left;
  clear: left;
}

/* line 119, c:/T1/app/assets/sass/hybrid.scss */
.welcome_block.content-page nav {
  margin: 0;
  padding: 1.5em 0 0 0;
  border-bottom: none;
}

/* line 124, c:/T1/app/assets/sass/hybrid.scss */
.welcome_block.content-page nav a {
  color: #fff;
  font-weight: bold;
}

/* line 130, c:/T1/app/assets/sass/hybrid.scss */
.welcome_block .row-divider {
  display: inline-block;
  width: 100%;
  background: url(/public/images/divider.svg) no-repeat 50% 50% !important;
  background-size: cover;
  margin: 0;
  height: 1.688rem;
  position: absolute;
  bottom: -1px;
  left: 0;
  z-index: 10;
}

/* line 144, c:/T1/app/assets/sass/hybrid.scss */
.salary, .hours {
  margin: 2em 0 1em 0;
  display: inline-block;
}

/* line 147, c:/T1/app/assets/sass/hybrid.scss */
.salary .icon, .hours .icon {
  display: inline-block;
  width: 7em;
  height: 7em;
  float: left;
  margin-right: 1em;
}

/* line 157, c:/T1/app/assets/sass/hybrid.scss */
.salary .icon {
  background: url(/public/images/profiles/salary.png) no-repeat 50% 50%;
  background-size: contain;
}

/* line 164, c:/T1/app/assets/sass/hybrid.scss */
.hours .icon {
  background: url(/public/images/profiles/hours.png) no-repeat 50% 50%;
  background-size: contain;
}

/* line 170, c:/T1/app/assets/sass/hybrid.scss */
.what-next, .testimonial, .extra-content {
  background: #f8f8f8;
  color: #0b0c0c;
  border-top: 10px solid #f8f8f8;
  padding: 4em 0;
}

/* line 175, c:/T1/app/assets/sass/hybrid.scss */
.what-next h1, .testimonial h1, .extra-content h1 {
  margin: 0 0 0.5em 0;
}

/* line 186, c:/T1/app/assets/sass/hybrid.scss */
.testimonial {
  background: #fff;
  color: #0b0c0c;
}

/* line 190, c:/T1/app/assets/sass/hybrid.scss */
.testimonial .home_content {
  padding: 0;
  position: relative;
}

/* line 193, c:/T1/app/assets/sass/hybrid.scss */
.testimonial .home_content img {
  width: 11em;
  height: 11em;
  border-radius: 50%;
  float: left;
  margin: -0.25em 3em 0 0;
}

/* line 200, c:/T1/app/assets/sass/hybrid.scss */
.testimonial .home_content .quote {
  position: absolute;
  display: inline-block;
  width: 4em;
  height: 6em;
  bottom: -1em;
  right: 0;
  color: #28a197;
}

/* line 210, c:/T1/app/assets/sass/hybrid.scss */
.testimonial .home_content .quote.one {
  right: 5em;
  background: url(/public/images/profiles/left-quote-mark.svg) no-repeat 50% 50%;
  background-size: contain;
}

/* line 215, c:/T1/app/assets/sass/hybrid.scss */
.testimonial .home_content .quote.two {
  background: url(/public/images/profiles/right-quote-mark.svg) no-repeat 50% 50%;
  background-size: contain;
}

/* line 223, c:/T1/app/assets/sass/hybrid.scss */
.extra-content {
  background: #fff;
  color: #0b0c0c;
}

/* line 227, c:/T1/app/assets/sass/hybrid.scss */
.extra-content .column-one-third hr {
  height: 10px;
  background: #28a197;
  margin: 0 0 1.5em 0;
}

/* line 233, c:/T1/app/assets/sass/hybrid.scss */
.extra-content hr {
  margin: 4em 0;
}

/* line 239, c:/T1/app/assets/sass/hybrid.scss */
.jump-links.hybrid-links {
  margin: 0 0 2em 0;
  padding: 0 0 2em 0;
}

/* line 244, c:/T1/app/assets/sass/hybrid.scss */
.jump-links.hybrid-links a span {
  background: #005ea5;
  color: #fff;
  font-weight: bold;
  border-radius: 50%;
  width: 1.5em;
  height: 1.35em;
  padding: 0.15em 0 0 0;
  float: left;
  text-decoration: none;
  margin: -0.25em 0.5em 1em 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* line 265, c:/T1/app/assets/sass/hybrid.scss */
.jump-links.hybrid-links ol {
  color: #28a197;
  font-weight: bold;
}

/* line 269, c:/T1/app/assets/sass/hybrid.scss */
.jump-links.hybrid-links ol li a {
  font-weight: normal;
}

/* line 277, c:/T1/app/assets/sass/hybrid.scss */
.number, .corner {
  position: absolute;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* line 289, c:/T1/app/assets/sass/hybrid.scss */
.number {
  background: #28a197;
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  top: -1.25em;
  left: -1.25em;
  width: 2em;
  height: 2em;
  font-size: 2.5rem;
  display: none;
}

/* line 303, c:/T1/app/assets/sass/hybrid.scss */
.panel-border-wide.hybrid {
  border-left: 10px solid #28a197;
  margin: 1em 0 2em 0;
  padding-top: 0;
  padding-bottom: 0;
}

/* line 309, c:/T1/app/assets/sass/hybrid.scss */
.panel-border-wide.hybrid a {
  text-decoration: none;
  display: inline-block;
}

/* line 312, c:/T1/app/assets/sass/hybrid.scss */
.panel-border-wide.hybrid a:focus {
  border: 3px solid #ffbf47;
}

/* line 315, c:/T1/app/assets/sass/hybrid.scss */
.panel-border-wide.hybrid a h3 {
  text-decoration: underline;
  margin-top: 10px;
}

/* line 319, c:/T1/app/assets/sass/hybrid.scss */
.panel-border-wide.hybrid a p {
  text-decoration: none;
  color: #0b0c0c;
}

/* line 322, c:/T1/app/assets/sass/hybrid.scss */
.panel-border-wide.hybrid a p.bold-xxlarge {
  margin-bottom: 15px;
}

/* line 327, c:/T1/app/assets/sass/hybrid.scss */
.panel-border-wide.hybrid .column-one-third {
  line-height: 0;
}

/* line 330, c:/T1/app/assets/sass/hybrid.scss */
.panel-border-wide.hybrid img {
  line-height: 0;
  width: 100%;
}

/* line 340, c:/T1/app/assets/sass/hybrid.scss */
.intro-section .bold-xxlarge {
  margin-top: 0;
}

/* line 344, c:/T1/app/assets/sass/hybrid.scss */
.intro-section .button-start {
  margin-top: 1em;
}

/* line 347, c:/T1/app/assets/sass/hybrid.scss */
.intro-section hr {
  margin-top: 3em;
  margin-bottom: 3em;
}

/* line 354, c:/T1/app/assets/sass/hybrid.scss */
ul.salaries {
  margin: 1em 0 2em 0;
  width: 100%;
  display: inline-block;
}

/* line 358, c:/T1/app/assets/sass/hybrid.scss */
ul.salaries li {
  list-style: none;
  text-align: center;
  float: left;
}

/* line 362, c:/T1/app/assets/sass/hybrid.scss */
ul.salaries li p {
  color: rgba(11, 12, 12, 0.4);
  margin: 1em 0 0 0;
}

/* line 366, c:/T1/app/assets/sass/hybrid.scss */
ul.salaries li strong {
  display: inline-block;
  width: 100%;
  font-weight: bold;
}

/* line 371, c:/T1/app/assets/sass/hybrid.scss */
ul.salaries li .value {
  display: inline-block;
  margin: 1em 0 0 0;
}

/* line 374, c:/T1/app/assets/sass/hybrid.scss */
ul.salaries li .value span {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  background: #28a197;
  color: #fff;
  border-radius: 50%;
  line-height: 1.2;
  font-weight: bold;
}

/* line 394, c:/T1/app/assets/sass/hybrid.scss */
.big-border-box {
  border: 10px solid #f2f3f4;
  position: relative;
}

/* line 397, c:/T1/app/assets/sass/hybrid.scss */
.big-border-box::before {
  content: "";
  background: #fff;
  right: -10px;
  top: -10px;
  padding: 0;
  position: absolute;
  display: inline-block;
  border-style: solid;
  border-width: 1.5em 0 0 1.5em;
  border-color: transparent transparent transparent #28a197;
}

/* line 413, c:/T1/app/assets/sass/hybrid.scss */
.autocomplete-suggestions {
  width: 100%;
  background: #fff;
  border-radius: 5px;
  margin-top: 5px;
  border: 3px solid #28a197;
  overflow: auto;
  max-height: 300px !important;
}

/* line 421, c:/T1/app/assets/sass/hybrid.scss */
.autocomplete-suggestions .autocomplete-suggestion {
  padding: 1em;
}

/* line 423, c:/T1/app/assets/sass/hybrid.scss */
.autocomplete-suggestions .autocomplete-suggestion:hover, .autocomplete-suggestions .autocomplete-suggestion:focus, .autocomplete-suggestions .autocomplete-suggestion.autocomplete-selected {
  background: #f2f3f4;
  cursor: pointer;
}

/* line 427, c:/T1/app/assets/sass/hybrid.scss */
.autocomplete-suggestions .autocomplete-suggestion strong {
  color: #28a197;
  font-weight: bold;
}

@media (min-width: 1020px) {
  /* line 441, c:/T1/app/assets/sass/hybrid.scss */
  .welcome_block.search .heading-xlarge {
    margin-top: 0.325em;
    margin-bottom: 0.5em;
  }
  /* line 446, c:/T1/app/assets/sass/hybrid.scss */
  .welcome_block.search form input {
    font-size: 2rem;
  }
  /* line 455, c:/T1/app/assets/sass/hybrid.scss */
  ul.salaries.full-width li, ul.salaries.two-thirds li {
    width: 33%;
  }
  /* line 462, c:/T1/app/assets/sass/hybrid.scss */
  ul.salaries.full-width li .value span {
    width: 7em;
    height: 7em;
    padding: 1em;
    font-size: 4rem;
  }
  /* line 474, c:/T1/app/assets/sass/hybrid.scss */
  ul.salaries.two-thirds li .value span {
    width: 5em;
    height: 5em;
    padding: 1em;
    font-size: 3rem;
  }
}

@media (min-width: 641px) {
  /* line 492, c:/T1/app/assets/sass/hybrid.scss */
  ul.salaries li {
    width: 33%;
  }
  /* line 495, c:/T1/app/assets/sass/hybrid.scss */
  ul.salaries li .value span {
    width: 6em;
    height: 6em;
    padding: 1em;
    font-size: 3rem;
  }
  /* line 507, c:/T1/app/assets/sass/hybrid.scss */
  ul.salaries.full-width li, ul.salaries.two-thirds li {
    width: 33%;
  }
  /* line 514, c:/T1/app/assets/sass/hybrid.scss */
  ul.salaries.full-width li .value span {
    width: 6em;
    height: 6em;
    padding: 1em;
    font-size: 3rem;
  }
  /* line 526, c:/T1/app/assets/sass/hybrid.scss */
  ul.salaries.two-thirds li .value span {
    width: 4em;
    height: 4em;
    padding: 1em;
    font-size: 2.75rem;
  }
}

@media (min-width: 480px) {
  /* line 543, c:/T1/app/assets/sass/hybrid.scss */
  ul.salaries li {
    width: 33%;
    margin-bottom: 1em;
  }
  /* line 546, c:/T1/app/assets/sass/hybrid.scss */
  ul.salaries li strong {
    font-size: 1.4rem;
  }
  /* line 550, c:/T1/app/assets/sass/hybrid.scss */
  ul.salaries li .value span {
    width: 5em;
    height: 5em;
    padding: 1em;
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 480px) {
  /* line 566, c:/T1/app/assets/sass/hybrid.scss */
  ul.salaries li {
    width: 33%;
    margin-bottom: 1em;
  }
  /* line 569, c:/T1/app/assets/sass/hybrid.scss */
  ul.salaries li strong {
    font-size: 1.4rem;
  }
  /* line 573, c:/T1/app/assets/sass/hybrid.scss */
  ul.salaries li .value span {
    width: 5em;
    height: 5em;
    padding: 1em;
    font-size: 1.6rem;
  }
  /* line 584, c:/T1/app/assets/sass/hybrid.scss */
  .panel-border-wide.hybrid {
    margin: 1em 0 4em 0;
  }
  /* line 586, c:/T1/app/assets/sass/hybrid.scss */
  .panel-border-wide.hybrid img {
    margin-bottom: 1.5em;
  }
  /* line 593, c:/T1/app/assets/sass/hybrid.scss */
  .intro-section .bold-xxlarge {
    margin-bottom: 0.5em;
  }
  /* line 598, c:/T1/app/assets/sass/hybrid.scss */
  .salary, .hours {
    margin: 1em 0;
    display: inline-block;
  }
  /* line 601, c:/T1/app/assets/sass/hybrid.scss */
  .salary .icon, .hours .icon {
    display: inline-block;
    width: 6em;
    height: 6em;
    float: left;
    margin-right: 1em;
  }
  /* line 612, c:/T1/app/assets/sass/hybrid.scss */
  .extra-content .column-one-third hr {
    margin: 1.5em 0;
  }
  /* line 620, c:/T1/app/assets/sass/hybrid.scss */
  .testimonial .home_content .text-wrap {
    width: 100%;
    float: left;
    clear: left;
  }
  /* line 625, c:/T1/app/assets/sass/hybrid.scss */
  .testimonial .home_content img {
    width: 11em;
    height: 11em;
    float: left;
    margin: -0.25em 3em 2em 0;
  }
  /* line 631, c:/T1/app/assets/sass/hybrid.scss */
  .testimonial .home_content .quote {
    width: 4em;
    height: 6em;
    bottom: -1em;
    right: 0;
  }
  /* line 636, c:/T1/app/assets/sass/hybrid.scss */
  .testimonial .home_content .quote.one {
    right: 5em;
  }
}

/*# sourceMappingURL=hybrid.css.map */