{% extends "layout_home.html" %}

{% block page_title %}
  National Careers Service - Explore
{% endblock %}

{% block content %}

{% include "includes/new_navigation.html" %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
          <span class="heading-secondary">Explore part 4 of 5</span>
       How far do you like to travel?
      </h1>
        <form method="get" action="/explore-part-5">
        <fieldset class="form-group">
            <legend class="visuallyhidden">
             How far do you like to travel?
            </legend>
            <!--<label for="radio-part-1" class="block-label">
              <input id="radio-part-1" type="checkbox" name="I don't" value="I don't">
              <span class="heading-small">I don't</span><br>
              I'm a creature of home comforts
            </label>-->
            <label for="radio-part-2" class="block-label">
              <input id="radio-part-2" type="checkbox" name="Down the street" value="Down the street">
              <span class="heading-small">Locally</span><br>
               You like to work within walking distance from your home
            </label>
            <label for="radio-part-3" class="block-label">
              <input id="radio-part-3" type="checkbox" name="The other side of town" value="The other side of town">
              <span class="heading-small">The other side of town</span><br>
              A short bus ride or drive from home
            </label>
            <label for="radio-part-3" class="block-label">
              <input id="radio-part-3" type="checkbox" name="I'd like to see some new places" value="I'd like to see some new places">
              <span class="heading-small">A different town or city</span><br>
             You are prepared to travel further for work
            </label>
            <label for="radio-part-4" class="block-label">
              <input id="radio-part-4" type="checkbox" name="The whole country" value="The whole country">
              <span class="heading-small">The whole country</span><br>
              You don’t mind travel or moving house
            </label>
            <label for="radio-part-5" class="block-label">
              <input id="radio-part-5" type="checkbox" name="The continent" value="The continent">
              <span class="heading-small">The continent</span><br>
              Anywhere in Europe
            </label>
            <label for="radio-part-6" class="block-label">
              <input id="radio-part-6" type="checkbox" name="The world" value="The world">
              <span class="heading-small">The world</span><br>
              You want to see other countries
            </label>
          </fieldset>
           <input class="button" type="submit" value="Continue">
        </form>

    </div>
  </div>
</main>

{% endblock %}
