{% extends "layout.html" %}

{% block page_title %}
  National Careers Service
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
<h1 class="heading-xlarge">National Careers Service Alpha</h1>
        
   <h2 class="heading-large">GDS prototype</h2>    
        <h3 class="heading-medium"><a href="/explore-part-1.html">Journey A</a></h3>
        <p>This journey features the enhanced job profile with shortlisting functionality.</p>
        
        <h3 class="heading-medium"><a href="/explore-part-1a.html">Journey B</a></h3>
        <p>This journey features the enhanced job profile with shortlisting functionality, removing the job familily step.</p>
        
         <h3 class="heading-medium"><a href="/paralegal2.html">Journey C (Research)</a></h3>
        <p>This journey jumps straight to the paralegal job profile with the research concept.</p> 
        <h2 class="heading-medium"><a href="/S3/set-location-appointment.html">Journey D</a></h2>
        <p>This journey looks at booking an appointment for speak to an adviser.</p> 
        
        <h2 class="heading-large">Non GDS prototype</h2>
        
         <h3 class="heading-medium"><a href="http://digitalcareersservice.azurewebsites.net/alpha/V2/html/prototype/journey-1/1-homepage.html">Journey 1</a></h3>
        <p>This is the original user journey developed for Explore.</p>
        <h3 class="heading-medium"><a href="http://digitalcareersservice.azurewebsites.net/alpha/V2/html/prototype/journey-2/1-homepage.html">Journey 2</a></h3>
        <p>This is a revised verison, allowing the user to click from the Job Families straight through to the job prolfiles.</p>
         <h3 class="heading-medium"><a href="http://digitalcareersservice.azurewebsites.net/alpha/V2/html/prototype/journey-3/1-homepage.html">Journey 3</a></h3>
        <p>This version has gone even further and we have removed the job families altogether, enhanced the job profile listings and removed images from the profile listings and profile pages.</p>
        
        <h2 class="heading-large">Job tinder</h2>
        
        <h3 class="heading-medium"><a href="https://marvelapp.com/442013e">Tinder for jobs</a></h3>  
</ul>
          
  
    </div>
  </div>
</main>

{% endblock %}


