{% extends "layout.html" %}

{% block page_title %}
  National Careers Service - Explore
{% endblock %}

{% block content %}

<main id="content" role="main">
        {% include "includes/phase_banner_alpha.html" %}
        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="heading-xlarge"><span class=
                "heading-secondary">Explore our job profiles</span> Job
                profiles that may be of interest to you</h1>
                <h3 class="heading-medium"><a href="/plumber">Plumber</a></h3>
                <p>Plumbers fit and service heating systems.</p>
                <h3 class="heading-medium"><a href="/diver">Diver</a></h3>
                <p>Divers work underwater at sea, or in rivers, lakes, canals
                and reservoirs.</p>
                <h3 class="heading-medium"><a href="/credit-controller">Credit
                controller</a></h3>
                <p>Credit controllers help firms get the money they're owed
                from businesses and individuals.</p>
                <h3 class="heading-medium"><a href=
                "/paralegal">Paralegal</a></h3>
                <p>Paralegals prepare legal documents, carry out research and
                give legal advice to clients.</p>
                <h3 class="heading-medium"><a href="/chef">Chef</a></h3>
                <p>Chefs prepare and cook food.</p>
                <h3 class="heading-medium"><a href=
                "/publican">Publican</a></h3><span class="grey">Pub landlord,
                licensee, manager of licensed premises</span>
                <p>Publicans, or pub landlords, manage licensed premises like
                pubs and bars.</p>
                <h3 class="heading-medium"><a href="/bank-manager">Bank
                manager</a></h3><span class="grey">Building society manager,
                financial institution manager or director</span>
                <p>Bank managers oversee the day-to-day operations of their
                branch, supervise staff and work to attract new customers.</p>                
                <h3 class="heading-medium"><a href="/medical-secretary">Medical
                secretary</a></h3>
                <p>Medical secretaries provide office support in hospitals, GP
                surgeries and universities.</p>
            </div>
        </div>
    </main>

{% endblock %}


