{% extends "layout.html" %}

{% block page_title %}
  National Careers Service - What to do in an interview
{% endblock %}

{% block content %}

<main id="content" role="main">
		{% include "includes/phase_banner_alpha.html" %}
    {% include "includes/breadcrumb_resources.html" %}
		<div class="grid-row">
			<div class="column-two-thirds">
			<h1 class="heading-xlarge">Completing application forms</h1>
                <p class="lede">For some jobs, employers may ask you to fill in an application form instead of a CV.</p>
                <p>When filling in an application form:</p>
                <ul class="list list-bullet">
                <li>follow the application instructions – if it's a written application form and it says write in capitals or use black ink, then do so</li>
                <li>present the information clearly and neatly</li>
                <li>sell your most relevant skills</li>
                <li>show how your experience relates to the job and the questions asked</li>
                </ul>
                <p>Completing an application form can take just as much time and effort as writing a CV and covering letter. However, the more forms you fill in, the quicker you'll get and the better you'll become at doing them. A good way to avoid mistakes and crossings-out on a paper application form is to photocopy the original and practise filling in this copy first. Take care of the original form – don't spill anything on it or crease it.</p>
                <p>Most employers these days will ask you to apply online. Read the instructions very carefully and follow them. Get someone to help you if you're not confident using a computer. Draft your application using a word processing package like Word and spellcheck it thoroughly before you send it. Saving a draft version on your computer means you'll always have a backup copy that you can refer to or send in again if you need to.</p>
                <p>Some websites let you save your information as you fill in your application form, so you don't have to do it all in one go. Make sure you keep a record of any usernames and passwords you use so you can get back in.</p>
                <p>Whether your fill in you application form online or on paper, make sure you:</p>
                <ul class="list list-bullet">
                <li>read it over a few times to check for spelling and grammar errors</li>
                <li>ask someone else to proofread it and check it for you</li>
                <li>check you've filled in all the boxes that are relevant to you, and put 'N/A' (not applicable) in boxes that aren't relevant to you</li>
                <li>photocopy or print out the finished application form, so you have a record of what you've written</li>
                <li>make sure you submit your application to arrive before the closing date</li>
                </ul>
                <p>Some application forms ask for a  personal statement. Make sure anything you write is specific to the post, rather than making general comments. Show how what you've done or what you can do is relevant to the demands of the role.</p>
               
            </div>     
		</div>
	</main>

{% endblock %}


