{% extends "layout.html" %}

{% block page_title %}
  National Careers Service
{% endblock %}

{% block content %}

<main id="content" role="main">
        {% include "includes/phase_banner_alpha.html" %}
        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="heading-xlarge"><span class=
                "heading-secondary">Explore our job profiles</span> Job
                profiles that may be of interest to you</h1>
                <div class="jobcontainer list">
                    <ul class="list">
                        <li class="job current">
                            <h2 class="heading-medium">Bank manager</h2>
                            <p>Bank managers oversee the day-to-day operations
                            of their branch, supervise staff and work to
                            attract new customers.</p>
                            <p>£18,000 to £70,000 average per year.</p>
                            <p>37 to 40 hours per week.</p><a href=
                            "/bank-manager">View job profile</a>
                        </li>
                        <li class="job">
                            <h2 class="heading-medium">Chef</h2>
                            <p>Chefs prepare, cook and present food.</p>
                            <p>£13,000 to £50,000 average per year.</p>
                            <p>37 to 40 hours per week.</p><a href="/chef">View
                            job profile</a>
                        </li>
                        <li class="job">
                            <h2 class="heading-medium">Medical secretary</h2>
                            <p>Medical secretaries provide office support in
                            hospitals, GP surgeries and universities.</p>
                            <p>£13,000 to £50,000 average per year.</p>
                            <p>37 to 40 hours per week.</p><a href=
                            "/medical-secretary">View job profile</a>
                        </li>
                        <li class="job">
                            <h2 class="heading-medium">Credit controller</h2>
                            <p>Credit controllers help firms get the money
                            they're owed from businesses and individuals.</p>
                            <p>£16,000 to £30,000 average per year.</p>
                            <p>37 to 40 hours per week.</p><a href=
                            "/credit-controller">View job profile</a>
                        </li>
                        <li class="job">
                            <h2 class="heading-medium">Diver</h2>
                            <p>Divers work underwater at sea, or in rivers,
                            lakes, canals and reservoirs.</p>
                            <p>£16,000 to £30,000 average per year.</p>
                            <p>37 to 40 hours per week.</p><a href=
                            "/diver">View job profile</a>
                        </li>
                        <li class="job">
                            <h2 class="heading-medium">Paralegal</h2>
                            <p>Paralegals prepare legal documents, carry out
                            research and give legal advice to clients.</p>
                            <p>£16,000 to £40,000 average per year.</p>
                            <p>37 to 40 hours per week.</p><a href=
                            "/paralegal">View job profile</a>
                        </li>
                        <li class="job">
                            <h2 class="heading-medium">Plumber</h2>
                            <p>Plumbers fit and service heating systems. They
                            also repair faults in hot and cold water supplies
                            and drainage networks.</p>
                            <p>£18,000 to £35,000 average per year.</p>
                            <p>37 to 40 hours per week.</p><a href=
                            "/plumber">View job profile</a>
                        </li>
                        <li class="job">
                            <h2 class="heading-medium">Publican</h2>
                            <p>Publicans manage licensed premises like pubs and
                            bars.</p>
                            <p>£20,000 to £50,000 average per year.</p>
                            <p>37 to 40 hours per week.</p><a href=
                            "/publican">View job profile</a>
                        </li>
                    </ul>                    
                    <p>You have <span id="counter">8</span> job profiles left to
                    shortlist.</p><button class="but-nope">No, remove this</button>
                    <button class="but-yay">Yes, add this to my shortlist</button>                    
                </div>
                <ul class="joblist" id="results"><h2 class="heading-large">You have shortlisted these job profiles</h2></ul>
            </div>
        </div>
    </main>

{% endblock %}



