{% extends "layout_home.html" %}

{% block page_title %}
  National Careers Service - Earn while you learn with an apprenticeship
{% endblock %}

{% block content %}

{% include "includes/new_navigation.html" %}

<main id="content" role="main">
		{% include "includes/breadcrumb_home.html" %}
		<div class="grid-row">
			<div class="column-two-thirds">
				<h1 class="heading-xlarge">Earn while you learn with an apprenticeship</h1>
				<p class="lede">An <a href="https://www.gov.uk/apprenticeships-guide">apprenticeship</a> is a real job with training, so you can earn while you learn and get recognised qualifications as you go.</p>
				<h2 class="heading-large">Apprenticeships</h2>
				<p>You can apply for an apprenticeship if:</p>
				<ul class="list list-bullet">
					<li>you live in England</li>
					<li>you're 16 or over</li>
					<li>you're not in full-time education</li>
				</ul>
				<p>Your employer will provide your on-the-job training and pay your wages. You’ll be paid at least the national minimum wage <a href="https://www.gov.uk/national-minimum-wage-rates">apprenticeship rate</a>.</p>
				<p>Most apprenticeships take 1 to 4 years to complete depending on the level. However certain degree level apprenticeships may take up to 6 years. They cover 1,200 job roles in a range of industries, from engineering to financial advice, veterinary nursing to accountancy.</p>
				<p>Doing an apprenticeship gives you key benefits like:</p>
				<ul class="list list-bullet">
					<li>career progression</li>
					<li>gaining qualifications</li>
					<li>learning job-specific skills</li>
					<li>earning a salary</li>
					<li>top quality training</li>
				</ul>
				<p>Completing an apprenticeship may help your career progression by:</p>
				<ul class="list list-bullet">
					<li>having the skills that employers need</li>
					<li>collecting UCAS points</li>
					<li>studying for Technical Certificates</li>
					<li>going on to higher education</li>
					<li>working towards promotion</li>
				</ul>
				<p>People with advanced apprenticeships earn over £100,000 more than people that don’t.</p>
				<p>Training can take place at:</p>
				<ul class="list list-bullet">
					<li>college</li>
					<li>a training organisation</li>
					<li>university</li>
				</ul>
				<p>You can do off-the-job training on day release (attending 1 day a week) or over a number of days in a short period (block-release).</p>
				<p>Your apprenticeship will cover the hands-on experience and the training in all other areas of the job.</p>
				<h3 class="heading-medium">Applying for vacancies</h3>
				<p>You’ll need to <a href="https://www.gov.uk/apply-apprenticeship">create an account</a> to apply for an apprenticeship. You can apply for as many as you like.</p>
				<p><a href="https://www.gov.uk/government/publications/how-to-write-a-winning-apprenticeship-application">Get advice</a> on how to fill in an apprenticeship application form.</p>
				<h2 class="heading-large">Traineeship</h2>
				<p>If you're interested in an apprenticeship but you don't yet have the skills and experience, you could <a href="https://www.gov.uk/find-traineeship">apply for a traineeship</a>. A traineeship is a placement that will help you gain work experience and improve your skills. It can last anything from 6 weeks to 6 months.</p>
				<p>You won’t be paid, but you may be given expenses for things like travel and meals. You may be able to get a bursary to help with education-related costs.</p>
				<p>What you can expect from a traineeship:</p>
				<ul class="list list-bullet">
					<li>high quality work placements – where you can learn what’s expected of you in the workplace, and develop links with local employers</li>
					<li>flexible training - in relevant areas to help you get ready for work, like job search and interview skills, time-keeping and team working</li>
					<li>to study English and maths (if appropriate) – employers value these essential skills very highly</li>
				</ul>
				<p>You should receive an interview at the end of your traineeship, if there is a job or apprenticeship vacancy with your work placement host.</p>
				<p>If there isn’t a job or apprenticeship opportunity at that time, you’ll receive an exit interview with the employer who provided the work placement. In this interview you can discuss what you’ve learned, and how it might help you with things like updating your CV and getting into a job or an apprenticeship.</p>
				<p>To do a traineeship you must be:</p>
				<ul class="list list-bullet">
					<li>aged 16 to 24 and qualified below Level 3</li>
					<li>aged 16 to 25 with learning difficulties</li>
					<li>out of work with little or no work experience</li>
					<li>working for less than 16 hours a week</li>
					<li>leaving school or college</li>
					<li>finding it hard to get onto an apprenticeship</li>
				</ul>
				<p>Many employers offer both traineeships and apprenticeships – so you may be able to move to the next level with the same employer.</p>
			</div>
		</div>
	</main>

{% endblock %}
