{% extends "layout_home.html" %}

{% block page_title %}
  National Careers Service - Redundancy
{% endblock %}

{% block content %}

{% include "includes/new_navigation.html" %}

<main id="content" role="main">
    {% include "includes/breadcrumb_resources.html" %}
		<div class="grid-row">
			<div class="column-two-thirds">
			<h1 class="heading-xlarge">Redundancy</h1>
                <p class="lede">Redundancy isn't usually welcome, but it could be a good opportunity to change job or career.</p>
                <p>If you’re made redundant, try to  keep calm and stay positive. It will help if you:</p>
                <ul class="list list-bullet">
                <li>see redundancy as an opportunity for change</li>
                <li>focus on moving forward rather than looking back</li>
                <li>look at your options</li>
                <li>get advice from professional advisers</li>
                <li>talk to your friends and family</li>
                <li>find out your transferable skills</li>
                </ul>
                <p>Don't take redundancy personally. Remember that it’s the job that has been made redundant, not you. A lot of people face redundancy at some point in their lives.</p>
                <p>Try not to  feel rushed into making decisions. Although you might have concerns about money, a quick fix might not be the best thing in the long term. Weigh up all your options carefully – this way you'll make the best decision.</p>
                <p>Check <a href="https://www.gov.uk/redundant-your-rights/overview">your rights</a> if you’ve been made redundant.</p>
                <p>Before you leave your employer, make sure you:</p>
                <ul class="list list-bullet">
                <li>pick up <a href="https://www.gov.uk/paye-forms-p45-p60-p11d/p45">your P45</a></li>
                <li>get written details of your redundancy payment and package</li>
                </ul>
                <p>Get the contact details of your:</p>
                <ul class="list list-bullet">
                <li>line manager</li>
                <li>trade union representative</li>
                <li>human resources department</li>
                <li>pension fund trustees</li>
                </ul>
                <p>Your employer might provide free careers guidance to help you decide on your next move. Some will offer money for training.</p>
                <p>You can get advice on redundancy and financial issues from:</p>
                <ul class="list list-bullet">
                <li>your trade union</li>
                <li>professional bodies and associations</li>
                <li>your local <a href="https://www.citizensadvice.org.uk/">Citizens Advice</a></li>
                <li>independent financial advisers</li>
                <li>employment law experts</li>
                </ul>
                <p>Redundancy can be a stressful time but there are people who can help you cope. You can speak to a counsellor, who can support you in moving on. Your employer may help you arrange this. The <a href="http://bacp.co.uk">British Association for Counselling and Psychotherapy</a> may also be able to help.</p>
            </div>
		</div>
	</main>

{% endblock %}
