{% extends "layout.html" %}

{% block page_title %}
  National Careers Service - Book this
{% endblock %}

{% block content %}

<main id="content" role="main">
		{% include "includes/phase_banner_alpha.html" %} {% include "includes/breadcrumb_resources.html" %} {% include "includes/main_navigation.html" %}
		<div class="grid-row">
			<div class="column-two-thirds">
				<div id="all_divs">
					<div class="prepare_content prepare">
						<h2 class="heading-large">Prepare for a job</h2>
						<p>Our careers advisers have written the following guides to help you:</p>
						<ul class="list list-bullet">
							<li>
								<a href="https://www.youtube.com/watch?v=Gs3IJkLgH00">law firm interview tips video</a>
							</li>
							<li>
								<a href="./S4/top-ten-interview-questions.html">top 10 interview questions and answers</a>
							</li>
							<li>
								<a href="./S4/interview-skills.html">interview skills</a>
							</li>
							<li>
								<a href="./S4/sample-cv.html">how to write a CV</a>
							</li>
							<!--<li>
								<a href="#">what to include in your CV</a>
							</li>-->
							<li>
								<a href="./S4/interview.html">what to do in an interview</a>
							</li>
							<li>
								<a href="./S4/sample-application-letters.html">completing application forms</a>
							</li>
						</ul>
					</div>
					<div class="prepare_content professional">
						<h2 class="heading-large">Professional development</h2>
						<p>Our careers advisers have written the following guides to help you:</p>
						<ul class="list list-bullet">
							<li>
								<a href="#">choosing or changing career</a>
							</li>
							<li>
								<a href="#">starting a new job</a>
							</li>
							<li>
								<a href="#">choosing a professional course</a>
							</li>
							<li>
								<a href="#">negotiating a salary</a>
							</li>
							<li>
								<a href="#">giving presentations</a>
							</li>
							<li>
								<a href="./S4/interview-skills.html">interview skills</a>
							</li>
						</ul>
					</div>
					<div class="prepare_content personal">
						<h2 class="heading-large">Personal circumstances</h2>
						<p>Our careers advisers have written the following guides to help you:</p>
						<ul class="list list-bullet">
							<li>
								<a href="./S4/redundancy.html">dealing with redundancy</a>
							</li>
							<li>
								<a href="#">returning to work after having children</a>
							</li>
							<li>
								<a href="#">resources for parents and carers of under 18s</a>
							</li>
							<li>
								<a href="#">taking your parenting skills into work</a>
							</li>
							<li>
								<a href="#">dealing with illness at work</a>
							</li>
							<li>
								<a href="#">dealing with divorce at work</a>
							</li>
							<li>
								<a href="#">resources for working with a disability</a>
							</li>
						</ul>
					</div>
					<div class="prepare_content apprenticeships">
						<h2 class="heading-large">Apprenticeships</h2>
						<p>Our careers advisers have written the following guides to help you:</p>
						<ul class="list list-bullet">
							<li>
								<a href="./S4/apprenticeship.html">what is an apprenticeship?</a>
							</li>
							<li>
								<a href="https://www.gov.uk/government/publications/how-to-write-a-winning-apprenticeship-application">writing a winning apprenticeship application</a>
							</li>
							<li>
								<a href="https://www.youtube.com/watch?v=QQI-MqWeFro&feature=youtu.be">legal services apprenticeship (video)</a>
							</li>
							<li>
								<a href="https://www.youtube.com/watch?v=7IqFUxSLufw&feature=youtu.be">how to write a winning apprenticeship application (video)</a>
							</li>
						</ul>
					</div>
					<div class="prepare_content under25">
						<h2 class="heading-large">Young people</h2>
						<p>Our careers advisers have written the following guides to help you:</p>
						<ul class="list list-bullet">
							<li>
								<a href="#">choosing GCSEs</a>
							</li>
							<li>
								<a href="#">work experience</a>
							</li>
							<li>
								<a href="#">what are my options when I leave school?</a>
							</li>
							<li>
								<a href="#">college or sixth form?</a>
							</li>
							<li>
								<a href="#">advantages and disadvantages of university</a>
							</li>
						</ul>
					</div>
				</div><!--all divs-->
			</div>
		</div>
	</main>

{% endblock %}


