{% extends "layout.html" %}

{% block page_title %}
  National Careers Service - Contact an adviser
{% endblock %}

{% block content %}

<main id="content" role="main">
		{% include "includes/phase_banner_alpha.html" %}    
       {% include "includes/breadcrumb_home.html" %}
		<div class="grid-row">
			<div class="column-two-thirds">
				<h1 class="heading-xlarge">Contact an adviser</h1>
				<p><a href="./set-location-appointment.html">Book an appointment</a></p>
                <p><a href="./webchat.html">Web chat</a></p>
              </div>
		</div>
	</main>

{% endblock %}


