{% extends "layout_home.html" %}

{% block page_title %}
  National Careers Service - Contact an adviser
{% endblock %}

{% block content %}
<div class="welcome_block">
		<div class="home_content">
			<div class="grid-row">
				<div class="column-two-thirds">
					<h1 class="heading-xlarge">Contact an adviser</h1>					
					<p class="lede">If you need more help choosing a career that suits you, our careers advisers are available to offer you advice and guidance.</p>
				</div>
			</div>
		</div>
	</div>
	<main id="content" role="main">	
       <div class="grid-row">
			<div class="column-two-thirds">
                <h2 class="heading-large">We are here to help you</h2>
           <p>We have advisers throughout the UK who can help you match your skills, interests and experience to jobs that you may like.</p>
                    <p>You can reach our advisers by either web chat or a face-to-face interview.</p>
           </div></div>
		<div class="grid-row">
			<div class="column-one-half">
				<h2 class="heading-large">Chat online</h2>
				<p>We have over 1000 advisers using web chat.  This option may suit you if you are confident using this kind of technology.  You have to be 13 or over to use this service.</p><p>Usually you will be able to chat to an adviser immediately but there may be a short wait during busy times.</p><a class="button button-start" href="./webchat.html" role="button">Chat now</a>
			</div>
			<div class="column-one-half">
				<h2 class="heading-large">Speak to an adviser</h2>
				<p>A face-to-face interview with one of our advisers may suit you better.  You’ll need to be 19 or over to use this service. </p>
				<p>Appointments are usually available in a town or city close to you.  We will try to organise a time and date that suits you best.</p><a class="button button-start" href="./set-location-appointment.html" role="button">Book an appointment</a>
			</div>
		</div>
	</main>

{% endblock %}


