{% extends "layout.html" %}

{% block page_title %}
  National Careers Service - Contact an adviser
{% endblock %}

{% block content %}

	<main id="content" role="main">
		{% include "includes/phase_banner_alpha.html" %} {% include "includes/breadcrumb_home.html" %}
		<div class="grid-row">
			<div class="column-two-thirds">
				<h1 class="heading-xlarge">Contact an adviser</h1>
				<p>Our careers advisers can help you to find a career that will suit you.</p>
			</div>
		</div>
		<div class="grid-row">
			<div class="column-one-half">
				<h2 class="heading-large">Chat online</h2>
				<p>You can speak to one of 1400 advisers now using webchat. You need to be 13 or over to use this service.</p><a class="button button-start" href="./webchat.html" role="button">Chat now</a>
			</div>
			<div class="column-one-half">
				<h2 class="heading-large">Speak to an adviser</h2>
				<p>You need to be 19 or over to use this service.</p>
				<p>You will need to book an appointment, which may be in a few days time.</p><a class="button button-start" href="./set-location-appointment.html" role="button">Book an appointment</a>
			</div>
		</div>
	</main>

{% endblock %}


