{% extends "layout_search.html" %}

{% block page_title %}
Careers Service - Skills match
{% endblock %}

{% block content %}

	<main id="content" role="main">
		{% include "includes/phase_banner_alpha.html" %} {% include "includes/breadcrumb_para_match.html" %}
		<div class="grid-row">
			<div class="column-two-thirds">
				<h1 class="heading-xlarge">Add your experience</h1>
				<p>This is a skills profile. It follows the STAR method. It’s useful to:</p>
<ul class="list list-bullet"><li> help build a CV
	<li>help write an application form</li>
	<li>use as a basis for an interview</li>
	<li>use as a starting point for chat with an adviser </li>
				</ul>

				<form>
					<h2 class="heading-medium">1. Excellent administration skills</h2>
					<p>Ask user to describe how they’ve used this skill in work or voluntary situations.</p>
			     <div class="form-group">
                    <label class="form-label" for="textarea-a">Experience
                    </label>
					<textarea class="form-control w100" cols="30" id="textarea-a" rows="4"></textarea>
				</div>
					<p>Ask user to give one example of an achievement using this skill.</p>
					<div class="form-group">
                    <label class="form-label" for="textarea-b">Achievement
                    </label>
					<textarea class="form-control w100" cols="30" id="textarea-b" rows="4"></textarea>	
				</div>
					<h2 class="heading-medium">2. The ability to read and recall lots of complex information</h2>
					<p>Ask user to describe how they’ve used this skill in work or voluntary situations.</p>
			     <div class="form-group">
                    <label class="form-label" for="textarea-c">Experience
                    </label>
					<textarea class="form-control w100" cols="30" id="textarea-c" rows="4"></textarea>
				</div>
					<p>Ask user to give one example of an achievement using this skill.</p>
					<div class="form-group">
                    <label class="form-label" for="textarea-d">Achievement
                    </label>
					<textarea class="form-control w100" cols="30" id="textarea-d" rows="4"></textarea>	
				</div>
					<h2 class="heading-medium">3. A high level of accuracy and attention to detail</h2>
					<p>Ask user to describe how they’ve used this skill in work or voluntary situations.</p>
			     <div class="form-group">
                    <label class="form-label" for="textarea-e">Experience
                    </label>
					<textarea class="form-control w100" cols="30" id="textarea-c" rows="4"></textarea>
				</div>
					<p>Ask user to give one example of an achievement using this skill.</p>
					<div class="form-group">
                    <label class="form-label" for="textarea-f">Achievement
                    </label>
					<textarea class="form-control w100" cols="30" id="textarea-d" rows="4"></textarea>	
				</div>
					<h2 class="heading-medium">4. Excellent research skills</h2>
					<p>Ask user to describe how they’ve used this skill in work or voluntary situations.</p>
			     <div class="form-group">
                    <label class="form-label" for="textarea-f">Experience
                    </label>
					<textarea class="form-control w100" cols="30" id="textarea-c" rows="4"></textarea>
				</div>
					<p>Ask user to give one example of an achievement using this skill.</p>
					<div class="form-group">
                    <label class="form-label" for="textarea-g">Achievement
                    </label>
					<textarea class="form-control w100" cols="30" id="textarea-d" rows="4"></textarea>	
				</div>					
				</form>				
				<p><a class="button" href="soft-skills.html" role="button">Save and continue to soft skills</a>	
				
			</div>
			<div class="column-one-third">
				<h2 class="heading-medium">Download</h2>
				<p>You can download your progress at any time.</p>
				<p><a class="button" href="/public/downloads/sample.pdf" role="button" target="_blank">Generate download</a>	
			</div>
		</div>
	</main>


{% endblock %}
