{% extends "layout.html" %}

{% block page_title %}
National Careers Service - Explore
{% endblock %}

{% block content %}

<main id="content" role="main">
     {% include "includes/phase_banner_alpha.html" %}
     <div class="grid-row">
          <div class="column-two-thirds">
               <h1 class="heading-xlarge">
                    <span class="heading-secondary">Explore part 2 of 5</span>
                    Choose the skills you have
               </h1>
          </div>
     </div>
     <div class="grid-row">
          <div class="column-full">
               <form method="get" action="/explore-part-3a" class="explore method-two"> 
                    <fieldset class="form-group">
                         <legend class="visuallyhidden">
                              Choose the skills you have
                         </legend>
                         <div class="grid-row">
                              <div class="column-one-half">
                                   <label for="radio-part-1" class="block-label selection-button-checkbox">
                                        <img src="../public/images/section-2/icon-1.png" alt="Business sense">
                                        <input id="radio-part-1" type="checkbox" name="Business sense" value="Business sense">
                                        <span class="heading-medium">Business sense</span><br>
                                        <span>You understand business and can make good decisions about it</span>
                                   </label>
                              </div>
                              <div class="column-one-half">
                                   <label for="radio-part-2" class="block-label selection-button-checkbox">
                                        <img src="../public/images/section-2/icon-2.png" alt="Communication">
                                        <input id="radio-part-2" type="checkbox" name="Communication" value="Communication">
                                        <span class="heading-medium">Communication</span><br>
                                        <span>You can get your point across in writing and speech</span>
                                   </label>
                              </div>
                         </div>
                         <div class="grid-row">
                              <div class="column-one-half">
                                   <label for="radio-part-3" class="block-label selection-button-checkbox">
                                        <img src="../public/images/section-2/icon-3.png" alt="Teamwork">
                                        <input id="radio-part-3" type="checkbox" name="Teamwork" value="Teamwork">
                                        <span class="heading-medium">Teamwork</span><br>
                                        <span>You work best in groups</span>
                                   </label>
                              </div>
                              <div class="column-one-half">
                                   <label for="radio-part-4" class="block-label selection-button-checkbox">
                                        <img src="../public/images/section-2/icon-4.png" alt="Negotiation and persuasion">
                                        <input id="radio-part-4" type="checkbox" name="Negotiation and persuasion" value="Negotiation and persuasion">
                                        <span class="heading-medium">Negotiation and persuasion</span><br>
                                        <span>You can convince others to agree with you</span>
                                   </label>
                              </div>
                         </div>
                         <div class="grid-row">
                              <div class="column-one-half">
                                   <label for="radio-part-5" class="block-label selection-button-checkbox">
                                        <img src="../public/images/section-2/icon-5.png" alt="Problem solving">
                                        <input id="radio-part-5" type="checkbox" name="Problem solving" value="Problem solving">
                                        <span class="heading-medium">Problem solving</span><br>
                                        <span>You can find answers by looking at details</span>
                                   </label>
                              </div>
                              <div class="column-one-half">
                                   <label for="radio-part-6" class="block-label selection-button-checkbox">
                                        <img src="../public/images/section-2/icon-6.png" alt="Leadership">
                                        <input id="radio-part-6" type="checkbox" name="Leadership" value="Leadership">
                                        <span class="heading-medium">Leadership</span><br>
                                        <span>You're comfortable organising people and ideas</span>
                                   </label>
                              </div>
                         </div>
                         <div class="grid-row">
                              <div class="column-one-half">
                                   <label for="radio-part-7" class="block-label selection-button-checkbox">
                                        <img src="../public/images/section-2/icon-7.png" alt="Organisation">
                                        <input id="radio-part-7" type="checkbox" name="Organisation" value="Organisation">
                                        <span class="heading-medium">Organisation</span><br>
                                        <span>You're good at making plans</span>
                                   </label>
                              </div>
                              <div class="column-one-half">
                                   <label for="radio-part-8" class="block-label selection-button-checkbox">
                                        <img src="../public/images/section-2/icon-8.png" alt="Perseverance and motivation">
                                        <input id="radio-part-8" type="checkbox" name="Perseverance and motivation" value="Perseverance and motivation">
                                        <span class="heading-medium">Perseverance and motivation</span><br>
                                        <span>You're determined and can set your own deadlines</span>
                                   </label>
                              </div>
                         </div>
                         <div class="grid-row">
                              <div class="column-one-half">
                                   <label for="radio-part-9" class="block-label selection-button-checkbox">
                                        <img src="../public/images/section-2/icon-9.png" alt="Ability to work under pressure">
                                        <input id="radio-part-9" type="checkbox" name="Ability to work under pressure" value="Ability to work under pressure">
                                        <span class="heading-medium">Ability to work under pressure</span><br>
                                        <span>You can keep calm and complete the task</span>
                                   </label>
                              </div>
                              <div class="column-one-half">
                                   <label for="radio-part-10" class="block-label selection-button-checkbox">
                                        <img src="../public/images/section-2/icon-10.png" alt="Confidence">
                                        <input id="radio-part-10" type="checkbox" name="Confidence" value="Confidence">
                                        <span class="heading-medium">Confidence</span><br>
                                        <span>You know what your strengths are and take on new challenges</span>
                                   </label>
                              </div>
                         </div>
                         <div class="grid-row">
                              <div class="column-one-half">
                                   <label for="radio-part-11" class="block-label selection-button-checkbox">
                                        <img src="../public/images/section-2/icon-11.png" alt="Physical skills">
                                        <input id="radio-part-11" type="checkbox" name="Physical skills" value="Physical skills">
                                        <span class="heading-medium">Practical skills</span><br>
                                        <span>You enjoy working with your hands</span>
                                   </label>
                              </div>
                              <div class="column-one-half">
                                   <label for="radio-part-12" class="block-label selection-button-checkbox">
                                        <img src="../public/images/section-2/icon-12.png" alt="Willingness to learn">
                                        <input id="radio-part-12" type="checkbox" name="Willingness to learn" value="Willingness to learn">
                                        <span class="heading-medium">Willingness to learn</span><br>
                                        <span>You're happy to learn new skills</span>
                                   </label>
                              </div>
                         </div>
                         <div class="grid-row">
                              <div class="column-one-half">
                                   <label for="radio-part-13" class="block-label selection-button-checkbox">
                                        <img src="../public/images/section-2/icon-13.png" alt="Giving presentations">
                                        <input id="radio-part-13" type="checkbox" name="Giving presentations" value="Giving presentations">
                                        <span class="heading-medium">Giving presentations</span><br>
                                        <span>You can confidently explore ideas and information</span>
                                   </label>
                              </div>
                              <div class="column-one-half">
                                   <label for="radio-part-14" class="block-label selection-button-checkbox">
                                        <img src="../public/images/section-2/icon-14.png" alt="Nothing">
                                        <input id="radio-part-14" type="checkbox" name="Nothing" value="Nothing">
                                        <span class="heading-medium">Nothing</span><br>
                                        <span>You need more help to discover your skills</span>
                                   </label>
                              </div>
                         </div>

                    </fieldset>
                    <input class="button" type="submit" value="Continue">
               </form>

          </div>
     </div>
</main>

{% endblock %}
