{% extends "layout_home.html" %}

{% block page_title %}
  National Careers Service - Explore
{% endblock %}

{% block content %}

<div class="welcome_block">
		<div class="home_content">
			<div class="grid-row">
				<div class="column-two-thirds">
					<h1 class="heading-xlarge">Explore</h1>
					<h2 class="heading-large">We have over 850 job profiles waiting for you to discover</h2>
					<p class="lede">Take our quick explore tour and in less than 5 mins you could set yourself along new career path.</p>
				</div>
			</div>
		</div>
	</div>
<main id="content" role="main">		
		<div class="grid-row">
			<div class="column-two-thirds">
				<h2 class="heading-large">Explore careers</h2>
				<p><a href="./explore-part-1a.html">Explore</a></p>
              </div>
		</div>
	</main>

{% endblock %}


