{% extends "layout_home.html" %}

{% block page_title %}
  National Careers Service
{% endblock %}

{% block content %}

<div class="welcome_block alpha-block">
	<div class="home_content">
		{% include "includes/phase_banner_alpha.html" %}
	</div>
</div>


<div class="welcome_block sub-header">
	<div class="home_content">
          <div class="grid-row">
               <div class="column-two-thirds">
                    <h2 class="heading-xlarge">Explore our service</h2>
                    <p class="lede">You can explore our job profiles or find inspiration.</p>
               </div>
          </div>
     </div>
     <div class="row-divider"><span></span></div>
</div>

<main id="content" role="main">
	<!--{% include "includes/phase_banner_alpha.html" %}-->
	<div class="grid-row">
		<div class="column-one-quarter">
           <div class="eggs">
			<a class="fl" href="./explore.html">
			<!--<h3 class="heading-medium">Explore</h3>
               <span class="border"></span>-->
			<h3 class="heading-medium">I'd like to <br/>explore my <br/>options</h3></a>
           </div>
		</div>
		<div class="column-one-quarter">
           <div class="eggs">
			<a class="fl" href="./research.html">
			<!--<h3 class="heading-medium">Research</h3>
               <span class="border"></span>-->
			<h3 class="heading-medium">I know <br/>what I want<br/>to do</h3></a>
           </div>
		</div>
		<div class="column-one-quarter">
           <div class="eggs">
			<a class="fr" href="./inspire.html">
			<!--<h3 class="heading-medium">Inspire</h3>
               <span class="border"></span>-->
			<h3 class="heading-medium">I don't <br/>know what I <br/>want to do</h3></a>
           </div>
		</div>
       <div class="column-one-quarter">
           <div class="eggs">
			<a class="fr" href="./contact-an-adviser.html">
			<!--<h3 class="heading-medium">Contact</h3>
               <span class="border"></span>-->
                <h3 class="heading-medium">I want to <br/>talk to <br/>someone</h3></a>
           </div>
		</div>
	</div>
</main>

{% endblock %}
