{% extends "layout_home.html" %}

{% block page_title %}
  National Careers Service
{% endblock %}

{% block content %}

{% include "includes/new_navigation.html" %}

<div class="welcome_block sub-header homepage">
	<div class="home_content">
          <div class="grid-row">
               <div class="column-two-thirds">
                    <h2 class="heading-xlarge">Explore our service</h2>
                    <span class="border"></span>
                    <p class="lede">You can explore our job profiles or find inspiration.</p>
               </div>
          </div>
     </div>
     <div class="row-divider"><span></span></div>
</div>

<main id="content" role="main">
     <div class="grid-row">
          <div class="column-one-quarter">
           <div class="eggs">
               <a class="fl" href="./explore.html">
               <!--<h3 class="heading-medium">Explore</h3>
               <span class="border"></span>-->
               <h3 class="heading-medium">I'd like to <br/>explore my <br/>options</h3></a>
           </div>
          </div>
          <div class="column-one-quarter">
           <div class="eggs">
               <a class="fl" href="./research.html">
               <!--<h3 class="heading-medium">Research</h3>
               <span class="border"></span>-->
               <h3 class="heading-medium">I know <br/>what I want<br/>to do</h3></a>
           </div>
          </div>
          <div class="column-one-quarter">
           <div class="eggs">
               <a class="fr" href="./inspire.html">
               <!--<h3 class="heading-medium">Inspire</h3>
               <span class="border"></span>-->
               <h3 class="heading-medium">I don't <br/>know what I <br/>want to do</h3></a>
           </div>
          </div>
      <div class="column-one-quarter">
           <div class="eggs">
               <a class="fr" href="./contact-an-adviser.html">
               <!--<h3 class="heading-medium">Contact</h3>
               <span class="border"></span>-->
                <h3 class="heading-medium">I want to <br/>chat to <br/>someone</h3></a>
           </div>
          </div>
     </div>
</main>


{% endblock %}
