{% extends "layout_home.html" %}

{% block page_title %}
  National Careers Service - Inspire
{% endblock %}

{% block content %}
<div class="welcome_block">
		<div class="home_content">
			<div class="grid-row">
				<div class="column-two-thirds">
					<h1 class="heading-xlarge">Inspire</h1>
					<h2 class="heading-large">Don't know what to do?</h2>
					<p class="lede">We have some statistics and trending topics for you.</p>
				</div>
			</div>
		</div>
	</div>
	<main id="content" role="main">
		<div class="grid-row">
			<div class="column-two-thirds">
				<h2 class="heading-large">Still undecided?</h2>
				<nav aria-label="skip to next section" class="jump-links" role="navigation">
					<div class="grid-row">
						<div class="column-one-half">
							<ol class="list list-number">
								<li>
									<a href="#top-jobs">The hottest job profiles</a>
								</li>
								<li>
									<a href="#">Top jobs that don't need a degree</a>
								</li>
								<li>
									<a href="#">Highest paid jobs</a>
								</li>
							</ol>
						</div>
						<div class="column-one-half">
							<ol class="list list-number" start="4">
								<li>
									<a href="#">Skills shortage jobs</a>
								</li>
								<li>
									<a href="#happy">Top 10 jobs that make people happy</a>
								</li>
								<li>
									<a href="#lowskill">Top low skilled professions</a>
								</li>
							</ol>
						</div>
					</div>
				</nav>
			</div>
			<div class="grid-row">
				<div class="column-full">
					<h3 class="heading-medium" id="top-jobs">Hottest job profiles</h3>
					<div class="grid-row">
						<div class="column-one-third">
							<div class="panel panel-border-wide hybrid">
								<a href="/credit-controller">
								<p class="bold-xxlarge">1.</p>
								<h3 class="heading-medium">Credit controller</h3>
								<p>Credit controllers help firms get the money they're owed from businesses and individuals.</p></a>
							</div>
						</div>
						<div class="column-one-third">
							<div class="panel panel-border-wide hybrid">
								<a href="/paralegal">
								<p class="bold-xxlarge">2.</p>
								<h3 class="heading-medium">Paralegal</h3>
								<p>Paralegals prepare legal documents, carry out research and give legal advice to clients.</p></a>
							</div>
						</div>
						<div class="column-one-third">
							<div class="panel panel-border-wide hybrid">
								<a href="/chef">
								<p class="bold-xxlarge">3.</p>
								<h3 class="heading-medium">Chef</h3>
								<p>Chefs prepare and cook food.</p></a>
							</div>
						</div>
					</div>
					<div class="grid-row">
						<div class="column-one-half">
							<h3 class="heading-medium" id="happy">Top 10 jobs that make people happy</h3>
							<ol class="list list-number">
								<li>
									<a href="#">Clergy</a>
								</li>
								<li>
									<a href="#">Chief executives and senior officials of companies</a>
								</li>
								<li>
									<a href="#">Managers of agriculture and horticulture</a>
								</li>
								<li>
									<a href="#">Company secretaries</a>
								</li>
								<li>
									<a href="#">Quality assurance and regulatory professionals</a>
								</li>
								<li>
									<a href="#">Health care practice managers</a>
								</li>
								<li>
									<a href="#">Medical practitioners</a>
								</li>
								<li>
									<a href="#">Farmers</a>
								</li>
								<li>
									<a href="#">Hotel and accommodation managers and proprietors</a>
								</li>
								<li>
									<a href="#">Skilled metal, electrical and electronic trades supervisors</a>
								</li>
							</ol>
						</div>
						<div class="column-one-half">
							<h3 class="heading-medium" id="lowskill">Top low skilled professions</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

{% endblock %}


