{% extends "layout_home.html" %}

{% block page_title %}
     National Careers Service - Resources
{% endblock %}

{% block content %}

{% include "includes/new_navigation.html" %}

<main id="content" role="main">
     {% include "includes/breadcrumb_resources.html" %}
     <div class="grid-row">
          <div class="column-two-thirds">
               <h1 class="heading-xlarge">
                    <span class="heading-secondary">Resources</span>
                    Interview advice
               </h1>
               <p class="lede">An interview is a discussion in person, by phone or online, between you and an employer.</p>
               <p>
                    The employer wants to see if you’re the right person for the job. You’ll get the chance to make a
                    good impression and show the employer what you have to offer. You can also see if the job is one
                    you want.
               </p>
          </div>
     </div>

     {% include "includes/interview_navigation.html" %}

     <div class="grid-row">
          <div class="column-two-thirds">
               <div id="all_divs">
                    <div class="prepare_content types">
                         <h2 class="heading-large">Prepare for a job</h2>
                         <p>Our careers advisers have written the following guides to help you:</p>
                         <ul class="list list-bullet">
                              <li>
                                   <a href="./interview-advice.html">Interview advice</a>
                              </li>
                              <li>
                                   <a href="https://www.youtube.com/watch?v=Gs3IJkLgH00">law firm interview tips video</a>
                              </li>
                              <li>
                                   <a href="./top-ten-interview-questions.html">top 10 interview questions and answers</a>
                              </li>
                              <li>
                                   <a href="./interview-skills.html">interview skills</a>
                              </li>
                              <li>
                                   <a href="./interview.html">what to do in an interview</a>
                              </li>
                              <li>
                                   <a href="http://www.allaboutlaw.co.uk/law-careers/interview-tips/top-ten-tips-for-impressing-at-a-law-interview">paralegal interview tips</a>
                              </li>
                              <li>
                                   <a href="./sample-cv.html">how to write a CV</a>
                              </li>
                              <li>
                                   <a href="http://www.allaboutlaw.co.uk/law-careers/law-cv/law-cv-template">law CV template</a>
                              </li>
                              <li>
                                   <a href="http://www.allaboutlaw.co.uk/law-careers/law-cv/using-linkedin-for-law">using linkedin for law</a>
                              </li>
                              <!--<li>
                              <a href="#">what to include in your CV</a>
                         </li>-->

                         <li>
                              <a href="./sample-application-letters.html">completing application forms</a>
                         </li>

                    </ul>
               </div>
               <div class="prepare_content before">
                    <h2 class="heading-large">Professional development</h2>
                    <p>Our careers advisers have written the following guides to help you:</p>
                    <ul class="list list-bullet">
                         <li>
                              <a href="#">choosing or changing career</a>
                         </li>
                         <li>
                              <a href="#">starting a new job</a>
                         </li>
                         <li>
                              <a href="#">choosing a professional course</a>
                         </li>
                         <li>
                              <a href="#">negotiating a salary</a>
                         </li>
                         <li>
                              <a href="#">giving presentations</a>
                         </li>
                         <li>
                              <a href="./interview-skills.html">interview skills</a>
                         </li>
                         <li>
                              <a href="https://www.gov.uk/working-for-yourself">working for yourself</a>
                         </li>
                         <li>
                              <a href="https://www.gov.uk/set-up-sole-trader">set up as a sole trader</a>
                         </li>
                    </ul>
               </div>
               <div class="prepare_content after">
                    <h2 class="heading-large">Personal circumstances</h2>
                    <p>Our careers advisers have written the following guides to help you:</p>
                    <ul class="list list-bullet">
                         <li>
                              <a href="./redundancy.html">dealing with redundancy</a>
                         </li>
                         <li>
                              <a href="#">returning to work after having children</a>
                         </li>
                         <li>
                              <a href="#">resources for parents and carers of under 18s</a>
                         </li>
                         <li>
                              <a href="#">taking your parenting skills into work</a>
                         </li>
                         <li>
                              <a href="#">dealing with illness at work</a>
                         </li>
                         <li>
                              <a href="#">dealing with divorce at work</a>
                         </li>
                         <li>
                              <a href="https://www.gov.uk/state-pension-age">check your retirement age</a>
                         </li>
                         <li>
                              <a href="https://www.gov.uk/claim-state-pension-online">claim your state pension online</a>
                         </li>
                    </ul>
               </div>
          </div><!--all divs-->
     </div>
</div>
</main>

{% endblock %}
