{% extends "layout.html" %}

{% block page_title %}
  National Careers Service - Writing your CV
{% endblock %}

{% block content %}

<main id="content" role="main">
		{% include "includes/phase_banner_alpha.html" %} {% include "includes/breadcrumb_home.html" %}
		<div class="grid-row">
			<div class="column-two-thirds">
				<h1 class="heading-xlarge">Interview skills</h1>
				<p class="lede">Even if you have all the right qualifications and experience to do the job, you need to show an employer that you are a good fit for the organisation. This can decide whether or not you get the job.</p>
				<h2 class="heading-medium">Soft skills</h2>
				<p>One of the ways that you can show an employee that you are the perfect candidate is to be aware of "soft skills" and, more importantly, demonstrate in your interview that you have them. Soft skills that are most useful in an interview include:</p>
				<ul class="list list-bullet">
					<li>attitude to work</li>
					<li>having a "can do" personality</li>
					<li>communication skills</li>
					<li>time management</li>
					<li>confidence</li>
				</ul>
				<h2 class="heading-medium">Attitude to work</h2>
				<p>You can show a positive attitude to work by mentioning in your interview that you are prepared to go the extra mile to ensure that the business succeeds. Make sure you find out about the company and mention how you can help them to build on their successes.</p>
				<p>If you have had a job before, give examples of how you have shown positive attitudes to your work.</p>
				<p>If you are new to work give examples of things such as punctuality and meeting your deadlines.</p>
				<h2 class="heading-medium">Positive, "can do" attitude</h2>
				<p>Be positive in your interview, smile and don't fold your arms. Don't criticise anything or anyone. Give examples of how you have approached difficult tasks as this will show you don't give up easily. If you can, tell the interviewer how you have encouraged others to do well.</p>
				<h2 class="heading-medium">Communication skills</h2>
				<p>Your written communication skills have got you the interview, it's now your chance to show the interviewer that your spoken communication is as strong. Make sure you practice answers before the day of the interview so you don't end up tongue tied on the day. Don't use slang or street language, make your answers as easy to follow as possible. Try to give two or three examples when you answer any questions as this will show off your clear spoken English.</p>
				<h2 class="heading-medium">Time management</h2>
				<p>Try to show in your answers that you are punctual and that you don't need to be supervised to complete tasks. Give real examples that show this, either from a previous job or from your school, college or university.</p>
				<h2 class="heading-medium">Confidence</h2>
				<p>You must show you are confident throughout your interview. Remember the basics:</p>
				<ul class="list list-bullet">
					<li>shake hands</li>
					<li>make eye contact</li>
					<li>smile</li>
				</ul>
				<p>It's important not to be so confident that you come across as rude: don't make jokes, swear and always wait to be asked to sit down.</p>
				<p>There may be occasions in your interview when it feels as if you're not being interviewed, for example you may be invited to lunch or an informal coffee break. It is very likely that you are still being interviewed and that people outside of the interview panel such as a receptionist may be asked about how you came across.</p>
				<p>Don't forget about your body language. Sit back in your chair without slouching, don't fold your arms and don't put your hands in your pockets.</p>
			</div>
		</div>
	</main>

{% endblock %}


