{% extends "layout.html" %}

{% block page_title %}
National Careers Service
{% endblock %}

{% block content %}

<main id="content" role="main">
     {% include "includes/phase_banner_alpha.html" %}
     <div class="grid-row">
          <div class="column-two-thirds">
               <h1 class="heading-xlarge">
                    <span class="heading-secondary">Explore our job profiles</span>
                    Job profiles that may be of interest to you
               </h1>
               <p class="actions">
                    <span id="counter">8</span> job profiles left in your shortlist.
               </p>
               <div class="jobcontainer list">
                    <ul class="list">
                         <li class="job current">
                              <img src="../public/images/profiles/image-5.jpg" alt="Bank manager">
                              <div class="wrapper">
                                   <h2 class="heading-large">Bank manager</h2>
                                   <p>
                                        Bank managers oversee the day-to-day operations
                                        of their branch, supervise staff and work to
                                        attract new customers.
                                   </p>
                                   <!-- <ul class="salaries two-thirds">
                                        <li>
                                             <strong>Salary:</strong>
                                             <div class="value">
                                                  <span>£18,000 to £70,000*</span>
                                             </div>
                                             <p>* Average per year</p>
                                        </li>
                                        <li>
                                             <strong>Working hours:</strong>
                                             <div class="value">
                                                  <span>37 to 40*</span>
                                             </div>
                                             <p>* Hours per week.</p>
                                        </li>
                                        <li>
                                             <strong>Progression opportunities:</strong>
                                             <div class="value">
                                                  <span>High</span>
                                             </div>
                                        </li>
                                   </ul> -->
                                   <a href="/bank-manager">View job profile</a>
                              </div>
                         </li>
                         <li class="job">
                              <img src="../public/images/profiles/image-3.jpg" alt="Chef">
                              <div class="wrapper">
                                   <h2 class="heading-large">Chef</h2>
                                   <p>
                                        Chefs prepare, cook and present food.
                                   </p>
                                   <p>
                                        £13,000 to £50,000 average per year.
                                   </p>
                                   <p>
                                        37 to 40 hours per week.
                                   </p>
                                   <a href="/chef">View job profile</a>
                              </div>
                         </li>
                         <li class="job">
                              <img src="../public/images/profiles/image-10.jpg" alt="Medical secretary">
                              <div class="wrapper">
                                   <h2 class="heading-large">Medical secretary</h2>
                                   <p>
                                        Medical secretaries provide office support in
                                        hospitals, GP surgeries and universities.
                                   </p>
                                   <p>
                                        £13,000 to £50,000 average per year.
                                   </p>
                                   <p>
                                        37 to 40 hours per week.
                                   </p>
                                   <a href="/medical-secretary">View job profile</a>
                              </div>
                         </li>
                         <li class="job">
                              <img src="../public/images/profiles/image-6.jpg" alt="Credit controller">
                              <div class="wrapper">
                                   <h2 class="heading-large">Credit controller</h2>
                                   <p>
                                        Credit controllers help firms get the money
                                        they're owed from businesses and individuals.
                                   </p>
                                   <p>
                                        £16,000 to £30,000 average per year.
                                   </p>
                                   <p>
                                        37 to 40 hours per week.
                                   </p>
                                   <a href="/credit-controller">View job profile</a>
                              </div>
                         </li>
                         <li class="job">
                              <img src="../public/images/profiles/image-7.jpg" alt="Diver">
                              <div class="wrapper">
                                   <h2 class="heading-large">Diver</h2>
                                   <p>
                                        Divers work underwater at sea, or in rivers,
                                        lakes, canals and reservoirs.
                                   </p>
                                   <p>
                                        £16,000 to £30,000 average per year.
                                   </p>
                                   <p>
                                        37 to 40 hours per week.
                                   </p>
                                   <a href="/diver">View job profile</a>
                              </div>
                         </li>
                         <li class="job">
                              <img src="../public/images/profiles/image-2.jpg" alt="Paralegal">
                              <div class="wrapper">
                                   <h2 class="heading-large">Paralegal</h2>
                                   <p>
                                        Paralegals prepare legal documents, carry out
                                        research and give legal advice to clients.
                                   </p>
                                   <p>
                                        £16,000 to £40,000 average per year.
                                   </p>
                                   <p>
                                        37 to 40 hours per week.
                                   </p>
                                   <a href="/paralegal">View job profile</a>
                              </div>
                         </li>
                         <li class="job">
                              <img src="../public/images/profiles/image-8.jpg" alt="Plumber">
                              <div class="wrapper">
                                   <h2 class="heading-large">Plumber</h2>
                                   <p>
                                        Plumbers fit and service heating systems. They
                                        also repair faults in hot and cold water supplies
                                        and drainage networks.
                                   </p>
                                   <p>
                                        £18,000 to £35,000 average per year.
                                   </p>
                                   <p>
                                        37 to 40 hours per week.
                                   </p>
                                   <a href="/plumber">View job profile</a>
                              </div>
                         </li>
                         <li class="job">
                              <img src="../public/images/profiles/image-4.jpg" alt="Publican">
                              <div class="wrapper">
                                   <h2 class="heading-large">Publican</h2>
                                   <p>
                                        Publicans manage licensed premises like pubs and
                                        bars.
                                   </p>
                                   <p>
                                        £20,000 to £50,000 average per year.
                                   </p>
                                   <p>
                                        37 to 40 hours per week.
                                   </p>
                                   <a href="/publican">View job profile</a>
                              </div>
                         </li>
                    </ul>

                    <button class="but-yay">
                         <!-- <img src="../public/images/profiles/image-4.jpg" alt="Publican"> -->
                         Add this to my shortlist
                    </button>
                    <button class="but-nope">
                         <!-- <img src="../public/images/profiles/image-4.jpg" alt="Publican"> -->
                         Remove this
                    </button>
               </div>

               <ul class="joblist" id="results">
                    <h2 class="heading-large">You have shortlisted these job profiles</h2>
               </ul>

               <div id="no-results">
                    <h1 class="heading-xlarge" id="contact">Contact us</h1>
                    <p>
                         You didn't shortlist any job profiles. You can <a href="./explore-part-1.html">start again</a> and change your answers or contact an advser.
                    </p>
                    <p>
                         National Careers Service advisers can provide you with
                         information, advice and guidance on skills, learning and
                         work. Explore the different ways to get in touch with an
                         adviser.
                    </p>
                    <h2 class="heading-medium">Contact an adviser</h2>
                    <h3 class="heading-small">Webchat</h3>
                    <p>
                         Chat with an adviser using <a href="#">webchat</a> (8am to 10pm, 7days a week).
                    </p>
                    <h3 class="heading-small">Face-to-face advice</h3>
                    <p>
                         Make an <a href="set-location-appointment.html">appointment with an adviser</a> at
                         your nearest National Careers Service office.
                    </p>
               </div>
          </div>
     </div>
</main>

{% endblock %}
