{% extends "layout.html" %}

{% block page_title %}
  National Careers Service
{% endblock %}

{% block content %}

<main id="content" role="main">
        {% include "includes/phase_banner_alpha.html" %}
        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="heading-xlarge"><span class=
                "heading-secondary">Explore our job profiles</span> Job
                profiles that may be of interest to you</h1>                
                <div class="jobcontainer list">
                    <ul class="list">
                        <li class="job current">
                            <h2 class="heading-medium">Bank manager</h2>
                            <p>Bank managers oversee the day-to-day operations
                            of their branch, supervise staff and work to
                            attract new customers.</p>
                            <p>£18,000 to £70,000 average per year.</p>
                            <p>37 to 40 hours per week.</p><a href=
                            "/bank-manager">View job profile</a>
                        </li>
                        <li class="job">
                            <h2 class="heading-medium">Chef</h2>
                            <p>Chefs prepare, cook and present food.</p>
                            <p>£13,000 to £50,000 average per year.</p>
                            <p>37 to 40 hours per week.</p><a href="/chef">View
                            job profile</a>
                        </li>
                        <li class="job">
                            <h2 class="heading-medium">Medical secretary</h2>
                            <p>Medical secretaries provide office support in
                            hospitals, GP surgeries and universities.</p>
                            <p>£13,000 to £50,000 average per year.</p>
                            <p>37 to 40 hours per week.</p><a href=
                            "/medical-secretary">View job profile</a>
                        </li>
                        <li class="job">
                            <h2 class="heading-medium">Credit controller</h2>
                            <p>Credit controllers help firms get the money
                            they're owed from businesses and individuals.</p>
                            <p>£16,000 to £30,000 average per year.</p>
                            <p>37 to 40 hours per week.</p><a href=
                            "/credit-controller">View job profile</a>
                        </li>
                        <li class="job">
                            <h2 class="heading-medium">Diver</h2>
                            <p>Divers work underwater at sea, or in rivers,
                            lakes, canals and reservoirs.</p>
                            <p>£16,000 to £30,000 average per year.</p>
                            <p>37 to 40 hours per week.</p><a href=
                            "/diver">View job profile</a>
                        </li>
                        <li class="job">
                            <h2 class="heading-medium">Paralegal</h2>
                            <p>Paralegals prepare legal documents, carry out
                            research and give legal advice to clients.</p>
                            <p>£16,000 to £40,000 average per year.</p>
                            <p>37 to 40 hours per week.</p><a href=
                            "/paralegal">View job profile</a>
                        </li>
                        <li class="job">
                            <h2 class="heading-medium">Plumber</h2>
                            <p>Plumbers fit and service heating systems. They
                            also repair faults in hot and cold water supplies
                            and drainage networks.</p>
                            <p>£18,000 to £35,000 average per year.</p>
                            <p>37 to 40 hours per week.</p><a href=
                            "/plumber">View job profile</a>
                        </li>
                        <li class="job">
                            <h2 class="heading-medium">Publican</h2>
                            <p>Publicans manage licensed premises like pubs and
                            bars.</p>
                            <p>£20,000 to £50,000 average per year.</p>
                            <p>37 to 40 hours per week.</p><a href=
                            "/publican">View job profile</a>
                        </li>
                    </ul>
                    
                        <p class="actions">You have <span id="counter">8</span> job profiles left to
                    shortlist.</p><button class="but-nope">No, remove this</button>
                        <button class="but-yay">Yes, add this to my shortlist</button>                   
                </div>
                <ul class="joblist" id="results"><h2 class="heading-large">You have shortlisted these job profiles</h2></ul>
                
                <div id="no-results"> <h1 class="heading-xlarge" id="contact">Contact us</h2>
                    <p>You didn't shortlist any job profiles. You can <a href="./explore-part-1.html">start again</a> and change your answers or contact an advser.</p>
        <p>National Careers Service advisers can provide you with
                information, advice and guidance on skills, learning and
                work. Explore the different ways to get in touch with an
                adviser.</p>                
                <h2 class="heading-medium">Contact an adviser</h2>
                <h3 class="heading-small">Webchat</h3>
                <p>Chat with an adviser using <a href="#">webchat</a> (8am to
                10pm, 7days a week).</p>
                <h3 class="heading-small">Phone</h3>
                <p>Call 0800 100 900 to speak to an adviser (8am to 10pm, 7
                days a week). Calls are free from landlines and most mobile
                numbers. Find out more about <a href=
                "#">call charges
                and freephone numbers</a>.</p>
                <h3 class="heading-small">Callback</h3>
                <p>Tell us your number and we'll <a href="#">call you
                back</a>.</p>
                <h3 class="heading-small">Face-to-face advice</h3>
                <p>Call 0800 100 900 to make an appointment with an adviser at
                your nearest National Careers Service office.</p>
                <h3 class="heading-small">Text</h3>
                <p>Text us on 07766 413219 for simple information like
                telephone numbers or addresses. We can't open pictures sent by
                text.</p>
                <p>If you want more in-depth information and advice, call us on
                0800 100 900.</p>
                <h3 class="heading-small">Textphone</h3>
                <p>If you are deaf, hard of hearing or have speech difficulties
                contact us by <a href="#">email</a>, text message or <a href=
                "#">webchat</a>. You can also call our textphone number: 08000
                968 336.</p>
                <h3 class="heading-small">Other languages</h3>
                <p>You can speak to an adviser in your first language. Call
                0800 100 900 and choose option 5 for advice in a different
                language using an interpreter.</p>
                <h3 class="heading-small">Email</h3>
                <p><a href="#">Email</a> your question or query and we'll get
                back to you as soon as possible.</p>
                <h3 class="heading-small">Post</h3>
                <p>Contact us by post at:</p>
                <p>National Careers Service<br>
                PO Box 1331<br>
                Newcastle Upon Tyne<br>
                NE99 5EB</p></div>
            </div>
        </div>
    </main>

{% endblock %}