{% extends "layout.html" %}

{% block page_title %}
Careers Service - Job profiles
{% endblock %}

{% block content %}

<main id="content" role="main">
     {% include "includes/phase_banner_alpha.html" %}
     <header class="hero">
          <div class="grid-row">
               <div class="column-two-thirds">
                    <h1 class="heading-xlarge">Job profiles</h1>
				   	<p class="lede">We have profiles on over 800 different types of job, from archivist to zoologist.</p>
                    <div class="search">
                         <form action="/search" method="get" role="search">
                              <label for="search" class="search__label">Enter a job title</label>
                              <div class="search__input">
                                   <input class="js-search-focus" name="q" id="search" type="search" title="Enter a job title" placeholder="eg plumber">
                              </div>
                              <input type="hidden" name="filter_manual" value="/service-manual">
                              <input class="search__submit" type="submit" value="Search">
                         </form>
                    </div>
               </div>
               <div class="column-one-third">
                   
               </div>
          </div>
     </header>

     <div class="grid-row">
		 <div class="column-two-thirds">
			 <h2 class="heading-large">Explore job profiles</h2>
			 <p>Each one explains:</p>
        <ul class="list list-bullet">
            <li>the skills and qualifications needed to get into that job</li>
            <li>what the work would be like</li>
            <li>the pay you could expect</li>
            <li>what the career prospects are</li>
        </ul>
        <p>Job profiles can help you find out what a job involves and if it will suit you.</p>
			 
			 <h2 class="heading-large">Filter me some job profiles</h2>
			 
			 <h3 class="heading-medium">A to Z index</h3>
            <p>Choose a letter below to view profiles.</p>
            <div id="az-index-wrapper">
                <p class="largeLetter">A</p>
                <ul id="az-index">
                    <li>
                        <a href="/a">A</a>
                    </li>
                    <li>
                        <a href="/b">B</a>
                    </li>
                    <li>
                        <a href="/c">C</a>
                    </li>
                    <li>
                        <a href="/d">D</a>
                    </li>
                    <li>
                        <a href="/e">E</a>
                    </li>
                    <li>
                        <a href="/f">F</a>
                    </li>
                    <li>
                        <a href="/g">G</a>
                    </li>
                    <li>
                        <a href="/h">H</a>
                    </li>
                    <li>
                        <a href="/i">I</a>
                    </li>
                    <li>
                        <a href="/j">J</a>
                    </li>
                    <li>
                        <a href="/k">K</a>
                    </li>
                    <li>
                        <a href="/l">L</a>
                    </li>
                    <li>
                        <a href="/m">M</a>
                    </li>
                    <li>
                        <a href="/n">N</a>
                    </li>
                    <li>
                        <a href="/o">O</a>
                    </li>
                    <li>
                        <a href="/P">P</a>
                    </li>
                    <li>
                        <a href="/q">Q</a>
                    </li>
                    <li>
                        <a href="/r">R</a>
                    </li>
                    <li>
                        <a href="/s">S</a>
                    </li>
                    <li>
                        <a href="/t">T</a>
                    </li>
                    <li>
                        <a href="/u">U</a>
                    </li>
                    <li>
                        <a href="/v">V</a>
                    </li>
                    <li>
                        <a href="/w">W</a>
                    </li>
                    <li>
                        <a href="/x">X</a>
                    </li>
                    <li>
                        <a href="/y">Y</a>
                    </li>
                    <li>
                        <a href="/z">Z</a>
                    </li>
                </ul>
            </div>
            <h3 class="heading-medium">Alternatively select from the list
            below</h3>            
                <div class="column-one-half">
                    <ul class="list job-family">
                        <li>
                            <a href=
                            "/administrative-and-clerical">Administrative
                            and clerical</a>
                        </li>
                        <li>
                            <a href=
                            "/alternative-therapies">Alternative
                            therapies</a>
                        </li>
                        <li>
                            <a href=
                            "/animals-plants-and-land">Animals,
                            plants and land</a>
                        </li>
                        <li>
                            <a href=
                            "/arts-crafts-and-design">Arts, crafts
                            and design</a>
                        </li>
                        <li>
                            <a href="/catering-services">Catering
                            services</a>
                        </li>
                        <li>
                            <a href=
                            "/construction">Construction</a>
                        </li>
                        <li>
                            <a href=
                            "/education-and-training">Education
                            and training</a>
                        </li>
                        <li>
                            <a href=
                            "/environmental-sciences">Environmental
                            sciences</a>
                        </li>
                        <li>
                            <a href=
                            "/financial-services">Financial
                            services</a>
                        </li>
                        <li>
                            <a href=
                            "/general-and-personal-services">General
                            and personal services</a>
                        </li>
                        <li>
                            <a href=
                            "/information-technology-and-information-management">
                            Information technology and information
                            management</a>
                        </li>
                        <li>
                            <a href="/legal-services">Legal
                            services</a>
                        </li>
                        <li>
                            <a href=
                            "/maintenance-service-and-repair">Maintenance,
                            service and repair</a>
                        </li>
                        <li>
                            <a href=
                            "/management-and-planning">Management
                            and planning</a>
                        </li>
                    </ul>
                </div>
                <div class="column-one-half">
                    <ul class="list">
                        <li>
                            <a href=
                            "/manufacturing-and-engineering">Manufacturing
                            and engineering</a>
                        </li>
                        <li>
                            <a href=
                            "/marketing-selling-and-advertising">Marketing,
                            selling and advertising</a>
                        </li>
                        <li>
                            <a href="/medical-technology">Medical
                            technology</a>
                        </li>
                        <li>
                            <a href=
                            "/medicine-and-nursing">Medicine and
                            nursing</a>
                        </li>
                        <li>
                            <a href=
                            "/performing-arts-broadcast-and-media">
                            Performing arts, broadcast and media</a>
                        </li>
                        <li>
                            <a href=
                            "/publishing-and-journalism">Publishing
                            and journalism</a>
                        </li>
                        <li>
                            <a href=
                            "/retail-sales-and-customer-service">Retail
                            sales and customer service</a>
                        </li>
                        <li>
                            <a href=
                            "/science-and-research">Science and
                            research</a>
                        </li>
                        <li>
                            <a href=
                            "/security-and-uniformed-services">Security
                            and uniformed services</a>
                        </li>
                        <li>
                            <a href="/social-services">Social
                            services</a>
                        </li>
                        <li>
                            <a href=
                            "/sport-leisure-and-tourism">Sport,
                            leisure and tourism</a>
                        </li>
                        <li>
                            <a href=
                            "/storage-dispatching-and-delivery">Storage,
                            dispatching and delivery</a>
                        </li>
                        <li>
                            <a href="/transport">Transport</a>
                        </li>
                    </ul>

		 </div>

     </div>

</main>


{% endblock %}
