{% extends "layout.html" %}

{% block page_title %}
Careers Service - Job profiles
{% endblock %}

{% block content %}

<main id="content" role="main">
		{% include "includes/phase_banner_alpha.html" %}
		<header class="hero">
			<div class="grid-row">
				<div class="column-two-thirds">
					<h1 class="heading-xlarge">Job profiles</h1>
					<p class="lede">We have profiles on over 800 different types of job, from archivist to zoologist.</p>
					<div class="search">
						<form action="/search" method="get" role="search">
							<label class="search__label visually-hidden" for="search">Enter a job title</label>
							<div class="search__input">
								<input class="js-search-focus" id="search" name="q" placeholder="eg plumber" type="search">
							</div><input class="search__submit" type="submit" value="Search">
						</form>
					</div>
				</div>
				<div class="column-one-third"></div>
			</div>
		</header>
		<div class="grid-row">
			<div class="column-two-thirds">
				<h2 class="heading-large">Explore job profiles</h2>
				<p>Each one explains:</p>
				<ul class="list list-bullet">
					<li>the skills and qualifications needed to get into that job</li>
					<li>what the work would be like</li>
					<li>the pay you could expect</li>
					<li>what the career prospects are</li>
				</ul>
				<p>Job profiles can help you find out what a job involves and if it will suit you.</p>
				<form action="./search.html" method="get">
					<h2 class="heading-medium">Do you want</h2>
					<div class="form-group">
						<fieldset class="inline">
							<legend>1. A job which is usually based in an office?</legend> <span class="form-hint">For example, administrator or accountant</span> <label class="block-label selection-button-radio" for="radio-inline-1"><input id="radio-inline-1" name="office" type="radio" value="Yes"> Yes</label> <label class="block-label selection-button-radio" for="radio-inline-2"><input id="radio-inline-2" name="office" type="radio" value="No"> No</label>
						</fieldset>
					</div>
					<div class="form-group">
						<fieldset class="inline">
							<legend>2. A job which usually needs practical skills?</legend> <span class="form-hint">For example, a mechanic or hairdresser, a job where you work with your hands to make something</span> <label class="block-label selection-button-radio" for="radio-inline-3"><input id="radio-inline-3" name="skills" type="radio" value="Yes"> Yes</label> <label class="block-label selection-button-radio" for="radio-inline-4"><input id="radio-inline-4" name="skills" type="radio" value="No"> No</label>
						</fieldset>
					</div>
					<div class="form-group">
						<fieldset class="inline">
							<legend>3. To help others?</legend> <span class="form-hint">For example, doctor, social worker or carer</span> <label class="block-label selection-button-radio" for="radio-inline-5"><input id="radio-inline-5" name="help" type="radio" value="Yes"> Yes</label> <label class="block-label selection-button-radio" for="radio-inline-6"><input id="radio-inline-6" name="help" type="radio" value="No"> No</label>
						</fieldset>
					</div>
					<div class="form-group">
						<fieldset class="inline">
							<legend>4. To work regular, daytime hours?</legend> <span class="form-hint">Usually 8am to 4pm or 9am to 5pm on weekdays</span> <label class="block-label selection-button-radio" for="radio-inline-7"><input id="radio-inline-7" name="hours" type="radio" value="Yes"> Yes</label> <label class="block-label selection-button-radio" for="radio-inline-8"><input id="radio-inline-8" name="hours" type="radio" value="No"> No</label>
						</fieldset>
					</div>
					<div class="form-group">
						<fieldset class="inline">
							<legend>5. A job you can get into through an apprenticeship?</legend> <span class="form-hint">For example, civil engineer or electrician</span> <label class="block-label selection-button-radio" for="radio-inline-9"><input id="radio-inline-9" name="app" type="radio" value="Yes"> Yes</label> <label class="block-label selection-button-radio" for="radio-inline-10"><input id="radio-inline-10" name="app" type="radio" value="No"> No</label>
						</fieldset>
					</div>
					<div class="form-group">
						<fieldset class="inline">
							<legend>6. A job for which you need a qualification from college or university?</legend> <span class="form-hint">For example, doctor or dental nurse</span> <label class="block-label selection-button-radio" for="radio-inline-11"><input id="radio-inline-11" name="uni" type="radio" value="Yes"> Yes</label> <label class="block-label selection-button-radio" for="radio-inline-12"><input id="radio-inline-12" name="uni" type="radio" value="No"> No</label>
						</fieldset>
					</div>
					<div class="form-group">
						<fieldset class="inline">
							<legend>7. A job you can train for through a short course (less than six months)?</legend> <span class="form-hint">For example, driving instructor or health and safety inspector</span> <label class="block-label selection-button-radio" for="radio-inline-12"><input id="radio-inline-12" name="uni" type="radio" value="Yes"> Yes</label> <label class="block-label selection-button-radio" for="radio-inline-11"><input id="radio-inline-11" name="uni" type="radio" value="No"> No</label>
						</fieldset>
					</div>
					<div class="form-group">
						<input class="button" type="submit" value="Filter job profiles">
					</div>
				</form>
				
				<details>

  <summary><span class="summary">Browse job profiles</span></summary>

  <div class="panel panel-border-narrow">

   <h3 class="heading-medium">A to Z index</h3>
				<p>Choose a letter below to view profiles.</p>
				<div id="az-index-wrapper">
					<p class="largeLetter">A</p>
					<ul id="az-index">
						<li>
							<a href="/a">A</a>
						</li>
						<li>
							<a href="/b">B</a>
						</li>
						<li>
							<a href="/c">C</a>
						</li>
						<li>
							<a href="/d">D</a>
						</li>
						<li>
							<a href="/e">E</a>
						</li>
						<li>
							<a href="/f">F</a>
						</li>
						<li>
							<a href="/g">G</a>
						</li>
						<li>
							<a href="/h">H</a>
						</li>
						<li>
							<a href="/i">I</a>
						</li>
						<li>
							<a href="/j">J</a>
						</li>
						<li>
							<a href="/k">K</a>
						</li>
						<li>
							<a href="/l">L</a>
						</li>
						<li>
							<a href="/m">M</a>
						</li>
						<li>
							<a href="/n">N</a>
						</li>
						<li>
							<a href="/o">O</a>
						</li>
						<li>
							<a href="/p">P</a>
						</li>
						<li>
							<a href="/q">Q</a>
						</li>
						<li>
							<a href="/r">R</a>
						</li>
						<li>
							<a href="/s">S</a>
						</li>
						<li>
							<a href="/t">T</a>
						</li>
						<li>
							<a href="/u">U</a>
						</li>
						<li>
							<a href="/v">V</a>
						</li>
						<li>
							<a href="/w">W</a>
						</li>
						<li>
							<a href="/x">X</a>
						</li>
						<li>
							<a href="/y">Y</a>
						</li>
						<li>
							<a href="/z">Z</a>
						</li>
					</ul>
				</div>
				<h3 class="heading-medium">Alternatively select from the list below</h3>
				<div class="column-one-half">
					<ul class="list job-family">
						<li>
							<a href="/administrative-and-clerical">Administrative and clerical</a>
						</li>
						<li>
							<a href="/alternative-therapies">Alternative therapies</a>
						</li>
						<li>
							<a href="/animals-plants-and-land">Animals, plants and land</a>
						</li>
						<li>
							<a href="/arts-crafts-and-design">Arts, crafts and design</a>
						</li>
						<li>
							<a href="/catering-services">Catering services</a>
						</li>
						<li>
							<a href="/construction">Construction</a>
						</li>
						<li>
							<a href="/education-and-training">Education and training</a>
						</li>
						<li>
							<a href="/environmental-sciences">Environmental sciences</a>
						</li>
						<li>
							<a href="/financial-services">Financial services</a>
						</li>
						<li>
							<a href="/general-and-personal-services">General and personal services</a>
						</li>
						<li>
							<a href="/information-technology-and-information-management">Information technology and information management</a>
						</li>
						<li>
							<a href="/legal-services">Legal services</a>
						</li>
						<li>
							<a href="/maintenance-service-and-repair">Maintenance, service and repair</a>
						</li>
						<li>
							<a href="/management-and-planning">Management and planning</a>
						</li>
					</ul>
				</div>
				<div class="column-one-half">
					<ul class="list">
						<li>
							<a href="/manufacturing-and-engineering">Manufacturing and engineering</a>
						</li>
						<li>
							<a href="/marketing-selling-and-advertising">Marketing, selling and advertising</a>
						</li>
						<li>
							<a href="/medical-technology">Medical technology</a>
						</li>
						<li>
							<a href="/medicine-and-nursing">Medicine and nursing</a>
						</li>
						<li>
							<a href="/performing-arts-broadcast-and-media">Performing arts, broadcast and media</a>
						</li>
						<li>
							<a href="/publishing-and-journalism">Publishing and journalism</a>
						</li>
						<li>
							<a href="/retail-sales-and-customer-service">Retail sales and customer service</a>
						</li>
						<li>
							<a href="/science-and-research">Science and research</a>
						</li>
						<li>
							<a href="/security-and-uniformed-services">Security and uniformed services</a>
						</li>
						<li>
							<a href="/social-services">Social services</a>
						</li>
						<li>
							<a href="/sport-leisure-and-tourism">Sport, leisure and tourism</a>
						</li>
						<li>
							<a href="/storage-dispatching-and-delivery">Storage, dispatching and delivery</a>
						</li>
						<li>
							<a href="/transport">Transport</a>
						</li>
					</ul>
				</div>

  </div>

</details>
				
			</div>
		</div>
	</main>


{% endblock %}
