{% extends "layout_search.html" %}

{% block page_title %}
Careers Service - Skills match results
{% endblock %}

{% block content %}

	<main id="content" role="main">
		{% include "includes/phase_banner_alpha.html" %} {% include "includes/breadcrumb_plum_match.html" %}
		<div class="grid-row">
			<div class="column-two-thirds">
				<h1 class="heading-xlarge">Skills check results:<br> Plumber</h1>
				<h2 class="heading-medium">You’re a match!</h2>
				<h2 class="heading-large">Your skills</h2>
				<p>You have:</p>
				<ul class="list list-bullet">
					<li>customer care</li>
					<li>practical skills</li>
					<li>problem solving</li>
					<li>technical drawing skills</li>
				</ul>
				<p><a class="button" href="./experience-plumber.html" role="button">Create a skills profile</a></p>
				<h2 class="heading-large">Skills you nearly have</h2>
				<p>You nearly have:</p>
				<ul class="list list-bullet">
					<li>time management</li>
					<li>team working</li>
				</ul>
				<p>
					It’s great that you’re already working towards these skills. Gaining these skills may help you to get
					this job.
				</p>
				<h2 class="heading-large">Skills you don’t have yet</h2>
				<p>You don’t have but could get:</p>
				<ul class="list list-bullet">
					<li>methodical and logical approach</li>
					<li>health and safety</li>
				</ul>
				<p>Think about how you could learn these skills. You could do:</p>
				<ul class="list list-bullet">
					<li>college courses</li>
					<li>distance or online learning</li>
					<li>volunteering</li>
					<li>work experience</li>
					<li>mentoring or job shadowing</li>
				</ul>
				<p>
					Choose the method that suits your preferred learning style the best.
				</p>
				<p>
					If you’re employed, ask your employer if there are any learning or training opportunities that could
					help you.
				</p>
				<p>
					If you’re not working, check with the Jobcentre and local learning providers for opportunities.
				</p>
				<p>
					You can go back to the job profile for <a href="./plumber">plumber</a> to find information about courses and training.
				</p>
				<p>
					Browse other jobs in the <a href="./maintenance-service-and-repair">Maintenance, Service and Repair sector</a>.
				</p>
			</div>
		</div>
	</main>


{% endblock %}
