{% extends "layout_search.html" %}

{% block page_title %}
Careers Service - Skills match results
{% endblock %}

{% block content %}

	<main id="content" role="main">
		{% include "includes/phase_banner_alpha.html" %} {% include "includes/breadcrumb_para_match.html" %}
		<div class="grid-row">
			<div class="column-two-thirds">
				<h1 class="heading-xlarge">Skills match results: paralegal</h1>
				<h2 class="heading-large">You’re a match!</h2><!--<p><progress max="100" value="70"></progress></p>-->
				<h2 class="heading-medium">Your skills</h2>
				<p>You have:</p>
				<ul class="list list-bullet">
					<li>administration</li>
					<li>research</li>
					<li>ability to read and recall lots of information</li>
					<li>interpersonal skills</li>
				</ul>
				<p><a class="button" href="./experience-paralegal.html" role="button">Create a skills profile</a></p>
				<h2 class="heading-large">Skills you nearly have</h2>
				<p>You nearly have:</p>
				<ul class="list list-bullet">
					<li>a high level of accuracy</li>
					<li>time management</li>
					<li>team work</li>
				</ul>
				<p>It's great that you’re already working towards these skills. Gaining these skills may help you to get this job.</p>
				<h2 class="heading-large">Skills you don't have yet</h2>
				<p>You don't have but could get:</p>
				<ul class="list list-bullet">
					<li>IT skills</li>
					<li>record keeping</li>
				</ul>
				<p>Think about how you could learn these skills. You could do:</p>
				<ul class="list list-bullet">
					<li>college courses</li>
					<li>distance or online learning</li>
					<li>volunteering</li>
					<li>work experience</li>
					<li>mentoring or job shadowing</li>
				</ul>
				<p>Choose the method that suits your preferred learning style the best.</p>
				<p>If you’re employed, ask your employer if there are any learning or training opportunities that could help you.</p>
				<p>If you’re not working, check with the Jobcentre and local learning providers for opportunities.</p>
				<p>You can go back to the job profile for <a href="./paralegal.html">paralegal</a> to find information about courses and training. Browse other jobs in the <a href="./legal-services.html">Legal Services</a> sector.</p>
			</div>
		</div>
	</main>


{% endblock %}
