{% extends "layout_search.html" %}

{% block page_title %}
Careers Service - Skills match results
{% endblock %}

{% block content %}

	<main id="content" role="main">
		{% include "includes/phase_banner_alpha.html" %} {% include "includes/breadcrumb_para_match.html" %}
		<div class="grid-row">
			<div class="column-two-thirds">
				<h1 class="heading-xlarge">Match your skills</h1>
				<h2 class="heading-medium">You're a 70% match</h2>
				<p><progress max="100" value="70"></progress></p>
				<p>These results are based on a self assessment of your skills.</p>
				<p><a class="button" href="./experience-paralegal.html" role="button">Start your profile</a></p>
				<h2 class="heading-large">Still have some gaps</h2>				
				<ul class="list">
					<li>
						<a href="./paralegal#how-to-become">How to become a paralegal</a>
					</li>
					<li>
						<a href="./contact-an-adviser.html">Contact an adviser</a>
					</li>
				</ul>				
				<h2 class="heading-large">Not there yet</h2>
				<ul class="list">
					<li>
						<a href="./paralegal#how-to-become">How to become a paralegal</a>
					</li>
					<li>
						<a href="./job-profile-index.html">Try some other profiles</a>
					</li>
					<li>
						<a href="./contact-an-adviser.html">Contact an adviser</a>
					</li>
				</ul>
			</div>
		</div>
	</main>


{% endblock %}
