{% extends "layout.html" %}

{% block page_title %}
  National Careers Service
{% endblock %}

{% block content %}

<main id="content" role="main">
        {% include "includes/phase_banner_alpha.html" %} {% include
        "includes/breadcrumb_legal_research.html" %}
        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="heading-xlarge">Paralegal research</h1>
                <h2 class="heading-medium">Choose your status to view relevant results</h2>
                <p>Make a selection from 1 to 5:</p>

                <nav aria-label="skip to your situation" class="jump-links hybrid-links"
                role="navigation">
                    <div class="grid-row">
                        <div class="column-one-half">
                            <ol class="list list-number">
                                <li>
                                    <a href=
                                    "./paralegal-research-1.html#lacking-qualifications-or-skills">Lacking
                                    qualifications or skills</a>
                                </li>
                                <li>
                                    <a href="#access-to-work">Access
                                    to work</a>
                                </li>
                                <li>
                                    <a href=
                                    "./paralegal-research-3.html#qualified-with-no-experience">Qualified
                                    with no experience</a>
                                </li>
                            </ol>
                        </div>
                        <div class="column-one-half">
                            <ol class="list list-number" start="4">
                                <li>
                                    <a href="./paralegal-research-4.html#back-to-work">Get back to
                                    work or changing job</a>
                                </li>
                                <li>
                                    <a href="./paralegal-research-5.html#career-progression">Career
                                    progression</a>
                                </li>
                                <li>
                                    <a href="./paralegal-research-6.html#current-vacancies">Current
                                    vacancies</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </nav>
            </div>
                <div class="column-full">
                 <section id="access-to-work">
                    <h2 class="heading-large"><span>2.</span> Access to work</h2>
                    <div class="horizontal">
                        <ul class="list card">
                            <li class="big-border-box">
                                <p><img src="/public/images/Gazette_logo.png"
                                width="100%"  alt="Law society gazette logo"></p>
                                <p>With RNIB’s advice, I put in an application
                                for the disabled students allowance and went
                                back to university which was a big step to
                                becoming a lawyer.</p>
                                <p><a class="bold-xsmall" href=
                                "http://www.lawgazette.co.uk/analysis/features/my-life-as-a-blind-lawyer/5053771.fullarticle">
                                More information</a></p>
                            </li>
                            <li class="big-border-box">
                                <p><img src="/public/images/bbc_news_logo.png"
                                width="100%"  alt="BBC news logo"></p>
                                <p>Twenty-four-year-old Natalie Atkinson was a
                                persistent offender in her teens, but has
                                turned her life around.</p>
                                <p><a class="bold-xsmall" href=
                                "http://www.bbc.co.uk/news/magazine-26825569">More
                                information</a></p>
                            </li>
                            <li class="big-border-box">
                                <p><img src="/public/images/university-1.png"
                                width="100%"  alt="Manchester university logo"></p>
                                <p>We’re committed to providing equality of
                                opportunity through the best possible level of
                                support to students with disabilities.</p>
                                <p><a class="bold-xsmall" href=
                                "http://www.manchester.ac.uk/study/experience/student-life/university/student-support/disabilities/">
                                More information</a></p>
                            </li>
                            <li class="big-border-box">
                                <p><img src="/public/images/logo-tm.png" width=
                                "100%" alt="Linkedin logo"></p>
                                <p>Connect with these professional
                                organisations on LinkedIn.</p>
                                <p><a href=
                                "https://www.linkedin.com/company/national-association-of-licensed-paralegals">
                                National Association of Licensed
                                Paralegals</a></p>
                                <p></p>
                            </li>
                            <li class="big-border-box">
                                <p><img src="/public/images/Gazette_logo.png"
                                width="100%"  alt="Law society gazette logo"></p>
                                <p>I was tripping my way up the career ladder to make partnership: but three babies in four years scuppered those plans, at least temporarily.</p>
                                <p><a class="bold-xsmall" href="
                                http://www.lawgazette.co.uk/analysis/comment-and-opinion/tips-for-returning-to-a-legal-career/5058446.article">
                                More information</a></p>
                            </li>
                            <li class="big-border-box">
                                <p><img src="/public/images/manch.png" width=
                                "100%"  alt="Citizens advice manchester logo"></p>
                                <p>Citizens Advice Manchester offers free, confidential, impartial and independent advice and information on a wide range of subjects. </p>
                                <p><a class="bold-xsmall" href=
                                "http://www.citizensadvicemanchester.org.uk/">More
                                information</a></p>
                            </li>
                        </ul>
                    </div><!--dragscroll-->
                </section><!--section 2-->
                    <nav aria-label="Pagination" class="pagination form-group"
                role="navigation">
                    <ul class="list">
                        <li class="previous">
                            <a href="./paralegal-research-1.html#lacking-qualifications-or-skills" rel="prev" title=
                            "Navigate to previous section"><span class=
                            "pagination-label">Lacking qualifications or skills</span> <span class=
                            "pagination-part-title">1 of 6</span></a>
                        </li>
                        <li class="next">
                            <a href="./paralegal-research-3.html#qualified-with-no-experience" rel="next" title=
                            "Navigate to next section"><span class=
                            "pagination-label">Qualified with no experience</span><span class=
                            "pagination-part-title">3 of 6</span></a>
                        </li>
                    </ul>
                </nav>

            </div>

        </div>
    </main>

{% endblock %}
