{% extends "layout_landing_page.html" %}

{% block page_title %}
     National Careers Service
{% endblock %}

{% block content %}

<div class="welcome_block paralegal">
	<div class="home_content">
		<div class="grid-row">
               <div class="column-two-thirds">
                    <h1 class="heading-xlarge">Paralegal</h1>
                    <p class="lede">Paralegals prepare legal documents, carry out research and give legal advice to clients.</p>
               </div>
		</div>
	</div>
     <div class="row-divider"><span></span></div>
     <div class="wrapper"></div>
</div>


<main id="content" role="main">
     <!-- {% include "includes/phase_banner_alpha.html" %} -->
     <!-- {% include "includes/breadcrumb_legal.html" %} -->
     <div class="grid-row">
          <div class="column-full">
               <ul class="box-wrapper quarters">
                    <li class="big-border-box">
                         <div class="corner"></div>
                         <a href="">View Paralegal job profile</a>
                         <p>Interested in a job as a Paralegal?</p>
                         <p>We have much more information on the job role if you would like to know more.</p>
                    </li>
                    <li class="big-border-box">
                         <div class="corner"></div>
                         <a href="">Research Paralegal</a>
                         <p>We have created an entire research hub for anyone who wishes to know more about becoming
                         a Paralegal in their local area.</p>
                    </li>
                    <li class="big-border-box">
                         <div class="corner"></div>
                         <a href="">How to become a Paralegal</a>
                         <p></p>
                    </li>
                    <li class="big-border-box">
                         <div class="corner"></div>
                         <a href="">Preparing to become a Paralegal</a>
                    </li>
               </ul>
          </div>

          <!-- <div class="column-full">
               <hr>
          </div> -->

          <!-- <div class="column-two-thirds">
               <section>
                    <ul class="salaries">
                         <li>
                              <strong>Starter:</strong>
                              <div class="value">
                                   <span>£16,000 to £20,000</span>
                              </div>
                         </li>
                         <li>
                              <strong>Experienced:</strong>
                              <div class="value">
                                   <span>£20,000 to £30,000</span>
                              </div>
                         </li>
                         <li>
                              <strong>Highly experienced:</strong>
                              <div class="value">
                                   <span>Up to £40,000</span>
                              </div>
                         </li>
                    </ul>
               </section>
               <p class="grey font-xsmall">Last updated: 23 November 2016</p>
          </div> -->
     </div>
</main>

{% endblock %}
