{% extends "layout_profiles.html" %}

{% block page_title %}
     National Careers Service
{% endblock %}

{% block content %}

{% include "includes/new_navigation.html" %}

<div class="welcome_block content-page">
	<div class="home_content">

          <div class="breadcrumbs">
               <ol>
                    <li><a href="/index">Home</a></li>
                    <li><a href="/">Education and training</a></li>
                    <li><a href="/playworker">Playworker</a></li>
               </ol>
          </div>

		<div class="grid-row">
               <div class="column-full">
                    <h1 class="heading-xlarge">
                         Playworker
                         <span class="heading-secondary">Also known as: After school worker, Nursery worker, Childcare</span>
                    </h1>
                    <div class="border"></div>
                    <p class="lede">
                         Playworkers plan, organise and take part in play and leisure activities for children between 4 and 16.
                    </p>
               </div>
		</div>
          <div class="grid-row">
               <div class="column-one-half">
                    <section class="salary">
                         <span class="icon"></span>
                         <div class="main-intro">
                              <h1 class="lede">Salary</h1>
                              <span class="border"></span>
                              <p class="bold-medium">£12,000 to £30,000</p>
                              <p class="lede">average per year</p>
                         </div>
                    </section>
               </div>
               <div class="column-one-half">
                    <section class="hours">
                         <span class="icon"></span>
                         <div class="main-intro">
                              <h1 class="lede">Hours</h1>
                              <span class="border"></span>
                              <p class="bold-medium">35 to 40</p>
                              <p class="lede">hours per week</p>
                         </div>
                    </section>
               </div>
          </div>
	</div>
     <div class="row-divider"><span></span></div>
     <!-- <div class="wrapper"></div> -->
</div>

<main id="content" role="main">

     <div id="sidebar">
	     <div class="grid-row">
	          <div class="column-full">
				<div id="scroller-anchor"></div>
				<div id="scroller">
		               <nav aria-label="skip to your documents" class="jump-links hybrid-links" role="navigation">
		                    <div class="grid-row">
		                         <div class="column-one-third">
		                              <ol class="list list-number">
		                                   <li>
		                                        <a href="#entry-requirements">Entry requirements</a>
		                                   </li>
		                                   <li>
		                                        <a href="#skills-required">Skills required</a>
		                                   </li>
		                              </ol>
		                         </div>
		                         <div class="column-one-third">
		                              <ol class="list list-number" start="3">
		                                   <li>
		                                        <a href="#what-youll-do">What you'll do</a>
		                                   </li>
		                                   <li>
		                                        <a href="#salary">Salary</a>
		                                   </li>
		                              </ol>
		                         </div>
		                         <div class="column-one-third">
		                              <ol class="list list-number" start="5">
		                                   <li>
		                                        <a href="#working-hours-patterns-and-environment">Working hours, patterns and environment</a>
		                                   </li>
		                                   <li>
		                                        <a href="#career-path-and-progression">Career path and progression</a>
		                                   </li>
		                                   <!-- <li>
		                                        <a href="#current-vacancies">Current vacancies</a>
		                                   </li> -->
		                                   <!-- <li>
		                                        <a href="#research">Research portal</a>
		                                   </li> -->
		                              </ol>
		                         </div>
		                    </div>
		               </nav>
				</div>
	          </div>
	     </div>
	</div>

     <div class="grid-row">
          <div class="column-two-thirds">

               <div class="video-container">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/fF45QCVlurs" frameborder="0" allowfullscreen></iframe>
               </div>

               <div class="panel panel-border-wide">
				<p>
					This video is 3 minutes and 59 seconds long
				</p>
			</div>

               <section id="entry-requirements">
                    <h2 class="heading-large"><span>1.</span> Entry requirements</h2>
                    <p>
                         You don’t need any formal qualifications, but it will help if you have some experience,
                         either paid or as a volunteer. You could prepare for this job by taking a college course in playwork.
                    </p>
                    <p>
                         You'll need:
                    </p>
                    <ul class="list list-bullet">
                         <li>
                              to get on well with children, parents and carers
                         </li>
                         <li>
                              patience and tolerance
                         </li>
                         <li>
                              a responsible and caring attitude
                         </li>
                         <li>
                              to be active and fairly fit
                         </li>
                    </ul>
                    <p>
                         Before you start paid or voluntary work, you'll need to pass background checks from the
                         <a href="https://www.gov.uk/disclosure-barring-service-check">Disclosure and Barring Service</a> (DBS).
                    </p>
                    <p>
                         You could get into this job through an <a href="https://www.gov.uk/apprenticeships-guide">apprenticeship</a>.
                    </p>

                    <hr>

                    <div class="notice info">
                         <i class="icon icon-important">
                              <span class="visually-hidden">Information</span>
                         </i>
                         <strong class="bold-small">
                              Apprenticeships are available to anyone over the age of 16
                         </strong>
                    </div>
				<p>
                         Employers may be entitiled to get <a href="https://www.gov.uk/government/collections/apprenticeship-changes">funding to support this</a>. Or anyone over 24 may be able to apply for
                         an <a href="https://www.gov.uk/advanced-learner-loan/overview">advanced learner loan</a>, to help fund an apprenticeship.
                    </p>
               </section><!--section 1-->
               <section id="skills-required">
                    <h2 class="heading-large"><span>2.</span> Skills required</h2>
                    <p>
                         You'll need:
                    </p>
                    <ul class="list list-bullet">
                         <li>good listening skills</li>
                         <li>creativity, to plan interesting play sessions</li>
                         <li>the ability to work well as part of a team</li>
                         <li>good organisational skills</li>
                    </ul>
               </section><!--section 2-->
               <section id="what-youll-do">
                    <h2 class="heading-large"><span>3.</span> What you'll do</h2>
                    <p>
                         Your day-to-day duties may include:
                    </p>
                    <ul class="list list-bullet">
                         <li>
                              arranging art, crafts, cooking and drama activities
                         <li>
                              playing outdoor games with children
                         </li>
                         </li>
                         <li>
                              taking children on outings
                         <li>
                              encouraging children to be independent
                         </li>
                         <li>
                              planning activities with the children
                         </li>
                         <li>
                              providing play areas, materials and equipment
                         </li>
                         <li>
                              talking to children about their concerns or worries
                         </li>
                         <li>
                              dealing with injuries and emergencies
                         </li>
                         <li>
                              liaising with parents, carers, and sometimes other professionals
                         </li>
                         <li>
                              keeping records and looking after petty cash
                         </li>
                    </ul>
               </section><!--section 3-->
               <section id="salary">
                    <h2 class="heading-large"><span>4.</span> Salary</h2>
                    <ul class="salaries two-thirds">
                         <li>
                              <strong>Starter:</strong>
                              <div class="value">
                                   <span>£12,000 or more</span>
                              </div>
                         </li>
                         <li>
                              <strong>Experienced:</strong>
                              <div class="value">
                                   <span>£20,000</span>
                              </div>
                         </li>
                         <li>
                              <strong>Highly experienced:</strong>
                              <div class="value">
                                   <span>£25,000 to £30,000*</span>
                              </div>
                              <p>* Manager</p>
                         </li>
                    </ul>
                    <p>
                         If you work part-time, you may be paid pro-rata (a percentage of the full-time salary)
                         or on an hourly basis.
                    </p>
                    <p>
                         These figures are a guide.
                    </p>

                    <hr>

                    <h2 class="heading-medium">Use our salary calculator</h2>

                    <p>
                         We can help to give you an idea as to what you could earn based on your age, location &amp; qualifications.
                    </p>

                    <a href="/salary-calculator?SOC=6123" class="button">How much can I earn?</a>

               </section><!--section 4 -->
               <section id="working-hours-patterns-and-environment">
                    <h2 class="heading-large"><span>5.</span> Working hours, patterns and environment</h2>
                    <p>
                         Most playwork is in the evenings, at weekends and during school holidays.
                    <p>
                         You'll probably be working indoors and outdoors, depending on location and the type of
                         activity. Your work will usually be very active, and can involve joining in with games and sports.                    </p>
                    </p>
               </section><!--section 5-->
               <section id="career-path-and-progression">
                    <h2 class="heading-large"><span>6.</span> Career path and progression</h2>
                    <p>
                         With experience and training, you could become a manager or work for a local authority as a
                         playwork development officer.
                    </p>
               </section><!--section 6-->
               <p class="grey font-xsmall">Last updated: 25 July 2016</p>
          </div>
          <div class="column-one-third">
               {% include "includes/sidebar.html" %}
          </div>
     </div>
</main>

<section class="what-next">
     <div class="home_content">
          <div class="grid-row">
               <div class="column-full">
                    <h1 class="heading-xlarge">So what next?</h1>
               </div>
          </div>
          <div class="grid-row">
               <div class="column-one-third">
                    <h2 class="heading-medium">Research Playworker</h2>
                    <p>
                         We have created an entire research hub for anyone who wishes to know more about becoming
                         a Playworker in their local area.
                    </p>
                    <a class="button button-start" href="set-location-paralegal.html" role="button">Research</a>
               </div>
               <div class="column-one-third">
                    <h2 class="heading-medium">How to become a Playworker</h2>
                    <p>
                         Not everyone has the same journey to their perfect career, but we can help you along the right path.
                    </p>
                    <a class="button button-start" href="how-to-become.html" role="button">Become</a>
               </div>
               <div class="column-one-third">
                    <h2 class="heading-medium">Preparing to become a Playworker</h2>
                    <p>
                         Helping to prepare you for a career as a Playworker is what we’re here for.
                    </p>
                    <a class="button button-start" href="resources.html" role="button">Prepare</a>
               </div>
          </div>
     </div>
</section>

<section class="testimonial">
     <div class="home_content">
          <div class="grid-row">
               <div class="column-full">
                    <img src="/public/images/worker-3.jpg" alt="Stephanie Hayes, Playworker">
                    <div class="text-wrap">
                         <h1 class="heading-medium">
                              I love being a Playworker, if offers me such a diverse range of work, it always
                              keeps me on my toes. You need to work hard but you are rewarded for what you put in.
                         </h1>
                         <h2 class="heading-small turquoise-text">Blue Strawberry</h2>
                         <p class="grey font-xsmall">Stephanie Hayes - Playworker</p>
                    </div>
               </div>
          </div>
          <!-- <span class="quote one"></span>
          <span class="quote two"></span> -->
     </div>
</section>

<section class="extra-content">
     <div class="home_content">
          <div class="grid-row">
               <div class="column-one-third">
                    <hr>
                    <h1 class="heading-medium">Apply for jobs</h1>
                    <p class="grey font-small">Below are some Stephanie Hayes jobs that are local to you in Newcastle</p>
                    <h4 class="heading-small">
                         <a href="#">Dive Instructor</a>
                    </h4>
                    <ul class="list">
                         <li>
                              Location: Newcastle<br>
                              Type: Full time<br>
                              Salary: £22,000.00 per year
                         </li>
                    </ul>
                    <h4 class="heading-small">
                         <a href="#">Marine Spread Operations Manager</a>
                    </h4>
                    <ul class="list">
                         <li>
                              Location: Newcastle<br>
                              Type: Full time<br>
                              Salary: £15,000 - £30,000 a year
                         </li>
                    </ul>
                    <a href="#">Find more jobs</a>
               </div>
               <div class="column-one-third">
                    <hr>
                    <h1 class="heading-medium">Find a course</h1>
                    <p class="grey font-small">Where can I get the skill &amp; qualifications I need to get the job?</p>
                    <h4 class="heading-small">
                         <a href="#">BSc Marine Biology with Oceanography</a>
                    </h4>
                    <ul class="list">
                         <li>
                              Location: Newcastle<br>
                              Duration: 3 years<br>
                              Course type: Full time<br>
                              Qualification: Degree
                         </li>
                    </ul>
                    <a href="#">Get more skills &amp; Qualifications</a>
               </div>
               <div class="column-one-third">
                    <hr>
                    <h1 class="heading-medium">Take the next step</h1>
                    <p class="grey font-small">How can I progress my career?</p>
                    <h4 class="heading-small">
                         <a href="#">Playworker</a>
                    </h4>
                    <p>From Playworker you could become a qualified Nursery owner</p>
                    <a href="#">Become self-employed</a>
               </div>
          </div>

          <!-- <hr> -->

          <div class="grid-row">
               <div class="column-one-third">
                    <hr>
                    <h1 class="heading-medium">Apply for an apprenticeship</h1>
                    <p class="grey font-small">Get your foot in the door and start your career with these Apprenticeships &amp; internships</p>
                    <ul class="list">
                         <li>
                              You could earn and learn by doing an <a href="#">apprenticeship</a>
                         </li>
                    </ul>
                    <a href="#">Find more apprenticeships</a>
               </div>
               <div class="column-one-third">
                    <hr>
                    <h1 class="heading-medium">Apply for a traineeship</h1>
                    <p class="grey font-small">Why not start your career with a traineeship</p>
                    <ul class="list">
                         <li>
                              If you’re not ready for an apprenticeship you could do a <a href="#">traineeship</a> which may lead into an apprenticeship
                         </li>
                    </ul>
                    <a href="#">Find more traineeship</a>
               </div>
               <div class="column-one-third">
                    <hr>
                    <h1 class="heading-medium">Contact us</h1>
                    <p class="grey font-small">Do you just want to speak to someone who can help?</p>
                    <h4 class="heading-small">
                         <a href="#" class="email"><span></span> careers@sfa.bis.gov.uk</a>
                    </h4>
                    <h4 class="heading-small">
                         <a href="#" class="phone"><span></span> 0123 456 789</a>
                    </h4>
                    <br>
                    <h1 class="heading-medium">National Careers Service</h1>
                    <h4 class="heading-small">
                         <a href="#">Job profiles search</a>
                    </h4>
                    <h4 class="heading-small">
                         <a href="#">Find a course</a>
                    </h4>
               </div>
          </div>

     </div>
</section>

{% endblock %}
