{% extends "layout_landing_page.html" %}

{% block page_title %}
     National Careers Service - Search job profiles
{% endblock %}

{% block content %}

<div class="welcome_block search">
	<div class="home_content">
		<div class="grid-row">
			<div class="column-two-thirds">
				<h1 class="heading-xlarge">Search job profiles</h1>
                    <p class="lede">We've profiles on over 870 different types of job, from archivist to zoologist.</p>
                    <form method="get" action="/paralegal_intro">
                         <div class="form-group">
                              <label for="search-main" class="visually-hidden">Enter a job title</label>
                              <input class="form-control" id="autocomplete_home" name="" placeholder="eg paralegal" type="search">
                              <button class="search" type="submit">Search</button>
                         </div>
                    </form>
			</div>
		</div>
	</div>
</div>

<main id="content" role="main">
     <!-- {% include "includes/phase_banner_alpha.html" %} -->
     <!-- {% include "includes/breadcrumb_home.html" %} -->
     <div class="grid-row">
          <div class="column-full">
               <h2 class="heading-large">Or explore our 10 most popular job profiles</h2>
               <p>We've so many job profiles for you to look through, so why not look at out top 10. Maybe they might inspire you
               into a career that you might not have thought of?</p>
          </div>
     </div>

     <div class="panel panel-border-wide hybrid">
          <div class="grid-row">
               <div class="column-one-third">
                    <img src="../public/images/profiles/image-8.jpg" alt="Plumber">
               </div>
               <div class="column-two-thirds">
                    <a href="/plumber">
                         <p class="bold-xxlarge">1.</p>
                         <h3 class="heading-medium">Plumber</h3>
                         <p>Plumbers fit and service heating systems.</p>
                    </a>
               </div>
          </div>
     </div>

     <div class="panel panel-border-wide hybrid">
          <div class="grid-row">
               <div class="column-one-third">
                    <img src="../public/images/profiles/image-7.jpg" alt="Diver">
               </div>
               <div class="column-two-thirds">
                    <a href="/diver">
                         <p class="bold-xxlarge">2.</p>
                         <h3 class="heading-medium">Diver</h3>
                         <p>Divers work underwater at sea, or in rivers, lakes, canals
                         and reservoirs.</p>
                    </a>
               </div>
          </div>
     </div>

     <div class="panel panel-border-wide hybrid">
          <div class="grid-row">
               <div class="column-one-third">
                    <img src="../public/images/profiles/image-5.jpg" alt="Credit controller">
               </div>
               <div class="column-two-thirds">
                    <a href="/credit-controller">
                         <p class="bold-xxlarge">3.</p>
                         <h3 class="heading-medium">Credit controller</h3>
                         <p>Credit controllers help firms get the money they're owed
                         from businesses and individuals.</p>
                    </a>
               </div>
          </div>
     </div>

     <div class="panel panel-border-wide hybrid">
          <div class="grid-row">
               <div class="column-one-third">
                    <img src="../public/images/profiles/image-2.jpg" alt="Paralegal">
               </div>
               <div class="column-two-thirds">
                    <a href="/paralegal">
                         <p class="bold-xxlarge">4.</p>
                         <h3 class="heading-medium">Paralegal</h3>
                         <p>Paralegals prepare legal documents, carry out research and
                         give legal advice to clients.</p>
                    </a>
               </div>
          </div>
     </div>

     <div class="panel panel-border-wide hybrid">
          <div class="grid-row">
               <div class="column-one-third">
                    <img src="../public/images/profiles/image-3.jpg" alt="Chef">
               </div>
               <div class="column-two-thirds">
                    <a href="/chef">
                         <p class="bold-xxlarge">5.</p>
                         <h3 class="heading-medium">Chef</h3>
                         <p>Chefs prepare and cook food.</p>
                    </a>
               </div>
          </div>
     </div>

     <div class="panel panel-border-wide hybrid">
          <div class="grid-row">
               <div class="column-one-third">
                    <img src="../public/images/profiles/image-4.jpg" alt="Publican">
               </div>
               <div class="column-two-thirds">
                    <a href="/publican">
                         <p class="bold-xxlarge">6.</p>
                         <h3 class="heading-medium">Publican</h3><span class="grey">Pub landlord,
                         licensee, manager of licensed premises</span>
                         <p>Publicans, or pub landlords, manage licensed premises like
                         pubs and bars.</p>
                   </a>
               </div>
          </div>
     </div>

     <div class="panel panel-border-wide hybrid">
          <div class="grid-row">
               <div class="column-one-third">
                    <img src="../public/images/profiles/image-5.jpg" alt="Bank manager">
               </div>
               <div class="column-two-thirds">
                    <a href="/bank-manager">
                         <p class="bold-xxlarge">7.</p>
                         <h3 class="heading-medium">Bank manager</h3>
                         <span class="grey">Building society manager, financial institution manager or director</span>
                         <p>Bank managers oversee the day-to-day operations of their
                         branch, supervise staff and work to attract new customers.</p>
                    </a>
               </div>
          </div>
     </div>

     <div class="panel panel-border-wide hybrid">
          <div class="grid-row">
               <div class="column-one-third">
                    <img src="../public/images/profiles/image-10.jpg" alt="Medical secretary">
               </div>
               <div class="column-two-thirds">
                    <a href="/medical-secretary">
                         <p class="bold-xxlarge">8.</p>
                         <h3 class="heading-medium">Medical secretary</h3>
                         <p>Medical secretaries provide office support in hospitals, GP
                         surgeries and universities.</p>
                    </a>
               </div>
          </div>
     </div>

     <div class="panel panel-border-wide hybrid">
          <div class="grid-row">
               <div class="column-one-third">
                    <img src="../public/images/profiles/image-6.jpg" alt="Bank manager">
               </div>
               <div class="column-two-thirds">
                    <a href="/bank-manager">
                         <p class="bold-xxlarge">9.</p>
                         <h3 class="heading-medium">Pensions advisor</h3>
                         <span class="grey">Pensions consultant</span>
                         <p>Pensions advisers help people to plan for financial security in retirement.</p>
                    </a>
               </div>
          </div>
     </div>

     <div class="panel panel-border-wide hybrid">
          <div class="grid-row">
               <div class="column-one-third">
                    <img src="../public/images/profiles/image-12.jpg" alt="Nanny">
               </div>
               <div class="column-two-thirds">
                    <a href="/medical-secretary">
                         <p class="bold-xxlarge">10.</p>
                         <h3 class="heading-medium">Nanny</h3>
                         <p>Nannies work in private homes caring for their employer’s babies and young children.</p>
                    </a>
               </div>
          </div>
     </div>
</main>

{% endblock %}
