{% extends "layout.html" %}

{% block page_title %}
  National Careers Service - Book this
{% endblock %}

{% block content %}

<main id="content" role="main">
		{% include "includes/phase_banner_alpha.html" %}
        {% include "includes/breadcrumb_resources.html" %}   
        {% include "includes/main_navigation.html" %}
		<div class="grid-row">
			<div class="column-two-thirds">
                <div id="all_divs">
                <div class="prepare_content prepare">
			<h2 class="heading-large">Prepare for a job</h2>
                <p>Our careers advisers have written the following guides to help you:</p>
                <ul class="list list-bullet">
                    <li><a href="./sample-cv.html">writing your CV</a></li>
                    <li><a href="./interview.html">what to do in an interview</a></li>
                    <li><a href="./interview-skills.html">interview skills</a></li>
                    <li><a href="./sample-application-letters.html">completing application forms</a></li>
                    <li><a href="./redundancy.html">redundancy</a></li>
                </ul>
                </div>
                <div class="prepare_content professional">
			<h2 class="heading-large">Professional development</h2>
                <p>Our careers advisers have written the following guides to help you:</p>
                <ul class="list list-bullet">
                    <li><a href="./sample-cv.html">writing your CV</a></li>
                    <li><a href="./interview.html">what to do in an interview</a></li>
                    <li><a href="./interview-skills.html">interview skills</a></li>
                    <li><a href="./sample-application-letters.html">completing application forms</a></li>
                    <li><a href="./redundancy.html">redundancy</a></li>
                </ul>
                </div>
                <div class="prepare_content personal">
			<h2 class="heading-large">Personal circumstances</h2>
                <p>Our careers advisers have written the following guides to help you:</p>
                <ul class="list list-bullet">
                    <li><a href="./sample-cv.html">writing your CV</a></li>
                    <li><a href="./interview.html">what to do in an interview</a></li>
                    <li><a href="./interview-skills.html">interview skills</a></li>
                    <li><a href="./sample-application-letters.html">completing application forms</a></li>
                    <li><a href="./redundancy.html">redundancy</a></li>
                </ul>
                </div>
                <div class="prepare_content apprenticeships">
			<h2 class="heading-large">Apprenticeships</h2>
                <p>Our careers advisers have written the following guides to help you:</p>
                <ul class="list list-bullet">
                    <li><a href="./sample-cv.html">writing your CV</a></li>
                    <li><a href="./interview.html">what to do in an interview</a></li>
                    <li><a href="./interview-skills.html">interview skills</a></li>
                    <li><a href="./sample-application-letters.html">completing application forms</a></li>
                    <li><a href="./redundancy.html">redundancy</a></li>
                </ul>
                </div>
                <div class="prepare_content under25">
			<h2 class="heading-large">Under 25</h2>
                <p>Our careers advisers have written the following guides to help you:</p>
                <ul class="list list-bullet">
                    <li><a href="./sample-cv.html">writing your CV</a></li>
                    <li><a href="./interview.html">what to do in an interview</a></li>
                    <li><a href="./interview-skills.html">interview skills</a></li>
                    <li><a href="./sample-application-letters.html">completing application forms</a></li>
                    <li><a href="./redundancy.html">redundancy</a></li>
                </ul>
                </div>
                </div><!--all divs-->
			</div>
		</div>
	</main>

{% endblock %}


