{% extends "layout_home.html" %}

{% block page_title %}
  National Careers Service
{% endblock %}

{% block content %}

{% include "includes/new_navigation.html" %}

<main id="content" role="main">
        {% include  "includes/breadcrumb_legal_research.html" %}
        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="heading-xlarge">Paralegal research</h1>
                <p>Research information about paralegals and the legal services industry.  This will help you get a better understanding of the skills needed, general responsibilities and whether it matches your interests, strengths and personality.</p>
                <p>Enter a location for more personalised results.</p>
                <div class="form-group">
                    <label class="form-label-bold" for=
                    "example-form-label-bold">Location <span class=
                    "form-hint">Enter your closest large city or postcode, eg
                    London</span></label> <input class="form-control" id=
                    "example-form-label-bold" type="text" value="Manchester">
                </div>
                <div class="form-group">
                    <a class="button" href="/paralegal-research-1.html" role=
                    "button">Save and continue</a>
                </div>
                <p>or return to the <a href="/paralegal2.html">paralegal job
                profile</a>.</p>
                <p class="grey font-xsmall">Last updated: 25 October 2016</p>
            </div>
            <div class="column-one-third"></div>
        </div>
    </main>

{% endblock %}
