{% extends "layout_search.html" %}

{% block page_title %}
Careers Service - Soft skills
{% endblock %}

{% block content %}

<main id="content" role="main">
		{% include "includes/phase_banner_alpha.html" %} {% include "includes/breadcrumb_para_match.html" %}
		<div class="grid-row">
			<div class="column-two-thirds">
				<h1 class="heading-xlarge">Add your soft skills</h1>
				<form>
					<h2 class="heading-medium">1. [Soft Skill]</h2>
					<p>[Ask user to describe how they’ve used this skill in work or voluntary situations or in life.]</p>
					<div class="form-group">
						<label class="form-label" for="textarea-a">Experience</label> 
						<textarea class="form-control w100" cols="30" id="textarea-a" rows="4"></textarea>
					</div>
					<p>[Ask user to give one example of an achievement using this skill.]</p>
					<div class="form-group">
						<label class="form-label" for="textarea-b">Achievement</label> 
						<textarea class="form-control w100" cols="30" id="textarea-b" rows="4"></textarea>
					</div>
					<h2 class="heading-medium">2. [Soft Skill]</h2>
					<p>[Ask user to describe how they’ve used this skill in work or voluntary situations or in life.]</p>
					<div class="form-group">
						<label class="form-label" for="textarea-c">Experience</label> 
						<textarea class="form-control w100" cols="30" id="textarea-c" rows="4"></textarea>
					</div>
					<p>[Ask user to give one example of an achievement using this skill.]</p>
					<div class="form-group">
						<label class="form-label" for="textarea-d">Achievement</label> 
						<textarea class="form-control w100" cols="30" id="textarea-d" rows="4"></textarea>
					</div>
					<h2 class="heading-medium">3. [Soft Skill]</h2>
					<p>[Ask user to describe how they’ve used this skill in work or voluntary situations or in life.]</p>
					<div class="form-group">
						<label class="form-label" for="textarea-e">Experience</label> 
						<textarea class="form-control w100" cols="30" id="textarea-c" rows="4"></textarea>
					</div>
					<p>[Ask user to give one example of an achievement using this skill.]</p>
					<div class="form-group">
						<label class="form-label" for="textarea-f">Achievement</label> 
						<textarea class="form-control w100" cols="30" id="textarea-d" rows="4"></textarea>
					</div>
					<h2 class="heading-medium">4. [Soft Skill]</h2>
					<p>[Ask user to describe how they’ve used this skill in work or voluntary situations or in life.]</p>
					<div class="form-group">
						<label class="form-label" for="textarea-f">Experience</label> 
						<textarea class="form-control w100" cols="30" id="textarea-c" rows="4"></textarea>
					</div>
					<p>[Ask user to give one example of an achievement using this skill.]</p>
					<div class="form-group">
						<label class="form-label" for="textarea-g">Achievement</label> 
						<textarea class="form-control w100" cols="30" id="textarea-d" rows="4"></textarea>
					</div>
				</form>
				<h2 class="heading-medium">Download</h2>
				<p>[Explain to users that they can download a pdf of their skills profile.]</p>
				<p><a class="button" href="/public/downloads/sample.pdf" role="button" target="_blank">Get PDF of skills profile</a></p>
			</div>
			<div class="column-one-third">
				<p>If you need more help filling in an application form or writing your CV our <a href="/contact-an-adviser">careers advisers</a> are available to offer you advice and guidance.</p>
			</div>
		</div>
	</main>


{% endblock %}
