{% extends "layout_home.html" %}

{% block page_title %}
  National Careers Service - Explore
{% endblock %}

{% block content %}

<div class="welcome_block alpha-block">
	<div class="home_content">
		{% include "includes/phase_banner_alpha.html" %}
	</div>
</div>

<div class="welcome_block sub-header">
	<div class="home_content">
		<div class="grid-row">
			<div class="column-two-thirds">
				<h1 class="heading-xlarge">Explore</h1>
                    <span class="border"></span>
				<h2 class="heading-large">We've over 870 job profiles waiting for you to discover</h2>
				<p class="lede">Take our quick explore tour and in less than 5 mins you could set yourself along new career path.</p>
			</div>
		</div>
	</div>
     <div class="row-divider"><span></span></div>
</div>
	<main id="content" role="main">
		<div class="grid-row">
			<div class="column-full">
				<h3 class="heading-large">How the explore tool works</h3>
				<div class="grid-row explore">
					<div class="column-one-half">
						<p><img alt="Select your 5 personality traits" src="./public/images/index-icon-1.svg" width="100%"></p>
					</div>
					<div class="column-one-half">
						<h4 class="heading-medium"><span>1.</span> We'll ask you 5 simple questions</h4>
						<p>Enter your hobbies and interests and other attributes important to you.</p>
					</div>
				</div>
				<div class="grid-row explore">
                    <div class="column-one-half">
						<p><img alt="We'll then show you some job profiles" src="./public/images/index-icon-2.svg" width="100%"></p>
					</div>
					<div class="column-one-half">
						<h4 class="heading-medium"><span>2.</span> We'll then show you some job profiles</h4>
						<p>You'll be shown a selection of job profiles to shortlist.</p>
					</div>
				</div>
				<div class="grid-row explore">
					<div class="column-one-half">
						<p><img alt="Take a look at the job profiles" src="./public/images/index-icon-3.svg" width="100%"></p>
					</div>
					<div class="column-one-half">
						<h4 class="heading-medium"><span>3.</span> Explore your shortlist of job profiles</h4>
						<p>View recommended job profiles.</p>
					</div>
				</div>
				<div class="grid-row">
					<div class="column-two-thirds">
						<p><a class="button button-start" href="./explore-part-1a.html" role="button">Start exploring</a></p>
					</div>
				</div>
			</div>
		</div>
	</main>

{% endblock %}
