{% extends "layout.html" %}

{% block page_title %}
  National Careers Service - Writing your CV
{% endblock %}

{% block content %}

<main id="content" role="main">
		{% include "includes/phase_banner_alpha.html" %}
    {% include "includes/breadcrumb_home.html" %}
		<div class="grid-row">
			<div class="column-two-thirds">
			<h1 class="heading-xlarge">Writing your CV</h1>
                <p class="lede">Your CV is often how you make a first impression on an employer. It needs to put across the right message, have the right presentation, and have no mistakes.</p>
                <p>Employers receive lots of CVs and have to decide quickly who they're going to interview.</p>
                <p>Here are some ways to make your CV stand out for all the right reasons.</p>
                <h2 class="heading-medium">Avoid typing errors, poor spelling and grammar</h2>
                <p>Mistakes can make it seem like you haven't put the time in, or you don't think details are important. A tidy, mistake-free CV creates the impression that you're professional, thorough and care about how you come across.</p>
                <p>It's a good idea to have your CV checked by someone whose English is good, even if yours is good too. Spellcheckers can miss things, like the difference between 'stakeholder' and 'steak-holder'.</p>
                <h2 class="heading-medium">List achievements, not duties</h2>
                <p>Your CV should sell your achievements as an individual.</p>
                <p>Phrases like 'responsible for ordering stock' can make your CV read like a job description. Instead, describe what you did and what the positive outcome was, like, 'by closely monitoring sales trends and stock levels, I reduced out of stock instances by 21%'.</p>
                <p>Using 'active' language instead of 'passive' language makes your CV sound more dynamic. An example is changing 'involved in the promotion of the company at  industry events...' to    'I promoted the company at industry events...' This makes you sound like a 'doer', rather than someone who was just 'involved'.</p>
                <h2 class="heading-medium">Tailor your CV</h2>
                <p>Avoid sending out the same CV to hundreds of employers. Mass mailshots can sound generaland unfocused and employers can spot them.</p>
                <p>Instead, tailor your CV to sell your most relevant skills. Consider what skills the employer might be looking for, and highlight your relevant experience. </p>
                <p>For example, if you've got experience in retail and care work, and you're applying for a job in  a shop, make sure your retail experience is more  prominent in your CV than the care experience.</p>
                <h2 class="heading-medium">Make it visually appealing and easy to read</h2>
                <p>Don't include so much information that it makes your CV looks cluttered. Avoid long paragraphs with very little white space.</p>
                <p>Bullet pointed lists and short sentences make your CV easier to read and easier for recruiters to scan for key points.</p>
                <p>You don't need to print your CV on bright coloured paper or over a picture. A 'daring' visual approach is only really suitable for creative jobs. Also, don't mix up your fonts for visual effect because it can look messy and disorganised.</p>
                <h2 class="heading-medium">Avoid making your CV too long or too short</h2>
                <p>The rule of thumb is that a CV should be no more than 2 pages long. If you've a lot of    relevantexperience at a high level, however, you can go over 2 pages.</p>
                <p>If you're just starting out in your career, 1 page is fine. If your CV goes back a long way into yourwork history, make sure the information is relevant to the job you're applying for. A Saturday job you had 20 years ago probably isn't relevant.</p>
                <h2 class="heading-medium">Download an example CV template</h2>
                <p>All our templates are in hosted in <a href="https://www.google.co.uk/docs/about/">google documents</a> and can be downloaded in various formats.</p>                
                <ul class="list">
                <li>
                    <p><a href="#">Sample CV template (Teaching assistant)</a></p>
                </li>
                <li>
                    <p><a href="#">Sample CV template (Paralegal)</a></p>
                </li>
                <li>
                    <p><a href="#">Sample CV template (Pharmacy technician)</a></p>
                </li>
                </ul>
            </div>     
		</div>
	</main>

{% endblock %}


